/* line 2, ../../sass/vendors/_extend.scss */
.layout-accordion .accordion-list {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../../sass/vendors/_extend.scss */
.layout-content:before, .heading-icon:before, .layout-content:after, .heading-icon:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.layout-content:after, .heading-icon:after {
  clear: both;
}

/* line 1, ../../sass/module/_clause.scss */
.layout-content {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.8;
  padding-bottom: 55px;
  width: 100%;
}
/* line 8, ../../sass/module/_clause.scss */
.layout-content.style-upper {
  padding-bottom: 0;
}
/* line 11, ../../sass/module/_clause.scss */
.layout-content.style-fullsize {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 20, ../../sass/module/_clause.scss */
.layout-content.style-fullmylist {
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 32, ../../sass/module/_clause.scss */
.layout-content .module-clause {
  padding-right: 0;
  padding-left: 0;
}
/* line 36, ../../sass/module/_clause.scss */
.layout-content .module-clause-title {
  font-size: 1em;
}
/* line 39, ../../sass/module/_clause.scss */
.layout-content p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 43, ../../sass/module/_clause.scss */
.layout-content h1 {
  font-size: 1.2em;
  font-weight: bolder;
}
/* line 46, ../../sass/module/_clause.scss */
.layout-content h1.large {
  font-size: 1.5em;
  line-height: 1.4;
}
/* line 51, ../../sass/module/_clause.scss */
.layout-content h2 {
  font-size: 1em;
}
/* line 54, ../../sass/module/_clause.scss */
.layout-content h3 {
  font-size: 1em;
}
/* line 57, ../../sass/module/_clause.scss */
.layout-content h4 {
  color: #c8242b;
  font-size: 1em;
}
/* line 61, ../../sass/module/_clause.scss */
.layout-content .mb1 {
  margin-bottom: 2.8em;
}
/* line 64, ../../sass/module/_clause.scss */
.layout-content .mb2 {
  margin-bottom: 5.6em;
}

/* line 70, ../../sass/module/_clause.scss */
.heading-icon:before {
  content: '';
  float: left;
  display: block;
  margin-top: 4px;
  margin-right: 5px;
  background-image: url("/assets/images/logo-black.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.46em;
  height: 1.6em;
}

/* line 82, ../../sass/module/_clause.scss */
.clause-level-1 {
  list-style-type: cjk-ideographic;
  list-style-position: inside;
}

/* line 86, ../../sass/module/_clause.scss */
.clause-level-2 {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 91, ../../sass/module/_clause.scss */
.clause-level-3 {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 96, ../../sass/module/_clause.scss */
.clause-level-4 {
  list-style-type: lower-roman;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 101, ../../sass/module/_clause.scss */
.appendix-text {
  color: #606060;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8;
}

/* line 107, ../../sass/module/_clause.scss */
.tcenter {
  text-align: center;
}

/* line 110, ../../sass/module/_clause.scss */
.uline {
  text-decoration: underline;
}

/* line 113, ../../sass/module/_clause.scss */
.warning-color {
  color: #e92567;
}

/* line 116, ../../sass/module/_clause.scss */
.warning-color2 {
  color: #00a651;
}

/* line 120, ../../sass/module/_clause.scss */
.normal-color {
  color: black;
}

/* line 123, ../../sass/module/_clause.scss */
.pb0 {
  padding-bottom: 0;
}

/* line 126, ../../sass/module/_clause.scss */
.pt1 {
  padding-top: 1em;
}

/* line 129, ../../sass/module/_clause.scss */
.style-small {
  font-size: 0.7em;
}

/* line 132, ../../sass/module/_clause.scss */
.style-alignright {
  text-align: right;
}

/* line 135, ../../sass/module/_clause.scss */
ul.style-decimal {
  list-style-type: decimal;
}

/* line 1, ../../sass/module/_table.scss */
.module-table {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #777777;
}
/* line 9, ../../sass/module/_table.scss */
.module-table.table-style-a thead {
  background-color: #999999;
  text-align: center;
  color: white;
}
/* line 16, ../../sass/module/_table.scss */
.module-table.table-style-a tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 20, ../../sass/module/_table.scss */
.module-table.table-style-a tbody td {
  text-align: left;
}
/* line 22, ../../sass/module/_table.scss */
.module-table.table-style-a tbody td:first-child {
  text-align: center;
  min-width: 6em;
}
/* line 31, ../../sass/module/_table.scss */
.module-table.table-style-b thead {
  background-color: #777777;
  text-align: center;
  color: white;
}
/* line 37, ../../sass/module/_table.scss */
.module-table.table-style-b tbody td {
  width: 25%;
  text-align: center;
}
/* line 41, ../../sass/module/_table.scss */
.module-table.table-style-b tbody td:nth-child(1) {
  background-color: #777777;
  color: white;
}
/* line 51, ../../sass/module/_table.scss */
.module-table.table-style-c tbody td {
  min-height: 3em;
}
/* line 53, ../../sass/module/_table.scss */
.module-table.table-style-c tbody td:nth-child(1) {
  width: 3em;
  background-color: #777777;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
/* line 62, ../../sass/module/_table.scss */
.module-table.table-style-c tbody tr:nth-child(even) td {
  background-color: transparent;
  border: 0;
  color: #DDDDDD;
  text-align: center;
}
/* line 73, ../../sass/module/_table.scss */
.module-table.table-style-d tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 77, ../../sass/module/_table.scss */
.module-table.table-style-d tbody td:nth-child(1) {
  background-color: #999999;
  color: white;
  text-align: center;
  min-width: 8em;
}
/* line 87, ../../sass/module/_table.scss */
.module-table td {
  border: 1px solid #DDDDDD;
  padding-top: 0.4em;
  padding-right: 1em;
  padding-bottom: 0.4em;
  padding-left: 1em;
}

/* line 1, ../../sass/module/_accordion.scss */
.layout-accordion {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 5, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-list {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 9, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-list.status-full {
  min-height: calc( 100vh - 45px - 55px);
  background-color: #DDDDDD;
}
/* line 14, ../../sass/module/_accordion.scss */
.layout-accordion ul {
  list-style-type: decimal;
  padding-left: 1.5em;
}
/* line 18, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item {
  border-bottom: 1px solid #DDDDDD;
}
/* line 21, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item.on .accordion-item-content {
  max-height: 200vh;
}
/* line 27, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-title {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1.8;
  background-color: white;
}
/* line 37, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-dot {
  display: inline-block;
  letter-spacing: 0.3em;
  padding-right: 0.5em;
}
/* line 43, ../../sass/module/_accordion.scss */
.layout-accordion .icon-q {
  display: inline-block;
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: white;
  background-color: #333333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 55, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-name {
  display: inline-block;
  vertical-align: top;
  max-width: 80%;
  max-width: calc(100vw - 6em);
}
/* line 62, ../../sass/module/_accordion.scss */
.layout-accordion i.fa {
  float: right;
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  color: #DDDDDD;
  line-height: 1.8em;
  font-size: 1.1em;
}
/* line 72, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height;
  -o-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #f7f7f7;
}
/* line 81, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  line-height: 1.8;
}
/* line 87, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article p {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 94, ../../sass/module/_accordion.scss */
.privacy-list .accordion-item-name {
  max-width: 70%;
  max-width: calc(100vw - 10em);
}

/*# sourceMappingURL=guide.css.map */
