@charset "UTF-8";
/* line 2, ../../sass/vendors/_extend.scss */
.index-topmenu .layout-topmenu-list {
  padding-left: 0;
  list-style: none;
}

/* line 10, ../../sass/vendors/_extend.scss */
.index-topmenu .layout-topmenu-list > li {
  display: inline-block;
}

/* line 17, ../../sass/vendors/_extend.scss */
.half-bannerbox-wrap:before, .half-bannerbox-wrap:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.half-bannerbox-wrap:after {
  clear: both;
}

/* line 1, ../../sass/module/_icon.scss */
.logob {
  vertical-align: bottom;
  margin-right: 0.5em;
}

/* line 5, ../../sass/module/_icon.scss */
.hfans {
  display: inline-block;
  background: url("/assets/images/icon-hfans.svg") left top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}

/* line 12, ../../sass/module/_icon.scss */
.hvip {
  display: inline-block;
  background: url("/assets/images/icon-hvip.svg") left top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1.5em;
  height: 1.95em;
}

/* line 19, ../../sass/module/_icon.scss */
.icon-pencil-o {
  display: inline-block;
  background: url("/assets/images/icon-pencil-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 26, ../../sass/module/_icon.scss */
.icon-zoom-o {
  display: inline-block;
  background: url("/assets/images/icon-zoom-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 33, ../../sass/module/_icon.scss */
.icon-eye-o {
  display: inline-block;
  background: url("/assets/images/icon-eye-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 40, ../../sass/module/_icon.scss */
.icon-hpoint {
  display: inline-block;
  background: url("/assets/images/icon-hpoint.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 47, ../../sass/module/_icon.scss */
.icon-payment-method {
  display: inline-block;
  background: url("/assets/images/icon-payment-method.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 54, ../../sass/module/_icon.scss */
.icon-payment-invoice {
  display: inline-block;
  background: url("/assets/images/icon-payment-invoice.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 62, ../../sass/module/_icon.scss */
.order-status-wrap {
  /*STATUS*/
}
/* line 63, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-bottom: 2em;
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #DDDDDD;
  background-color: #9bd074;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: 80%;
  -webkit-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 76, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle:first-child {
  margin-left: 0;
}
/* line 78, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle:first-child::after {
  content: none;
}
/* line 82, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  margin-right: -4px;
  height: 3px;
  right: 2.5em;
  top: 50%;
  background-color: #DDDDDD;
}
/* line 93, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle::before {
  font-size: 0.6em;
  line-height: 1;
  display: block;
  width: 150%;
  margin-top: 100%;
  padding-top: 0.5em;
  margin-left: -25%;
  text-align: center;
  color: #888888;
}
/* line 104, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-pending {
  background-image: url("/assets/images/icon-order-status-1.svg");
}
/* line 106, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-pending::before {
  content: '處理中';
}
/* line 110, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-sending {
  background-image: url("/assets/images/icon-order-status-2.svg");
}
/* line 112, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-sending::before {
  content: '出貨中';
}
/* line 116, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-done {
  background-image: url("/assets/images/tick.svg");
}
/* line 118, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-done::before {
  content: '已完成';
}
/* line 125, ../../sass/module/_icon.scss */
.order-status-wrap.is-pending .status-sending, .order-status-wrap.is-pending .status-done {
  background-color: #bbbbbb;
}
/* line 128, ../../sass/module/_icon.scss */
.order-status-wrap.is-pending .irregular-status-text {
  display: none;
}
/* line 133, ../../sass/module/_icon.scss */
.order-status-wrap.is-sending .status-done {
  background-color: #bbbbbb;
}
/* line 136, ../../sass/module/_icon.scss */
.order-status-wrap.is-sending .irregular-status-text {
  display: none;
}
/* line 141, ../../sass/module/_icon.scss */
.order-status-wrap.is-done .irregular-status-text {
  display: none;
}
/* line 146, ../../sass/module/_icon.scss */
.order-status-wrap.is-irregular .order-status-circle {
  display: none;
}

/* line 1, ../../sass/module/_popup.scss */
.layout-popup-wrap {
  position: fixed;
  z-index: 999;
  top: 15%;
  left: 5vw;
  width: 90vw;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  background-color: white;
}
@media only screen and (max-height: 500px) {
  /* line 1, ../../sass/module/_popup.scss */
  .layout-popup-wrap {
    padding-bottom: 1em;
  }
}
/* line 15, ../../sass/module/_popup.scss */
.layout-popup-wrap h2 {
  margin-top: 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #bbbbbb;
}
@media only screen and (max-height: 500px) {
  /* line 15, ../../sass/module/_popup.scss */
  .layout-popup-wrap h2 {
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
  }
}
/* line 24, ../../sass/module/_popup.scss */
.layout-popup-wrap.style-nocolor {
  background-color: transparent;
  color: white;
  text-align: center;
  pointer-events: none;
}
/* line 30, ../../sass/module/_popup.scss */
.layout-popup-wrap.style-absolute {
  position: absolute;
  top: 5%;
  margin-bottom: 10%;
}
/* line 36, ../../sass/module/_popup.scss */
.layout-popup-wrap .form-block {
  min-height: 2em;
}

/* line 40, ../../sass/module/_popup.scss */
.layout-popup-background {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 49, ../../sass/module/_popup.scss */
.style-indexpopup {
  background-image: url("/assets/images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

/* line 1, ../../sass/module/_form.scss */
.module-form-input {
  border: 0;
  border-bottom: 1px solid #A3A3A3;
  height: 1.8em;
}

/* line 7, ../../sass/module/_form.scss */
.module-form-select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #A3A3A3;
  border-color: #A3A3A3;
  vertical-align: top;
  line-height: 2;
  height: 1.8em;
}
/* line 15, ../../sass/module/_form.scss */
.module-form-select.error {
  border-color: #e92567;
}

/* line 20, ../../sass/module/_form.scss */
.module-form-textarea {
  border: 0;
  border-bottom: 1px solid #A3A3A3;
}

/* line 25, ../../sass/module/_form.scss */
.module-radio {
  position: relative;
}
/* line 27, ../../sass/module/_form.scss */
.module-radio input {
  z-index: 3;
  position: absolute;
  margin-top: 0.2em;
  width: 1.1em;
  height: 1.1em;
  opacity: 0;
}
/* line 35, ../../sass/module/_form.scss */
.module-radio span {
  padding-left: 1.5em;
  padding-right: 1em;
}

/* line 41, ../../sass/module/_form.scss */
.module-symbol {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  margin-top: 0.25em;
  border-color: #A3A3A3;
  border-style: solid;
  background-color: white;
  border-width: 1px;
  width: 1.1em;
  height: 1.1em;
  z-index: 0;
}
/* line 54, ../../sass/module/_form.scss */
.module-symbol::before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1em;
  width: calc( 1.1em - 2px);
  height: 1.1em;
  height: calc( 1.1em - 2px);
  background-color: #e92567;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(135deg, #ee85a7, #e92567);
  background-image: -o-linear-gradient(135deg, #ee85a7, #e92567);
  background-image: linear-gradient(135deg, #ee85a7, #e92567);
}

/* line 68, ../../sass/module/_form.scss */
input:checked + .module-symbol {
  border-color: #e92567;
}
/* line 70, ../../sass/module/_form.scss */
input:checked + .module-symbol:before {
  content: '';
}

/* line 74, ../../sass/module/_form.scss */
.style-multi input + .module-symbol {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 76, ../../sass/module/_form.scss */
.style-multi input + .module-symbol:before {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 80, ../../sass/module/_form.scss */
input[type="checkbox"] + .module-symbol {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 82, ../../sass/module/_form.scss */
input[type="checkbox"] + .module-symbol:before {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: url("/assets/images/tick.svg") center center no-repeat #e92567;
}

/* line 102, ../../sass/module/_form.scss */
.form-block {
  position: relative;
  line-height: 2em;
  min-height: 2.8em;
}
/* line 107, ../../sass/module/_form.scss */
.form-block .module-form-label {
  display: inline-block;
  width: 35%;
  width: 6em;
  vertical-align: top;
}
/* line 112, ../../sass/module/_form.scss */
.form-block .module-form-label + span {
  display: inline-block;
  width: 60%;
  width: calc(100% - 35% - 15px );
}
/* line 119, ../../sass/module/_form.scss */
.form-block .module-form-input {
  width: 60%;
  width: calc(100% - 8px -  6em);
}
/* line 122, ../../sass/module/_form.scss */
.form-block .module-form-input.style-inline {
  width: 4em;
}
/* line 126, ../../sass/module/_form.scss */
.form-block .module-form-select {
  width: 60%;
  width: calc(100% - 8px -  6em);
}
/* line 129, ../../sass/module/_form.scss */
.form-block .module-form-select.select-style-half {
  width: 30%;
  width: calc( (100% - 20px -  6em) / 2 );
}
/* line 132, ../../sass/module/_form.scss */
.form-block .module-form-select.select-style-half:nth-child(2) {
  margin-right: 6px;
}
/* line 136, ../../sass/module/_form.scss */
.form-block .module-form-select.select-style-third-one {
  width: 20%;
  width: calc( (100% - 30px -  6em) / 3 );
}
/* line 139, ../../sass/module/_form.scss */
.form-block .module-form-select.select-style-third-one:nth-child(2), .form-block .module-form-select.select-style-third-one:nth-child(3) {
  margin-right: 6px;
}
/* line 144, ../../sass/module/_form.scss */
.form-block .module-form-textarea {
  width: 60%;
  width: calc(100% - 8px -  6em);
}
/* line 148, ../../sass/module/_form.scss */
.form-block .form-style-half {
  display: inline-block;
  position: relative;
  width: 45%;
  width: calc( (100% - 20px -  6em) / 2);
}
/* line 153, ../../sass/module/_form.scss */
.form-block .form-style-half.no-label {
  width: 45%;
}
/* line 156, ../../sass/module/_form.scss */
.form-block .form-style-half .module-form-input {
  width: 100%;
}
/* line 159, ../../sass/module/_form.scss */
.form-block .form-style-half:nth-child(2) {
  margin-right: 6px;
}
/* line 162, ../../sass/module/_form.scss */
.form-block .form-style-half .form-warning-text {
  padding-left: 0;
  text-indent: 0;
}
/* line 165, ../../sass/module/_form.scss */
.form-block .form-style-half .form-warning-text .normal-color {
  color: black;
}
/* line 170, ../../sass/module/_form.scss */
.form-block .style-sub {
  vertical-align: sub;
}
/* line 173, ../../sass/module/_form.scss */
.form-block .form-warning-text {
  padding-left: 6em;
  text-indent: 0.2em;
}

/* line 178, ../../sass/module/_form.scss */
.form-fullblock {
  position: relative;
  padding-top: 0.5em;
}
/* line 181, ../../sass/module/_form.scss */
.form-fullblock .module-form-input {
  width: 100%;
}

/* line 185, ../../sass/module/_form.scss */
.form-warning-text {
  color: #e92567;
}

/* line 189, ../../sass/module/_form.scss */
.form-block-verify .module-form-input {
  width: 60%;
  width: calc(100% - 12px - 8em - 6em);
  min-width: 2.5em;
}
/* line 193, ../../sass/module/_form.scss */
.form-block-verify .module-form-input + div {
  width: 8em;
  display: inline-block;
  text-align: right;
}
/* line 197, ../../sass/module/_form.scss */
.form-block-verify .module-form-input + div img {
  vertical-align: middle;
}
/* line 200, ../../sass/module/_form.scss */
.form-block-verify .module-form-input + div i.fa {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-top: 0.1em;
  margin-left: 0.5em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #030406;
}
/* line 212, ../../sass/module/_form.scss */
.form-block-verify .module-form-input + div i.fa:hover {
  background-color: black;
}
/* line 219, ../../sass/module/_form.scss */
.form-block-verify.error::after {
  top: 0.6em;
  margin-right: 11.5em;
}

/* line 228, ../../sass/module/_form.scss */
.error.form-block::after {
  top: 0.6em;
}
/* line 233, ../../sass/module/_form.scss */
.error.form-style-half::after {
  top: 0.6em;
  margin-right: 0.1em;
}
/* line 238, ../../sass/module/_form.scss */
.error::after {
  content: '!';
  position: absolute;
  right: 0;
  top: 1.2em;
  margin-right: 0.5em;
  padding-top: 0.1em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  font-size: 0.7em;
  background-color: #e92567;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 258, ../../sass/module/_form.scss */
.style-after-radio {
  padding-left: 1.5em;
}

/* line 261, ../../sass/module/_form.scss */
.hide-form {
  display: none;
}

/* line 6, ../../sass/units/index.scss */
.index-topmenu {
  width: 100%;
  color: black;
  background: url("/assets/images/bg-banner-long.jpg") left top no-repeat #dbdbdb;
  border-bottom: 1px solid #b0b0b0;
}
/* line 11, ../../sass/units/index.scss */
.index-topmenu .layout-topmenu-list {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 18, ../../sass/units/index.scss */
.index-topmenu .layout-topmenu-list-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 20, ../../sass/units/index.scss */
.index-topmenu .layout-topmenu-list-item .layout-topmenu-list-link {
  display: block;
  height: 3.5em;
  padding-top: 0.6em;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
}
/* line 27, ../../sass/units/index.scss */
.index-topmenu .layout-topmenu-list-item .layout-topmenu-list-link > * {
  display: block;
  margin: 0 auto;
}
/* line 31, ../../sass/units/index.scss */
.index-topmenu .layout-topmenu-list-item .layout-topmenu-list-link .layout-topmenu-list-name {
  margin-top: 0.5em;
  font-size: 0.75em;
}

/* line 39, ../../sass/units/index.scss */
.full-bannerbox {
  width: 100%;
  height: 46vw;
  border-bottom: 1px solid #dddddd;
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 46, ../../sass/units/index.scss */
.full-bannerbox a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 51, ../../sass/units/index.scss */
.full-bannerbox:first-child {
  border-top: 1px solid #dddddd;
}
/* line 54, ../../sass/units/index.scss */
.full-bannerbox:last-child {
  border-bottom: 0;
}

/* line 58, ../../sass/units/index.scss */
.half-bannerbox-wrap {
  width: 100%;
  height: 46vw;
}
/* line 62, ../../sass/units/index.scss */
.half-bannerbox-wrap .half-bannerbox {
  float: left;
  width: 50%;
  height: 46vw;
  border-bottom: 1px solid #dddddd;
  background-repeat: no-repeat;
  background-position: center bottom;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 70, ../../sass/units/index.scss */
.half-bannerbox-wrap .half-bannerbox a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 75, ../../sass/units/index.scss */
.half-bannerbox-wrap .half-bannerbox:first-child {
  border-right: 1px solid #dddddd;
}

/* line 80, ../../sass/units/index.scss */
.swiper-slide {
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 86, ../../sass/units/index.scss */
#select-country {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  width: 100vw;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 98, ../../sass/units/index.scss */
.select-country-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  background-image: url("/assets/images/bg-selectcountry-m.png");
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only screen and (orientation: landscape) {
  /* line 98, ../../sass/units/index.scss */
  .select-country-inner {
    background-position: center 33%;
  }
}

/* line 111, ../../sass/units/index.scss */
.select-country-title {
  text-align: center;
  padding-top: 1em;
}
/* line 114, ../../sass/units/index.scss */
.select-country-title img {
  width: 55%;
  max-width: 475px;
}
@media only screen and (orientation: landscape) {
  /* line 114, ../../sass/units/index.scss */
  .select-country-title img {
    max-width: 40%;
  }
}

/* line 136, ../../sass/units/index.scss */
.select-country-bottom {
  position: absolute;
  bottom: 1em;
  left: 2em;
  right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  white-space: nowrap;
}
@media only screen and (max-width: 480px) {
  /* line 136, ../../sass/units/index.scss */
  .select-country-bottom {
    left: 0.5em;
    right: 0.5em;
  }
}
/* line 150, ../../sass/units/index.scss */
.select-country-bottom > img {
  width: 180px;
  max-width: 80%;
  display: inline-block;
  padding-bottom: 1em;
}
/* line 156, ../../sass/units/index.scss */
.select-country-bottom .module-radio {
  font-size: 12px;
  display: block;
  padding-top: 1em;
  font-weight: 500;
}
/* line 161, ../../sass/units/index.scss */
.select-country-bottom .module-radio input, .select-country-bottom .module-radio .module-symbol {
  margin-top: 0.1em;
}
/* line 164, ../../sass/units/index.scss */
.select-country-bottom .module-radio .module-symbol {
  border-color: black;
}
/* line 167, ../../sass/units/index.scss */
.select-country-bottom .module-radio input:checked + .module-symbol {
  border-color: #e92567;
}
/* line 170, ../../sass/units/index.scss */
.select-country-bottom .module-radio span {
  vertical-align: super;
}

/* line 177, ../../sass/units/index.scss */
.select-country-btnbox a {
  display: inline-block;
  width: 48px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 5px;
  margin-left: 5px;
}
@media only screen and (max-width: 480px) {
  /* line 177, ../../sass/units/index.scss */
  .select-country-btnbox a {
    margin-right: 0;
    margin-left: 0;
  }
}
/* line 190, ../../sass/units/index.scss */
.select-country-btnbox a img {
  height: 35px;
}

/*# sourceMappingURL=index.css.map */
