/* line 5, ../../sass/units/order.scss */
.section-orderinfo .form-block {
  min-height: 2em;
}
/* line 8, ../../sass/units/order.scss */
.section-orderinfo .module-form-label + span {
  color: #888888;
}

/*# sourceMappingURL=order.css.map */
