@charset "UTF-8";
/* line 2, ../../sass/vendors/_extend.scss */
.module-filter-menu, .module-filter-list, .layout-accordion .accordion-list {
  padding-left: 0;
  list-style: none;
}

/* line 17, ../../sass/vendors/_extend.scss */
.layout-content:before, .heading-icon:before, .module-filter-menu:before, .module-filter-list:before, .module-dl:before, .layout-product-detail-bottom .btn-wrap:before, .layout-content:after, .heading-icon:after, .module-filter-menu:after, .module-filter-list:after, .module-dl:after, .layout-product-detail-bottom .btn-wrap:after {
  content: " ";
  display: table;
}
/* line 22, ../../sass/vendors/_extend.scss */
.layout-content:after, .heading-icon:after, .module-filter-menu:after, .module-filter-list:after, .module-dl:after, .layout-product-detail-bottom .btn-wrap:after {
  clear: both;
}

/* line 1, ../../sass/module/_clause.scss */
.layout-content {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.8;
  padding-bottom: 55px;
  width: 100%;
}
/* line 8, ../../sass/module/_clause.scss */
.layout-content.style-upper {
  padding-bottom: 0;
}
/* line 11, ../../sass/module/_clause.scss */
.layout-content.style-fullsize {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 20, ../../sass/module/_clause.scss */
.layout-content.style-fullmylist {
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 32, ../../sass/module/_clause.scss */
.layout-content .module-clause {
  padding-right: 0;
  padding-left: 0;
}
/* line 36, ../../sass/module/_clause.scss */
.layout-content .module-clause-title {
  font-size: 1em;
}
/* line 39, ../../sass/module/_clause.scss */
.layout-content p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 43, ../../sass/module/_clause.scss */
.layout-content h1 {
  font-size: 1.2em;
  font-weight: bolder;
}
/* line 46, ../../sass/module/_clause.scss */
.layout-content h1.large {
  font-size: 1.5em;
  line-height: 1.4;
}
/* line 51, ../../sass/module/_clause.scss */
.layout-content h2 {
  font-size: 1em;
}
/* line 54, ../../sass/module/_clause.scss */
.layout-content h3 {
  font-size: 1em;
}
/* line 57, ../../sass/module/_clause.scss */
.layout-content h4 {
  color: #c8242b;
  font-size: 1em;
}
/* line 61, ../../sass/module/_clause.scss */
.layout-content .mb1 {
  margin-bottom: 2.8em;
}
/* line 64, ../../sass/module/_clause.scss */
.layout-content .mb2 {
  margin-bottom: 5.6em;
}

/* line 70, ../../sass/module/_clause.scss */
.heading-icon:before {
  content: '';
  float: left;
  display: block;
  margin-top: 4px;
  margin-right: 5px;
  background-image: url("/assets/images/logo-black.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.46em;
  height: 1.6em;
}

/* line 82, ../../sass/module/_clause.scss */
.clause-level-1 {
  list-style-type: cjk-ideographic;
  list-style-position: inside;
}

/* line 86, ../../sass/module/_clause.scss */
.clause-level-2 {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 91, ../../sass/module/_clause.scss */
.clause-level-3 {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 96, ../../sass/module/_clause.scss */
.clause-level-4 {
  list-style-type: lower-roman;
  list-style-position: outside;
  padding-left: 2em;
}

/* line 101, ../../sass/module/_clause.scss */
.appendix-text {
  color: #606060;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.8;
}

/* line 107, ../../sass/module/_clause.scss */
.tcenter {
  text-align: center;
}

/* line 110, ../../sass/module/_clause.scss */
.uline {
  text-decoration: underline;
}

/* line 113, ../../sass/module/_clause.scss */
.warning-color {
  color: #e92567;
}

/* line 116, ../../sass/module/_clause.scss */
.warning-color2 {
  color: #00a651;
}

/* line 120, ../../sass/module/_clause.scss */
.normal-color {
  color: black;
}

/* line 123, ../../sass/module/_clause.scss */
.pb0 {
  padding-bottom: 0;
}

/* line 126, ../../sass/module/_clause.scss */
.pt1 {
  padding-top: 1em;
}

/* line 129, ../../sass/module/_clause.scss */
.style-small {
  font-size: 0.7em;
}

/* line 132, ../../sass/module/_clause.scss */
.style-alignright {
  text-align: right;
}

/* line 135, ../../sass/module/_clause.scss */
ul.style-decimal {
  list-style-type: decimal;
}

/* line 1, ../../sass/module/_icon.scss */
.logob {
  vertical-align: bottom;
  margin-right: 0.5em;
}

/* line 5, ../../sass/module/_icon.scss */
.hfans {
  display: inline-block;
  background: url("/assets/images/icon-hfans.svg") left top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
}

/* line 12, ../../sass/module/_icon.scss */
.hvip {
  display: inline-block;
  background: url("/assets/images/icon-hvip.svg") left top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1.5em;
  height: 1.95em;
}

/* line 19, ../../sass/module/_icon.scss */
.icon-pencil-o {
  display: inline-block;
  background: url("/assets/images/icon-pencil-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 26, ../../sass/module/_icon.scss */
.icon-zoom-o {
  display: inline-block;
  background: url("/assets/images/icon-zoom-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 33, ../../sass/module/_icon.scss */
.icon-eye-o {
  display: inline-block;
  background: url("/assets/images/icon-eye-o.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 40, ../../sass/module/_icon.scss */
.icon-hpoint {
  display: inline-block;
  background: url("/assets/images/icon-hpoint.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 47, ../../sass/module/_icon.scss */
.icon-payment-method {
  display: inline-block;
  background: url("/assets/images/icon-payment-method.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 54, ../../sass/module/_icon.scss */
.icon-payment-invoice {
  display: inline-block;
  background: url("/assets/images/icon-payment-invoice.svg") center top no-repeat;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 1em;
  height: 1em;
}

/* line 62, ../../sass/module/_icon.scss */
.order-status-wrap {
  /*STATUS*/
}
/* line 63, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-bottom: 2em;
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #DDDDDD;
  background-color: #9bd074;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: 80%;
  -webkit-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 76, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle:first-child {
  margin-left: 0;
}
/* line 78, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle:first-child::after {
  content: none;
}
/* line 82, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  margin-right: -4px;
  height: 3px;
  right: 2.5em;
  top: 50%;
  background-color: #DDDDDD;
}
/* line 93, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle::before {
  font-size: 0.6em;
  line-height: 1;
  display: block;
  width: 150%;
  margin-top: 100%;
  padding-top: 0.5em;
  margin-left: -25%;
  text-align: center;
  color: #888888;
}
/* line 104, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-pending {
  background-image: url("/assets/images/icon-order-status-1.svg");
}
/* line 106, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-pending::before {
  content: '處理中';
}
/* line 110, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-sending {
  background-image: url("/assets/images/icon-order-status-2.svg");
}
/* line 112, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-sending::before {
  content: '出貨中';
}
/* line 116, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-done {
  background-image: url("/assets/images/tick.svg");
}
/* line 118, ../../sass/module/_icon.scss */
.order-status-wrap .order-status-circle.status-done::before {
  content: '已完成';
}
/* line 125, ../../sass/module/_icon.scss */
.order-status-wrap.is-pending .status-sending, .order-status-wrap.is-pending .status-done {
  background-color: #bbbbbb;
}
/* line 128, ../../sass/module/_icon.scss */
.order-status-wrap.is-pending .irregular-status-text {
  display: none;
}
/* line 133, ../../sass/module/_icon.scss */
.order-status-wrap.is-sending .status-done {
  background-color: #bbbbbb;
}
/* line 136, ../../sass/module/_icon.scss */
.order-status-wrap.is-sending .irregular-status-text {
  display: none;
}
/* line 141, ../../sass/module/_icon.scss */
.order-status-wrap.is-done .irregular-status-text {
  display: none;
}
/* line 146, ../../sass/module/_icon.scss */
.order-status-wrap.is-irregular .order-status-circle {
  display: none;
}

/* line 1, ../../sass/module/_button.scss */
.btn-full {
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: #606060;
  color: white;
  text-align: center;
  letter-spacing: 0.2em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color, 0.2s, ease;
  -o-transition: background-color, 0.2s, ease;
  transition: background-color, 0.2s, ease;
}
/* line 11, ../../sass/module/_button.scss */
.btn-full.light-gray {
  background-color: #bbbbbb;
}
/* line 14, ../../sass/module/_button.scss */
.btn-full:active {
  background-color: black;
}
/* line 18, ../../sass/module/_button.scss */
.btn-full a {
  display: block;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  width: 100%;
  height: 100%;
  color: white;
}
/* line 26, ../../sass/module/_button.scss */
.btn-full.not-link {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* line 31, ../../sass/module/_button.scss */
.btn-popclosex {
  font-size: 1.5em;
  float: right;
  color: #A3A3A3;
}

/* line 37, ../../sass/module/_button.scss */
.btn-popup {
  display: inline-block;
  margin-top: 1.4em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #606060;
  line-height: 1.6;
  width: 8em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #606060;
}
@media only screen and (max-height: 500px) {
  /* line 37, ../../sass/module/_button.scss */
  .btn-popup {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}
/* line 52, ../../sass/module/_button.scss */
.btn-popup:active {
  color: black;
  border-color: black;
}
/* line 56, ../../sass/module/_button.scss */
.btn-popup a {
  display: block;
  width: 100%;
}
/* line 60, ../../sass/module/_button.scss */
.btn-popup.style-short {
  width: 6em;
}
/* line 63, ../../sass/module/_button.scss */
.btn-popup.style-xshort {
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* line 72, ../../sass/module/_button.scss */
.btn-fancy {
  border: 3px solid #777777;
  border-top-color: #bcbcbc;
  background: url("/assets/images/bg-banner.jpg") left top no-repeat;
  text-align: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 79, ../../sass/module/_button.scss */
.btn-fancy:active {
  border: 3px solid #555555;
  border-bottom-color: #777777;
  color: #313131;
}
/* line 83, ../../sass/module/_button.scss */
.btn-fancy:active i {
  opacity: 0.8;
}
/* line 87, ../../sass/module/_button.scss */
.btn-fancy a {
  width: 100%;
  height: 100%;
}

/* line 93, ../../sass/module/_button.scss */
.btn-sq {
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: #181818;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  font-weight: bold;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition-property: opacity, color, background-color, border-color;
  transition-property: opacity, color, background-color, border-color;
}
/* line 106, ../../sass/module/_button.scss */
.btn-sq.on, .btn-sq:active {
  background-color: white;
  color: #181818;
  opacity: 1;
}

/* line 112, ../../sass/module/_button.scss */
.btn-love {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-image: url("/assets/images/heart-o.svg");
  -moz-background-size: 1em;
  -webkit-background-size: 1em;
  -o-background-size: 1em;
  background-size: 1em;
}
/* line 118, ../../sass/module/_button.scss */
.btn-love.liked {
  background-image: url("/assets/images/heart-g.svg");
  opacity: 1;
}

/* line 124, ../../sass/module/_button.scss */
.btn-info {
  position: absolute;
  top: calc(2.5em + 4px);
  /*0.5+2em +4px*/
  right: 0.5em;
  font-style: italic;
}
/* line 129, ../../sass/module/_button.scss */
.btn-info::before {
  content: 'i';
}

/* line 134, ../../sass/module/_button.scss */
.btn-more {
  position: absolute;
  top: calc(4.5em + 8px);
  /*0.5+2em +4px +2em +4px*/
  right: 0.5em;
  font-style: italic;
}
/* line 139, ../../sass/module/_button.scss */
.btn-more::before {
  content: '...';
}

/* line 144, ../../sass/module/_button.scss */
.btn-bgcolor {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 151, ../../sass/module/_button.scss */
.btn-bgcolor a {
  color: white;
}
/* line 153, ../../sass/module/_button.scss */
.btn-bgcolor a:active {
  color: #f2f2f2;
}
/* line 156, ../../sass/module/_button.scss */
.btn-bgcolor a img {
  height: 1.3em;
  vertical-align: middle;
  padding-right: 0.3em;
}
/* line 161, ../../sass/module/_button.scss */
.btn-bgcolor a .fa {
  font-size: 1.3em;
  vertical-align: middle;
  padding-right: 0.3em;
  margin-top: -0.2em;
  color: white;
}

/* line 170, ../../sass/module/_button.scss */
.btn-buynow, .btn-bgcolor-green {
  background-color: #2fad9b;
  /*#1b9987*/
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(0deg, #1b9987, #2fad9b);
  background-image: -o-linear-gradient(0deg, #1b9987, #2fad9b);
  background-image: linear-gradient(0deg, #1b9987, #2fad9b);
}
/* line 173, ../../sass/module/_button.scss */
.btn-buynow:active, .btn-bgcolor-green:active {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(0deg, #2fad9b, #1b9987);
  background-image: -o-linear-gradient(0deg, #2fad9b, #1b9987);
  background-image: linear-gradient(0deg, #2fad9b, #1b9987);
}

/* line 177, ../../sass/module/_button.scss */
.btn-addcart, .btn-bgcolor-pink {
  background-color: #d76969;
  /*#cd5f5f*/
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(0deg, #cd5f5f, #d76969);
  background-image: -o-linear-gradient(0deg, #cd5f5f, #d76969);
  background-image: linear-gradient(0deg, #cd5f5f, #d76969);
}
/* line 180, ../../sass/module/_button.scss */
.btn-addcart:active, .btn-bgcolor-pink:active {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(0deg, #d76969, #cd5f5f);
  background-image: -o-linear-gradient(0deg, #d76969, #cd5f5f);
  background-image: linear-gradient(0deg, #d76969, #cd5f5f);
}

/* line 185, ../../sass/module/_button.scss */
.btn-cart-sq {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: #A3A3A3;
  border: 1px solid #A3A3A3;
}
/* line 193, ../../sass/module/_button.scss */
.btn-cart-sq:active {
  border-color: black;
  color: black;
}

/* line 199, ../../sass/module/_button.scss */
.btn-cart-sq-color.choosed {
  border: 4px solid black;
}

/* line 204, ../../sass/module/_button.scss */
.btn-cart-sq-size.choosed {
  background-color: black;
  color: white;
}

/* line 212, ../../sass/module/_button.scss */
.module-btn {
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  background-color: #00a651;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color, 0.2s, ease;
  -o-transition: background-color, 0.2s, ease;
  transition: background-color, 0.2s, ease;
}
/* line 230, ../../sass/module/_button.scss */
.module-btn.style-pullleft {
  margin-left: 0;
}
/* line 233, ../../sass/module/_button.scss */
.module-btn.style-light {
  border: 1px solid #2fad9b;
  color: #2fad9b;
  background-color: white;
}
/* line 237, ../../sass/module/_button.scss */
.module-btn.style-light a {
  color: #2fad9b;
}
/* line 241, ../../sass/module/_button.scss */
.module-btn.style-gray {
  background-color: #808080;
}
/* line 244, ../../sass/module/_button.scss */
.module-btn.style-smallright {
  float: right;
  display: inline-block;
  width: auto;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 0.2em;
  margin-bottom: 0;
}
/* line 253, ../../sass/module/_button.scss */
.module-btn:active {
  opacity: 0.9;
}
/* line 257, ../../sass/module/_button.scss */
.module-btn a {
  display: block;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  height: 100%;
  color: white;
}
/* line 267, ../../sass/module/_button.scss */
.module-btn.not-link {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 273, ../../sass/module/_button.scss */
.module-btn.btn-inline {
  display: inline-block;
  width: auto;
  min-width: 7em;
  margin-bottom: 0.5em;
}
/* line 280, ../../sass/module/_button.scss */
.module-btn i {
  margin-right: 4px;
}

/* line 285, ../../sass/module/_button.scss */
.discount-use {
  display: inline-block;
  padding: 4px 8px;
}

/* line 1, ../../sass/module/_filter.scss */
.module-filter {
  position: absolute;
  top: 45px;
  width: 100vw;
  min-height: calc( 100vh - 45px - 55px);
  background-color: #DDDDDD;
}

/* line 8, ../../sass/module/_filter.scss */
.module-filter-menu {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #d6d6d6;
}
/* line 14, ../../sass/module/_filter.scss */
.module-filter-menu li {
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}
/* line 20, ../../sass/module/_filter.scss */
.module-filter-menu li.on {
  background-color: white;
}
/* line 23, ../../sass/module/_filter.scss */
.module-filter-menu li:first-child {
  border-right: 1px solid #d6d6d6;
}
/* line 27, ../../sass/module/_filter.scss */
.module-filter-menu .icon-wrap {
  display: block;
  font-size: 1.8em;
  vertical-align: top;
  padding-bottom: 0.2em;
}

/* line 34, ../../sass/module/_filter.scss */
.module-filter-list {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 39, ../../sass/module/_filter.scss */
.module-filter-list li {
  background-color: white;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 0.8em;
  padding-left: 0.8em;
  padding-bottom: 0.8em;
}
/* line 45, ../../sass/module/_filter.scss */
.module-filter-list li .module-symbol {
  margin-top: 0.2em;
}
/* line 48, ../../sass/module/_filter.scss */
.module-filter-list li label {
  display: block;
}

/* line 54, ../../sass/module/_filter.scss */
.tag-filter .tag-list {
  display: block;
}
/* line 57, ../../sass/module/_filter.scss */
.tag-filter .order-list {
  display: none;
}

/* line 62, ../../sass/module/_filter.scss */
.order-filter .tag-list {
  display: none;
}
/* line 65, ../../sass/module/_filter.scss */
.order-filter .order-list {
  display: block;
}

/* line 69, ../../sass/module/_filter.scss */
.module-filter {
  display: none;
}

/*FULL SITE SWITCH FOR FILTER*/
/* line 75, ../../sass/module/_filter.scss */
body.filting .layout-header-filterheader {
  display: block;
}
/* line 78, ../../sass/module/_filter.scss */
body.filting .module-filter {
  display: block;
}
/* line 81, ../../sass/module/_filter.scss */
body.filting .section-product-list {
  display: none;
}

/* line 1, ../../sass/module/_table.scss */
.module-table {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  color: #777777;
}
/* line 9, ../../sass/module/_table.scss */
.module-table.table-style-a thead {
  background-color: #999999;
  text-align: center;
  color: white;
}
/* line 16, ../../sass/module/_table.scss */
.module-table.table-style-a tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 20, ../../sass/module/_table.scss */
.module-table.table-style-a tbody td {
  text-align: left;
}
/* line 22, ../../sass/module/_table.scss */
.module-table.table-style-a tbody td:first-child {
  text-align: center;
  min-width: 6em;
}
/* line 31, ../../sass/module/_table.scss */
.module-table.table-style-b thead {
  background-color: #777777;
  text-align: center;
  color: white;
}
/* line 37, ../../sass/module/_table.scss */
.module-table.table-style-b tbody td {
  width: 25%;
  text-align: center;
}
/* line 41, ../../sass/module/_table.scss */
.module-table.table-style-b tbody td:nth-child(1) {
  background-color: #777777;
  color: white;
}
/* line 51, ../../sass/module/_table.scss */
.module-table.table-style-c tbody td {
  min-height: 3em;
}
/* line 53, ../../sass/module/_table.scss */
.module-table.table-style-c tbody td:nth-child(1) {
  width: 3em;
  background-color: #777777;
  color: white;
  font-size: 1.2em;
  text-align: center;
}
/* line 62, ../../sass/module/_table.scss */
.module-table.table-style-c tbody tr:nth-child(even) td {
  background-color: transparent;
  border: 0;
  color: #DDDDDD;
  text-align: center;
}
/* line 73, ../../sass/module/_table.scss */
.module-table.table-style-d tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}
/* line 77, ../../sass/module/_table.scss */
.module-table.table-style-d tbody td:nth-child(1) {
  background-color: #999999;
  color: white;
  text-align: center;
  min-width: 8em;
}
/* line 87, ../../sass/module/_table.scss */
.module-table td {
  border: 1px solid #DDDDDD;
  padding-top: 0.4em;
  padding-right: 1em;
  padding-bottom: 0.4em;
  padding-left: 1em;
}

/* line 1, ../../sass/module/_accordion.scss */
.layout-accordion {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 5, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-list {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 9, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-list.status-full {
  min-height: calc( 100vh - 45px - 55px);
  background-color: #DDDDDD;
}
/* line 14, ../../sass/module/_accordion.scss */
.layout-accordion ul {
  list-style-type: decimal;
  padding-left: 1.5em;
}
/* line 18, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item {
  border-bottom: 1px solid #DDDDDD;
}
/* line 21, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item.on .accordion-item-content {
  max-height: 200vh;
}
/* line 27, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-title {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1.8;
  background-color: white;
}
/* line 37, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-dot {
  display: inline-block;
  letter-spacing: 0.3em;
  padding-right: 0.5em;
}
/* line 43, ../../sass/module/_accordion.scss */
.layout-accordion .icon-q {
  display: inline-block;
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: white;
  background-color: #333333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 55, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-name {
  display: inline-block;
  vertical-align: top;
  max-width: 80%;
  max-width: calc(100vw - 6em);
}
/* line 62, ../../sass/module/_accordion.scss */
.layout-accordion i.fa {
  float: right;
  -webkit-transition: transform;
  -o-transition: transform;
  transition: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  color: #DDDDDD;
  line-height: 1.8em;
  font-size: 1.1em;
}
/* line 72, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: max-height;
  -o-transition: max-height;
  transition: max-height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #f7f7f7;
}
/* line 81, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 2em;
  line-height: 1.8;
}
/* line 87, ../../sass/module/_accordion.scss */
.layout-accordion .accordion-item-article p {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 94, ../../sass/module/_accordion.scss */
.privacy-list .accordion-item-name {
  max-width: 70%;
  max-width: calc(100vw - 10em);
}

/* line 1, ../../sass/module/_dl.scss */
.module-dl {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 6, ../../sass/module/_dl.scss */
.module-dl dt {
  float: left;
  width: 50%;
  clear: left;
}
/* line 11, ../../sass/module/_dl.scss */
.module-dl dd {
  float: left;
  width: 50%;
  margin-left: 0;
  text-align: right;
}
/* line 16, ../../sass/module/_dl.scss */
.module-dl dd + dd {
  width: 100%;
}

/* line 1, ../../sass/module/_popup.scss */
.layout-popup-wrap {
  position: fixed;
  z-index: 999;
  top: 15%;
  left: 5vw;
  width: 90vw;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  background-color: white;
}
@media only screen and (max-height: 500px) {
  /* line 1, ../../sass/module/_popup.scss */
  .layout-popup-wrap {
    padding-bottom: 1em;
  }
}
/* line 15, ../../sass/module/_popup.scss */
.layout-popup-wrap h2 {
  margin-top: 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #bbbbbb;
}
@media only screen and (max-height: 500px) {
  /* line 15, ../../sass/module/_popup.scss */
  .layout-popup-wrap h2 {
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
  }
}
/* line 24, ../../sass/module/_popup.scss */
.layout-popup-wrap.style-nocolor {
  background-color: transparent;
  color: white;
  text-align: center;
  pointer-events: none;
}
/* line 30, ../../sass/module/_popup.scss */
.layout-popup-wrap.style-absolute {
  position: absolute;
  top: 5%;
  margin-bottom: 10%;
}
/* line 36, ../../sass/module/_popup.scss */
.layout-popup-wrap .form-block {
  min-height: 2em;
}

/* line 40, ../../sass/module/_popup.scss */
.layout-popup-background {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 49, ../../sass/module/_popup.scss */
.style-indexpopup {
  background-image: url("/assets/images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

/* line 1, ../../sass/module/_product.scss */
.mypagelist-product-item {
  /*wish list*/
  background-color: gray;
  width: calc(100% / 3);
  height: calc(100vw / 9 * 4);
  float: left;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 8, ../../sass/module/_product.scss */
.mypagelist-product-item a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 15, ../../sass/module/_product.scss */
.product-price {
  text-align: center;
}
/* line 17, ../../sass/module/_product.scss */
.product-price .sp-price {
  color: #e92567;
  padding-left: 0.5em;
  display: none;
}
/* line 23, ../../sass/module/_product.scss */
.product-price.sale .origin-price {
  text-decoration: line-through;
}
/* line 26, ../../sass/module/_product.scss */
.product-price.sale .sp-price {
  display: inline;
}

/* line 31, ../../sass/module/_product.scss */
.style-color-sale {
  color: #990000;
}

/* PRODUCT DETAIL */
/* line 13, ../../sass/units/product-detail.scss */
.layout-product-detail {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 21, ../../sass/units/product-detail.scss */
.layout-product-detail.focusing .layout-product-detail-bottom {
  position: relative;
  bottom: 0;
  background-color: white;
}
/* line 26, ../../sass/units/product-detail.scss */
.layout-product-detail.focusing .btn-love {
  position: fixed;
  top: calc(0.5em + 45px );
}
/* line 30, ../../sass/units/product-detail.scss */
.layout-product-detail.focusing .btn-info {
  position: fixed;
  top: calc(3em + 4px + 45px );
  /*0.5+2.5em +4px*/
}
@media only screen and (max-height: 500px) {
  /* line 30, ../../sass/units/product-detail.scss */
  .layout-product-detail.focusing .btn-info {
    top: calc(2.5em + 4px + 45px );
    /*0.5+2.5em +4px*/
  }
}
/* line 39, ../../sass/units/product-detail.scss */
.layout-product-detail .btn-sq {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}
@media only screen and (max-height: 500px) {
  /* line 39, ../../sass/units/product-detail.scss */
  .layout-product-detail .btn-sq {
    width: 2em;
    height: 2em;
    line-height: 2em;
  }
}
/* line 49, ../../sass/units/product-detail.scss */
.layout-product-detail .btn-info {
  top: 3.5em;
  top: calc(3em + 4px);
  /*0.5+2.5em +4px*/
}
@media only screen and (max-height: 500px) {
  /* line 49, ../../sass/units/product-detail.scss */
  .layout-product-detail .btn-info {
    top: calc(2.5em + 4px);
    /*0.5+2.5em +4px*/
  }
}
/* line 56, ../../sass/units/product-detail.scss */
.layout-product-detail .btn-more {
  top: 6.5em;
  top: calc(5.5em + 8px);
  /*0.5+2.5em +4px +2.5em +4px*/
}
@media only screen and (max-height: 500px) {
  /* line 56, ../../sass/units/product-detail.scss */
  .layout-product-detail .btn-more {
    top: calc(4.5em + 4px);
    /*0.5+2.5em +4px*/
  }
}

@media only screen and (max-height: 500px) {
  /* line 64, ../../sass/units/product-detail.scss */
  .btn-love, .btn-info {
    right: auto;
    left: 0.5em;
  }
}

/* line 70, ../../sass/units/product-detail.scss */
.layout-product-detail-image {
  display: block;
  width: 100%;
}

/* line 74, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom {
  width: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0;
  padding-bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 81, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-wrap {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
}
/* line 89, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-wrap .btn-bgcolor {
  width: 48%;
  width: calc( 50% - 0.5em);
  float: left;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
/* line 97, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .layout-product-detail-name {
  display: inline-block;
  width: 55vw;
  font-size: 1em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0.5em;
  height: 1.6em;
  overflow: hidden;
}
/* line 109, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .product-price {
  display: inline-block;
  text-align: right;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 40vw;
  vertical-align: top;
}
/* line 119, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-sq-color {
  border: 4px solid #ddd;
}
/* line 121, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-sq-color.choosed {
  border-color: black;
}
/* line 125, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-sq-size {
  background-color: white;
  color: #999;
}
/* line 128, ../../sass/units/product-detail.scss */
.layout-product-detail-bottom .btn-sq-size.choosed {
  background-color: black;
  border: 4px solid white;
  line-height: 2em;
}
@media only screen and (max-height: 500px) {
  /* line 128, ../../sass/units/product-detail.scss */
  .layout-product-detail-bottom .btn-sq-size.choosed {
    line-height: 1.5em;
  }
}

/* line 140, ../../sass/units/product-detail.scss */
.color-btn-wrap {
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5em;
  left: 0.5em;
  height: 2.5em;
  width: calc(100vw - 3em);
}
@media only screen and (max-height: 500px) {
  /* line 140, ../../sass/units/product-detail.scss */
  .color-btn-wrap {
    height: 2em;
  }
}
/* line 150, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq {
  display: inline-block;
  position: absolute;
  opacity: 1;
  -webkit-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(1) {
  left: 0em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(1) {
    left: 0em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(2) {
  left: 2.75em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(2) {
    left: 2.25em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(3) {
  left: 5.5em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(3) {
    left: 4.5em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(4) {
  left: 8.25em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(4) {
    left: 6.75em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(5) {
  left: 11em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(5) {
    left: 9em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(6) {
  left: 13.75em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(6) {
    left: 11.25em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(7) {
  left: 16.5em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(7) {
    left: 13.5em;
  }
}
/* line 157, ../../sass/units/product-detail.scss */
.color-btn-wrap .btn-sq:nth-child(8) {
  left: 19.25em;
}
@media only screen and (max-height: 500px) {
  /* line 157, ../../sass/units/product-detail.scss */
  .color-btn-wrap .btn-sq:nth-child(8) {
    left: 15.75em;
  }
}
/* line 166, ../../sass/units/product-detail.scss */
.color-btn-wrap.close .btn-sq {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 170, ../../sass/units/product-detail.scss */
.color-btn-wrap.close .btn-sq.choosed {
  z-index: 2;
}

/* line 177, ../../sass/units/product-detail.scss */
.size-btn-wrap {
  position: absolute;
  bottom: 100%;
  right: 0.5em;
  padding-bottom: 0.5em;
}
/* line 182, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq {
  position: absolute;
  margin-top: 4px;
  right: 0;
  opacity: 1;
  -webkit-transition: bottom 0.25s ease;
  -o-transition: bottom 0.25s ease;
  transition: bottom 0.25s ease;
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(1) {
  bottom: 0.5em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(1) {
    bottom: 0.5em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(2) {
  bottom: 3.25em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(2) {
    bottom: 2.75em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(3) {
  bottom: 6em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(3) {
    bottom: 5em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(4) {
  bottom: 8.75em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(4) {
    bottom: 7.25em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(5) {
  bottom: 11.5em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(5) {
    bottom: 9.5em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(6) {
  bottom: 14.25em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(6) {
    bottom: 11.75em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(7) {
  bottom: 17em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(7) {
    bottom: 14em;
  }
}
/* line 190, ../../sass/units/product-detail.scss */
.size-btn-wrap .btn-sq:nth-child(8) {
  bottom: 19.75em;
}
@media only screen and (max-height: 500px) {
  /* line 190, ../../sass/units/product-detail.scss */
  .size-btn-wrap .btn-sq:nth-child(8) {
    bottom: 16.25em;
  }
}
/* line 198, ../../sass/units/product-detail.scss */
.size-btn-wrap.close .btn-sq {
  bottom: 0.5em;
}
/* line 200, ../../sass/units/product-detail.scss */
.size-btn-wrap.close .btn-sq.choosed {
  z-index: 2;
}

/* line 207, ../../sass/units/product-detail.scss */
.layout-product-info-sku {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1.8em;
  font-size: 1.1em;
  line-height: 1.8;
  background-color: #f7f7f7;
  text-align: left;
}
/* line 216, ../../sass/units/product-detail.scss */
.layout-product-info-sku span {
  padding-left: 0.5em;
  float: right;
}

/*# sourceMappingURL=product-detail.css.map */
