/* line 1, ../../sass/units/test.scss */
#img-wrap {
  position: relative;
  width: 320px;
  height: 480px;
  margin: 0 auto;
  background: url("test/06.jpg") 0 0 no-repeat;
}

/* line 8, ../../sass/units/test.scss */
#img-wrap img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 20, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(6) {
  opacity: 1;
}
/* line 23, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(5) {
  opacity: 0;
}
/* line 26, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(4) {
  opacity: 0;
}
/* line 29, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(3) {
  opacity: 0;
}
/* line 32, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(2) {
  opacity: 0;
}
/* line 35, ../../sass/units/test.scss */
#img-wrap.is-style1 img:nth-child(1) {
  opacity: 1;
}

/* line 41, ../../sass/units/test.scss */
.is-style2 img:nth-child(6) {
  opacity: 0;
}
/* line 44, ../../sass/units/test.scss */
.is-style2 img:nth-child(5) {
  opacity: 1;
}
/* line 47, ../../sass/units/test.scss */
.is-style2 img:nth-child(4) {
  opacity: 1;
}
/* line 50, ../../sass/units/test.scss */
.is-style2 img:nth-child(3) {
  opacity: 0;
}
/* line 53, ../../sass/units/test.scss */
.is-style2 img:nth-child(2) {
  opacity: 0;
}
/* line 56, ../../sass/units/test.scss */
.is-style2 img:nth-child(1) {
  opacity: 0;
}

/* line 61, ../../sass/units/test.scss */
.is-style3 img:nth-child(6) {
  opacity: 0;
}
/* line 64, ../../sass/units/test.scss */
.is-style3 img:nth-child(5) {
  opacity: 0;
}
/* line 67, ../../sass/units/test.scss */
.is-style3 img:nth-child(4) {
  opacity: 1;
}
/* line 70, ../../sass/units/test.scss */
.is-style3 img:nth-child(3) {
  opacity: 1;
}
/* line 73, ../../sass/units/test.scss */
.is-style3 img:nth-child(2) {
  opacity: 0;
}
/* line 76, ../../sass/units/test.scss */
.is-style3 img:nth-child(1) {
  opacity: 0;
}

/* line 81, ../../sass/units/test.scss */
.is-style4 img:nth-child(6) {
  opacity: 0;
}
/* line 84, ../../sass/units/test.scss */
.is-style4 img:nth-child(5) {
  opacity: 0;
}
/* line 87, ../../sass/units/test.scss */
.is-style4 img:nth-child(4) {
  opacity: 0;
}
/* line 90, ../../sass/units/test.scss */
.is-style4 img:nth-child(3) {
  opacity: 1;
}
/* line 93, ../../sass/units/test.scss */
.is-style4 img:nth-child(2) {
  opacity: 1;
}
/* line 96, ../../sass/units/test.scss */
.is-style4 img:nth-child(1) {
  opacity: 0;
}

/* line 101, ../../sass/units/test.scss */
.is-style5 img:nth-child(6) {
  opacity: 0;
}
/* line 104, ../../sass/units/test.scss */
.is-style5 img:nth-child(5) {
  opacity: 0;
}
/* line 107, ../../sass/units/test.scss */
.is-style5 img:nth-child(4) {
  opacity: 0;
}
/* line 110, ../../sass/units/test.scss */
.is-style5 img:nth-child(3) {
  opacity: 0;
}
/* line 113, ../../sass/units/test.scss */
.is-style5 img:nth-child(2) {
  opacity: 1;
}
/* line 116, ../../sass/units/test.scss */
.is-style5 img:nth-child(1) {
  opacity: 1;
}

/* line 121, ../../sass/units/test.scss */
.is-style6 img:nth-child(6) {
  opacity: 0;
}
/* line 124, ../../sass/units/test.scss */
.is-style6 img:nth-child(5) {
  opacity: 0;
}
/* line 127, ../../sass/units/test.scss */
.is-style6 img:nth-child(4) {
  opacity: 0;
}
/* line 130, ../../sass/units/test.scss */
.is-style6 img:nth-child(3) {
  opacity: 0;
}
/* line 133, ../../sass/units/test.scss */
.is-style6 img:nth-child(2) {
  opacity: 0;
}
/* line 136, ../../sass/units/test.scss */
.is-style6 img:nth-child(1) {
  opacity: 1;
}

/*# sourceMappingURL=test.css.map */
