/* line 1, ../../sass/units/test2.scss */
#img-wrap {
  position: relative;
  width: 320px;
  height: 480px;
  margin: 0 auto;
  background: url("/test/01.jpg") 0 0 no-repeat;
}

/* line 8, ../../sass/units/test2.scss */
.bgimg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right top;
  -webkit-transition: width 3s linear;
  -moz-transition: width 3s linear;
  -o-transition: width 3s linear;
  transition: width 3s linear;
}

/* line 23, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg {
  background-position: left top;
  left: 0;
  right: auto;
}
/* line 32, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(6) {
  width: 0;
}
/* line 35, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(5) {
  width: 100%;
}
/* line 38, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(4) {
  width: 100%;
}
/* line 41, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(3) {
  width: 100%;
}
/* line 44, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(2) {
  width: 100%;
}
/* line 47, ../../sass/units/test2.scss */
#img-wrap.is-style1 .bgimg:nth-child(1) {
  width: 100%;
}

/* line 53, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(6) {
  width: 0;
}
/* line 56, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(5) {
  width: 0;
}
/* line 59, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(4) {
  width: 100%;
}
/* line 62, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(3) {
  width: 100%;
}
/* line 65, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(2) {
  width: 100%;
}
/* line 68, ../../sass/units/test2.scss */
.is-style2 .bgimg:nth-child(1) {
  width: 100%;
}

/* line 73, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(6) {
  width: 0;
}
/* line 76, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(5) {
  width: 0;
}
/* line 79, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(4) {
  width: 0;
}
/* line 82, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(3) {
  width: 100%;
}
/* line 85, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(2) {
  width: 100%;
}
/* line 88, ../../sass/units/test2.scss */
.is-style3 .bgimg:nth-child(1) {
  width: 100%;
}

/* line 93, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(6) {
  width: 0;
}
/* line 96, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(5) {
  width: 0;
}
/* line 99, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(4) {
  width: 0;
}
/* line 102, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(3) {
  width: 0;
}
/* line 105, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(2) {
  width: 100%;
}
/* line 108, ../../sass/units/test2.scss */
.is-style4 .bgimg:nth-child(1) {
  width: 100%;
}

/* line 113, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(6) {
  width: 0;
}
/* line 116, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(5) {
  width: 0;
}
/* line 119, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(4) {
  width: 0;
}
/* line 122, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(3) {
  width: 0;
}
/* line 125, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(2) {
  width: 0;
}
/* line 128, ../../sass/units/test2.scss */
.is-style5 .bgimg:nth-child(1) {
  width: 100%;
}

/* line 133, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(6) {
  width: 0;
}
/* line 136, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(5) {
  width: 0;
}
/* line 139, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(4) {
  width: 0;
}
/* line 142, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(3) {
  width: 0;
}
/* line 145, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(2) {
  width: 0;
}
/* line 148, ../../sass/units/test2.scss */
.is-style6 .bgimg:nth-child(1) {
  width: 0;
}

/*# sourceMappingURL=test2.css.map */
