<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <%= render :partial => "partial/head-meta" %>
    <%= render :partial => "partial/insert-stylesheets" %>
  </head>
  <body>
    <div class="layout-container">
      <%= render :partial => "partial/layout-header" %>
      <%= render :partial => "partial/layout-menu" %>
      <div class="layout-view">
        <%= yield %>
      </div>
      <%= render :partial => "partial/layout-tabbar" %>
      <div id="select-country" style="display:none;">
        <div class="select-country-inner">
          <div class="select-country-title">
            <img src="/assets/images/hc-logo-475.png" alt="">
          </div>
          <div class="select-country-bottom">
            <img src="/assets/images/img-title-choosecountry.png" alt="">
            <div class="select-country-btnbox">
              <a href="#"><img src="/assets/images/btn-country-kr.png" alt=""></a>
              <a href="#"><img src="/assets/images/btn-country-cn.png" alt=""></a>
              <a href="#"><img src="/assets/images/btn-country-tw.png" alt=""></a>
              <a href="#"><img src="/assets/images/btn-country-sg.png" alt=""></a>
              <a href="#"><img src="/assets/images/btn-country-global.png" alt=""></a>
            </div>
            <label class="module-radio">
              <input type="checkbox" name="remember" value="0"><i class="module-symbol"></i><span>Remember my selection</span>
            </label>
          </div>
        </div>
      </div>
      <%= livereload_js if ENV["RACK_ENV"] != "production" %>
      <%= render :partial => "partial/insert-javascripts" %>
    </div>
  </body>
</html>