<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  <meta name="Title" content="H Connect" />
  <title>H:CONNECT</title>

  <link href="assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="assets/stylesheets/font-awesome/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="assets/stylesheets/global.css" media="screen" rel="stylesheet" type="text/css" />  
  <!-- <link href="assets/stylesheets/units/test.css" media="screen" rel="stylesheet" type="text/css" />   -->
  <%= render :partial => "partial/insert-stylesheets" %>
</head>
<body style="margin: 0;background: #333;">
  <%= yield %>

  <script src="assets/javascripts/vendors/fastclick.js" type="text/javascript"></script>
  <script src="assets/javascripts/vendors/jquery.min.js" type="text/javascript"></script>
  <script src="assets/javascripts/vendors/svg4everybody.min.js" type="text/javascript"></script>
  <%= render :partial => "partial/insert-javascripts" %>
  <script>

  </script>
</body>
</html>