<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "vendors/swiper" %>
  <%= stylesheet_link_tag "units/index" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "vendors/index" %>
    <script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false
    });
    if( $(".layout-popup-background").size()>0 ){
      // alert("has popup");
    }else{
      // alert("no popup");
      // $("#select-country").css("background-color","rgba(0, 0, 0, 0.6)");
    }
    $("#select-country").fadeIn(600);
    $("#select-country").on("click",".select-country-btnbox",function(){
      $("#select-country").fadeOut(400);
    });
    </script>
<% end %>
<% content_for :header_content do %>
<% end %>
<div class="index-topmenu">
  <ul class="layout-topmenu-list">
    <% @topmenu = [{
      name: "暢銷商品",
      icon: "fa fa-diamond",
      href: "/views/product/product-list.html",
    }, {
      name: "我的收藏",
      icon: "fa fa-heart fa-lg",
      href: "/views/mypage/mypage-wishlist.html",
    }, {
      name: "我的點數",
      icon: "icon-hpoint",
      href: "/views/mypage/mypage-point.html",
    }, {
      name: "訂單查詢",
      icon: "icon-zoom-o",
      href: "/views/mypage/mypage-order-list.html",
    }] %>
    <% @topmenu.each do |topmenu| %>
      <li role="button" class="layout-topmenu-list-item">
        <a class="layout-topmenu-list-link" href="<%= topmenu[:href] %>">
          <i role="img" class="<%= topmenu[:icon] %>"></i>
          <span class="layout-topmenu-list-name"><%= topmenu[:name] %></span>
        </a>
      </li>
    <% end %>
</ul>
</div>

<div class="full-bannerbox bannerbox-slider swiper-container">
<!-- <a href="views/product/product-category.html"></a> -->
        <div class="swiper-wrapper">
        <% 9.times do %>
            <div class="swiper-slide" style="background-image:url('/assets/images/bannerbox-1.png');">
              <a href="views/product/product-category.html"></a>
            </div>
        <% end %>
        </div>
</div>

<div class="half-bannerbox-wrap">
  <div class="half-bannerbox" style="background-image:url('/assets/images/bannerbox-2.png');background-position: bottom;"><a href="views/product/product-category.html"></a></div>
  <div class="half-bannerbox" style="background-image:url('/assets/images/bannerbox-3.png');background-position: top;"><a href="views/product/product-category.html"></a></div>
</div>
<div class="full-bannerbox" style="background-image:url('/assets/images/bannerbox-4.png');"><a href="views/product/product-category.html"></a></div>
<div class="full-bannerbox" style="background-image:url('/assets/images/bannerbox-5.png');"><a href="views/product/product-category.html"></a></div>

<!-- <div id="select-country">
  <div class="select-country-title"></div>
</div> -->