<% content_for :specific_stylesheet do %>
<link href="assets/stylesheets/units/test2.css" media="screen" rel="stylesheet" type="text/css" />
  <style>
  #img-wrap {
    background: url("test/01.jpg") 0 0 no-repeat;
  }
  </style>  
<% end %>
<% content_for :specific_javascript do %>
  <script>
  function loopanimate(){
    $("#img-wrap").delay(2000).queue(function(next){$(this).removeClass().addClass("is-style1");next();})
    .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style2");next();})
    .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style3");next();})
    .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style4");next();})
    .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style5");next();})
    .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style6");next();});
  };
  (function() {
    loopanimate();
    setInterval( "loopanimate();" , 12000); 
  })();
  </script>
<% end %>


  <div id="img-wrap" class="is-style5">
    <div class="bgimg" style="background-image:url(test/06.jpg);"></div>
    <div class="bgimg" style="background-image:url(test/05.jpg);"></div>
    <div class="bgimg" style="background-image:url(test/04.jpg);"></div>
    <div class="bgimg" style="background-image:url(test/03.jpg);"></div>
    <div class="bgimg" style="background-image:url(test/02.jpg);"></div>
    <div class="bgimg" style="background-image:url(test/01.jpg);"></div>
<!-- 
    <img src="test/06.jpg" alt="">
    <img src="test/05.jpg" alt="">
    <img src="test/04.jpg" alt="">
    <img src="test/03.jpg" alt="">
    <img src="test/02.jpg" alt="">
    <img src="test/01.jpg" alt="">
 -->    
  </div>