<% content_for :specific_stylesheet do %>
<link href="assets/stylesheets/units/test.css" media="screen" rel="stylesheet" type="text/css" />  
<% end %>
<% content_for :specific_javascript do %>
<script>
function loopanimate(){
  $("#img-wrap").delay(2000).queue(function(next){$(this).removeClass().addClass("is-style1");next();})
  .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style2");next();})
  .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style3");next();})
  .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style4");next();})
  .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style5");next();})
  .delay(2000).queue(function(next){$(this).removeClass().addClass("is-style6");next();});
}

setInterval( loopanimate , 12000); 
</script>
<% end %>


  <div id="img-wrap" class="is-style5">
    <img src="test/06.jpg" alt="">
    <img src="test/05.jpg" alt="">
    <img src="test/04.jpg" alt="">
    <img src="test/03.jpg" alt="">
    <img src="test/02.jpg" alt="">
    <img src="test/01.jpg" alt="">
  </div>