<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "登入" %>

<section class="layout-content">
<p>歡迎回來！請登入您註冊的網路帳號密碼。</p>
<form>
  <div class="form-fullblock error">
    <input type="text" name="email" class="module-form-input" placeholder="電子郵件帳號" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-fullblock error">
    <input type="password" name="password" class="module-form-input" placeholder="密碼">
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>  
  <div class="form-fullblock">
    <div class="forgot-pw"><a href="forget-password.html" class="uline">忘記密碼嗎？</a></div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol"></i><span>記住會員帳號</span>

    </label>
  </div>

  <div class="btn-full"><a href="/">登入</a></div>
  <div class="btn-full light-gray"><a href="signup.html">立即註冊</a></div>
  <p class="appendix-text">尚未註冊成為我們的會員嗎？</p>
  <p class="appendix-text">快加入我們！會員有更多優惠！</p>
</form>
</section>