<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%= javascript_include_tag "vendors/signup-physical-steps" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step3">
<h2>Step.3 設定會員密碼</h2>
<p>請設定一組密碼，此密碼將成為您的網路會員帳戶密碼。</p>
<form>
  <div class="form-block error">
    <label class="module-form-label" for="sns-verify">設定密碼</label>
    <input type="password" name="sns-verify" class="module-form-input" placeholder="請輸入英文數字6-10碼" />
    <p class="form-warning-text">密碼格式不符</p>
  </div>
  <div class="form-block mb1 error">
    <label class="module-form-label" for="sns-verify">確認密碼</label>
    <input type="password" name="sns-verify" class="module-form-input" placeholder="請重新輸入密碼" />
    <p class="form-warning-text">密碼不符</p>
  </div>

  <div class="btn-full not-link">確認</div>
</form>
</section>