<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "加入會員" %>

<section class="layout-content">
<h2>實體會員申請網路帳號</h2>
<p class="mb1">您已經是我們實體會員了嗎? 若您已於門市加入H:Fans/H:VIP會員，並首次登入hconnect.com，<a href="signup-physical-step1.html" class="uline">請先由此申請網路帳號</a>。</p>
<h2>請填入您的個人資料</h2>
<p>您還未加入我們的會員嗎？請填下您的個人資料，再成為我們線上會員後，您將可享有線上會員折扣。</p>
<form class="form-signup">
  <!-- Add class "error" on input's parent div -->
  <div class="form-block error">
    <label class="module-form-label" for="email">E-MAIL</label>
    <input type="text" name="email" class="module-form-input" placeholder="請輸入e-mail" />
    <p class="form-warning-text">此郵件地址並沒有註冊過</p>
  </div>

  <div class="btn-full not-link">檢查郵件地址</div>

  <div class="form-block error">
    <label class="module-form-label" for="password">密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請輸入6-10位數" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block error">
    <label class="module-form-label" for="password">確認密碼</label>
    <input type="password" name="password" class="module-form-input" placeholder="請重新輸入密碼" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block">
    <label class="module-form-label" for="lastname">姓氏</label>
    <div class="form-style-half error">
      <input type="text" name="lastname" class="module-form-input" placeholder="姓氏" />
      <!-- <p class="form-warning-text">錯誤訊息</p> -->
    </div>
    <div class="form-style-half error">
      <input type="text" name="firstname" class="module-form-input" placeholder="名" />
      <!-- <p class="form-warning-text">錯誤訊息</p>     -->
    </div>
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="general">性別</label>
    <select class="module-form-select select-style-half style-sub" name="general">
      <option value="0">男</option>
      <option value="1">女</option>
    </select>
  </div>
  <div class="form-block error">
    <label class="module-form-label" for="id">身分證字號</label>
    <input type="text" name="id" class="module-form-input" placeholder="請輸入身分證字號" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address">地址</label>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">台北市</option>
      <option value="1">基隆市</option>
    </select>
    <select class="module-form-select select-style-half style-sub" name="category">
      <option value="0">大同區</option>
      <option value="1">東東東東東區</option>
    </select>
  </div>

  <div class="form-block error">
    <label class="module-form-label" for="address"></label>
    <input type="text" name="address" class="module-form-input" placeholder="請輸入地址" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block error">
    <label class="module-form-label" for="tel">電話</label>
    <input type="text" name="tel" class="module-form-input" placeholder="請輸入行動電話" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>

  <div class="form-block">
    <label class="module-form-label style-sub" for="address">出生日期</label>
    <!-- Add class "error" on select itself -->
    <select class="module-form-select select-style-third-one style-sub error" name="category">
      <option value="0">年</option>
      <option value="1">1900</option>
    </select>
    <select class="module-form-select select-style-third-one style-sub error" name="category">
      <option value="0">月</option>
      <option value="1">1</option>
    </select>
    <select class="module-form-select select-style-third-one style-sub error" name="category">
      <option value="0">日</option>
      <option value="1">1</option>
    </select>
  </div>
  <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>我同意<a href="/views/about/personal_information.html" class="uline">個人資料使用聲明</a></span>
    </label>
  </div>
  <h2>訂閱電子報：</h2>
  <p>若您不願意收到本公司所發送之特別企劃、折扣及新商品訊息，請點選以下框格，我們將不會寄送相關訊息給您。</p>
   <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span> 不同意收到H:CONNECT發送的e-mail</span>
    </label>
  </div> 
  <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>不同意收到H:CONNECT發送的sms</span>
    </label>
  </div>
  <div class="btn-full"><a href="account-verify.html">送出會員資料</a></div>

</form>
</section>