<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "註冊完成" %>

<section class="layout-content">
<h1 class="tcenter large">恭喜您！<br/>您已經成為我們網站會員！</h1>
<p class="mb2 tcenter">現在開始可以登入會員瀏覽網站最新的銷售資訊與更多折扣。</p>
<div class="btn-full"><a href="/views/mypage/mypage.html">我的帳戶</a></div>
</section>