<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%= javascript_include_tag "vendors/signup-physical-steps" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step2">
<h2>Step.2 至Email點選認證連結</h2>
<p>Hi, Yoyo Huang，感謝您申請H:CONNECT官方購物網站認證！</p>
<p>系統已寄出「H:CONNECT會員認證信函」，請至您提供的E-mail信箱中點選信件裡的認證連結，即可完成認證流程，於官方購物網站享受會員專屬優惠便利！</p>
<p>※若您的信箱未收到會員認證信函，請先確認垃圾信件夾。若依然沒有收到，請來信至service@domain.com，並留下您的連絡電話，客服人員將與您聯繫，謝謝。</p>
</section>
<a href="signup-physical-step3.html" style="color:#08F;">/* Click here: 前往email中的Step3認證網址 */</a>