<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content">
  <h2>行動電話號碼確認</h2>
  <p>由於您於實體店面申請會員時，尚未留下電子信箱相關資訊。為完成會員開通程序，我們需要您用手機驗證碼進行驗證，我們將發送一通簡訊至您的手機，提供一個驗證碼，可讓您更新電子郵件信箱，我們會寄送會員開通認證信函，讓您完成開通作業。</p>
  <p class="mb1">請確認「<span class="warning-color">0912345678</span>」是否為您的手機號碼？</p>
  <div class="btn-full"><a href="signup-physical-step2c-2.html">發送簡訊</a></div>
  <div class="btn-full light-gray"><a href="/views/about/contact.html">取消</a></div>
</section>