<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<%= javascript_include_tag "vendors/signup-physical-steps" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "網路帳號申請" %>

<section class="layout-content signup-physical-step1">
<h2>Step.1 驗證會員資料</h2>
<p>若您已於門市加入H:CONNECT會員，請由此驗證並申請網路帳號。</p>
<form>
  <div class="form-block mb1 error">
    <label class="module-form-label" for="tel">電話</label>
    <input type="text" name="tel" class="module-form-input" placeholder="請輸入註冊時的手機號碼" />
    <p class="form-warning-text">電話格式錯誤或已開通過網路帳號</p>
  </div>

  <div class="btn-full"><a>開始驗證</a></div>
</form>
</section>
<a href="signup-physical-step2c.html" style="color:#08F;">/*if 輸入電話後該user並沒有留下email: link here */</a>