<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/payment" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/payment" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "購物車" %>
<section class="layout-cart">
  <ul class="module-cart-list">
    <% 12.times do %>
      <li class="module-cart-item">
        <div class="module-cart-item-img" style="background-image:url('/assets/images/sample-p0.jpg');">
          <a href="product-detail.html"></a>
        </div>
        <div class="module-cart-item-content">
          <i class="fa fa-times"></i>
          <p class="module-cart-item-name"><a href="product-detail.html">長版混織背心長版混織背心長版混織背心</a></p>
          <% 1.times do %>
          <p class="module-cart-item-saleinfo">超值優惠 女裝全館八折</p>
          <% end %>
          <p class="module-cart-item-sn">Y123456789L</p>
          <div class="module-cart-amount-wrap">
            數量
            <div class="btn-cart-sq btn-cart-amount-minus">-</div>
            <span class="module-cart-item-num">9</span>
            <div class="btn-cart-sq btn-cart-amount-add">+</div>
          </div>
          <div class="module-cart-size-wrap">
            尺寸
            <div class="btn-cart-sq btn-cart-sq-size choosed">XS</div>
            <div class="btn-cart-sq btn-cart-sq-size">S</div>
            <div class="btn-cart-sq btn-cart-sq-size">M</div>
            <div class="btn-cart-sq btn-cart-sq-size">L</div>
          </div>
          <div class="module-cart-color-wrap">
            顏色
            <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#CDF"></div>
            <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#FDC"></div>
            <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#FCD"></div>
            <div class="btn-cart-sq btn-cart-sq-color choosed" style="background-color:#DFC"></div>
            <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#DCF"></div>
          </div>
          <p class="product-price sale">
            <span class="origin-price">$19999</span>
            <span class="sp-price">$14999</span>
          </p>          
        </div>
      </li>
    <% end %>
  </ul>

  <div class="layout-cart-bottom">
    <p class="layout-cart-bottom-price">$148000</p>
    <p class="layout-cart-bottom-num"><span>888</span>項目</p>
    <div class="btn-full"><a href="product-payment.html">下一步，付款與寄送方式</a></div>
  </div>
</section>