<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/payment" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/payment" %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "付款與寄送方式" %>
<% @exp = "92" %>
<form style="height:100%;">
  <section class="layout-cart-payment">
    <ul class="module-cart-list style-smallimg">
      <% 10.times do %>
        <li class="module-cart-item">
          <div class="module-cart-item-img" style="background-image:url('/assets/images/sample-p0.jpg');">
          </div>
          <div class="module-cart-item-content">
            <p class="module-cart-item-name">長版混織背心長版混織背心長版混織背心</p>
            <p class="module-cart-item-saleinfo">超值優惠 女裝全館八折</p>
            <p class="module-cart-item-sn">Y123456789L</p>
            <div class="module-cart-item-spec">
              <p class="product-price">
                <span class="origin-price">$19999</span>
              </p>          
              <div class="btn-cart-sq btn-cart-sq-size">S</div>
              <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#CDF"></div>
              <span class="module-cart-item-num">x 9</span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="layout-cart-bottom">
      <div class="btn-cart-payment-more"><span>MORE</span></div>
      <div class="layout-cart-bottom-summary">
        <dl class="module-dl">
          <dt>小計</dt><dd>$999999</dd>
          <dt>點數折抵</dt><dd class="style-color-sale">$-999999</dd>
          <dt>COUPON折抵</dt><dd class="style-color-sale">$-999999</dd>
          <dt>訂單折抵金額total</dt><dd>$999999</dd>
          <dt>運費</dt><dd>$999999</dd>
          <dt>合計訂單金額</dt><dd>$1234567890</dd>
          <p class="layout-cart-bottom-itemcount">共<span>16</span>項</p>
        </dl>
      </div>
      <div class="layout-cart-btn-wrap">
      <% @fancy = [{
        name: "COUPON",
        icon: "fa fa-credit-card",
        classname: "btn-fancy-coupon",
      }, {
        name: "點數折抵",
        icon: "icon-hpoint",
        classname: "btn-fancy-usepoint",
      }, {
        name: "付款方式",
        icon: "fa icon-payment-method",
        classname: "btn-fancy-pay",
      }, {
        name: "寄件人",
        icon: "fa fa-paper-plane",
        classname: "btn-fancy-sendfrom",
      }, {
        name: "收件人",
        icon: "fa fa-gift",
        classname: "btn-fancy-sendto",
      }, {
        name: "發票資訊",
        icon: "fa icon-payment-invoice",
        classname: "btn-fancy-invoice",
      }] %>
        <% @fancy.each do |fancy| %>
          <div class="btn-fancy <%= fancy[:classname] %>">
              <i class="<%= fancy[:icon] %>"></i>
              <span><%= fancy[:name] %></span>
              <p class="btn-fancy-userinfo">使用者資訊使用者資訊使用者資訊</p>
          </div>
      <% end %>
      </div>
      <div class="btn-full"><a href="product-payment-complete.html">確認購買</a></div>
    </div>
  </section>



  <section class="hide-form section-coupon">
    <h2 class="tcenter">使用COUPON</h2>
    <div class="tcenter">
      <input type="text" name="coupon" class="module-form-input" placeholder="請輸入COUPON"/>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-coupon">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>
  </section>

  <section class="hide-form section-mypoint">
    <h2 class="tcenter">我的點數</h2>
    <div class="form-block">
      <label class="module-form-label">會員等級</label>
      <span>VIP</span>
    </div>
    
    <div class="form-block">
      <label class="module-form-label">會員點數</label>
      <span><span class="warning-color2">1500</span> 點</span>
    </div>

    <div class="form-block">
      <label class="module-form-label">即將過期點數</label>  
      <span><span class="warning-color">1500</span> 點 <span class="style-small"><span class="warning-color">2015/6/17</span>到期</span></span>
    </div>

    <div class="form-block">
      <label class="module-form-label">使用點數</label>
      <span><input type="text" name="point" class="module-form-input style-inline" value="0" /> 點</span>
    </div>

    <div class="member-exp">
      <i class="hfans"></i>
        <div class="member-exp-bar">
          <div class="member-exp-bar-value" style="width:<%= @exp %>%;">
            <div class="member-exp-bar-value-tag">H:<span class="member-exp-num"><%= @exp %></span></div>
          </div>
        </div>
      <i class="hvip"></i>
    </div>

    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-mypoint">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>

  </section>

  <section class="hide-form section-method">
    <h2 class="tcenter">付款方式</h2>
    <div class="tcenter">
      <span class="module-radio">
      <label><input type="radio" name="method" value="0"><i class="module-symbol" /></i><span>線上刷卡</span></label>
      <label><input type="radio" name="method" value="1"><i class="module-symbol" /></i><span>貨到付款</span></label>

      </span>  
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-method">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>
  </section>

  <section class="hide-form section-sender">
    <h2 class="tcenter">寄件人資訊</h2>
    <div class="form-block error">
      <label class="module-form-label">姓名</label>
      <input type="text" name="sendername" class="module-form-input" placeholder="請輸入姓名" />
    </div>    
    <div class="form-block error">
      <label class="module-form-label">電話</label>
      <input type="text" name="sendername" class="module-form-input" placeholder="請輸入手機" />
    </div>
    <div class="form-block">
      <label class="module-form-label style-sub" for="category">地址</label>
      <select class="module-form-select style-sub" name="address">
        <option value="0">選擇收件地址</option>
        <option value="1">11576台北市南港區忠孝東路六段999巷99弄111號11樓之11</option>
      </select>
    </div>
    <div class="form-block">
      <label class="module-form-label style-sub"></label>
      <select class="module-form-select select-style-half style-sub" name="city">
        <option value="0">台北市</option>
        <option value="1">基隆市</option>
      </select>
      <select class="module-form-select select-style-half style-sub" name="region">
        <option value="0">大同區</option>
        <option value="1">東東東東東區</option>
      </select>
    </div>

    <div class="form-block error">
      <label class="module-form-label"><input type="text" name="zip" class="module-form-input style-inline" placeholder="10374" /></label>
      <input type="text" name="address" class="module-form-input" placeholder="請輸入地址" />
      <!-- <p class="form-warning-text">錯誤訊息</p> -->
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-sender">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>
  </section>

  <section class="hide-form section-receive">
    <h2 class="tcenter">收件人資訊</h2>
    <div>
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol" /></i><span>同寄件人</span>
      </label>  
    </div>
    <div class="form-block error">
      <label class="module-form-label">姓名</label>
      <input type="text" name="sendername" class="module-form-input" placeholder="請輸入姓名" />
    </div>    
    <div class="form-block error">
      <label class="module-form-label">電話</label>
      <input type="text" name="sendername" class="module-form-input" placeholder="請輸入手機" />
    </div>
    <div class="form-block">
      <label class="module-form-label style-sub">地址</label>
      <select class="module-form-select style-sub" name="city">
        <option value="0">選擇收件地址</option>
        <option value="1">11576台北市南港區忠孝東路六段999巷99弄111號11樓之11</option>
      </select>
    </div>
    <div class="form-block">
      <label class="module-form-label style-sub"></label>
      <select class="module-form-select select-style-half style-sub" name="region">
        <option value="0">台北市</option>
        <option value="1">基隆市</option>
      </select>
      <select class="module-form-select select-style-half style-sub" name="category">
        <option value="0">大同區</option>
        <option value="1">東東東東東區</option>
      </select>
    </div>
    <div class="form-block error">
      <label class="module-form-label"><input type="text" name="zip" class="module-form-input style-inline" placeholder="10374" /></label>
      <input type="text" name="address" class="module-form-input" placeholder="請輸入地址" />
      <!-- <p class="form-warning-text">錯誤訊息</p> -->
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-receive">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>
  </section>

  <section class="hide-form section-invoice">
    <h2 class="tcenter">發票資訊</h2>
    <div class="form-block">
      <label class="module-radio">
        <input type="radio" name="invoice" value="0"><i class="module-symbol" /></i><span>二聯式發票</span>
      </label>  
    </div>
    <div class="form-block">
      <label class="module-radio">
        <input type="radio" name="invoice" value="1"><i class="module-symbol" /></i><span>三聯式發票</span>
      </label>  
    </div>
    <div class="form-block style-after-radio">
      <div class="form-style-half no-label error">
        <input type="text" name="invoice-3sheet-sn" class="module-form-input" placeholder="統一編號" />
        <!-- <p class="form-warning-text">錯誤訊息</p> -->
      </div>
      <div class="form-style-half no-label error">
        <input type="text" name="invoice-3sheet-title" class="module-form-input" placeholder="發票抬頭" />
        <!-- <p class="form-warning-text">錯誤訊息</p>     -->
      </div>
    </div>
    <div class="form-block">
      <label class="module-radio">
        <input type="radio" name="invoice" value="2"><i class="module-symbol" /></i><span>請替我將發票捐作公益用途</span>
      </label>  
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-ok-invoice">確定</a></div>
      <div class="btn-popup style-short"><a class="btn-cancel">取消</a></div>
    </div>
  </section>
</form>