<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-list" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/product" %>
<script>
(function() {
  $("body").addClass("filting");
})();
</script>
<% end %>
<% content_for :specific_header_lastbtn do %>
  <span class="layout-header-openfilter" role="button">
    <i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i>
  </span>
<% end %>
<!-- HEADER TEXT -->
<% @headerTitle = "毛衣" %>

<section class="module-filter tag-filter">
  <ul class="module-filter-menu">
    <li class="module-filter-menu-btn tag-filter on"><span class="icon-wrap"><i class="fa fa-tag fa-rotate-270"></i></span>商品標籤</li>
    <li class="module-filter-menu-btn order-filter"><span class="icon-wrap"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></span>商品排序</li>
  </ul>

  <ul class="module-filter-list order-list">
    <% 5.times do %>  
    <li class="module-filter-list-item">
    <label class="module-radio">
    <input type="radio" name="agree" value="0"><i class="module-symbol" /></i><span>價格高</span>
    </label>
    </li>
    <% end %>
  </ul>

  <ul class="module-filter-list tag-list">
    <% 10.times do %>  
    <li class="module-filter-list-item">
    <label class="module-radio style-multi">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>春夏新款</span>
    </label>
    </li>
    <% end %>
  </ul>
</section>