<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/member" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<script>
  var popupJoinFans = $(".popup-content-joinfans").html();
  var popupJoinVip = $(".popup-content-joinvip").html();
  var popupUpgradeVip = $(".popup-content-upgradevip").html();
  HFeature.popup(popupUpgradeVip);
  HFeature.popupOpen();
  $(".layout-popup-wrap").addClass("style-absolute");
  // $(".layout-popup-background").addClass("style-indexpopup");
  $("body").on('click','.btn-closepopup', function() {
    HFeature.popupClose();
  });
</script>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "訂購完成" %>

<section class="layout-content">
<h1 class="tcenter large">非常感謝您的購買</h1>
<p class="tcenter">訂單編號：<span class="warning-color">12345678910</span></p>
<p class="tcenter">我們已經收到您的訂單</p>
<p class="tcenter">並將於1～2工作天內出貨</p>
<div class="btn-full btn-bgcolor-pink"><a href="/views/mypage/mypage-order-detail.html">訂單查詢</a></div>
  <p class="appendix-text">查詢訂單進度與訂單明細。</p>
<div class="btn-full btn-bgcolor-green"><a href="/views/about/contact.html">H:ELP</a></div>
  <p class="appendix-text">若有任何問題，請至連絡我們，我們會儘快與您聯繫。</p>
</section>


<section class="popup-content-wrap" style="display:none;">

  <div class="popup-content-joinfans">
    <h2 class="tcenter">恭喜您符合H:Fans會員加入資格</h2>
    <div>
        <p>若您不同意加入H:Fans會員，請於下方勾選”不同意”，我們將不會將您升級H:Fans資格，謝謝!</p>
        <p class="warning-color">相關人員將於一個月內為您辦理發卡事項，請您留意收件。如對發卡進度有任何問題，歡迎您來電H:CONNECT：0800-698-800客服專線將由專人為您服務。</p>
        <p class="warning-color">H:Fans專屬優惠:</p>
        <ul class="style-decimal">
          <li>消費回饋紅利點數抵現金。</li>
          <li>生日當月享消費紅利點數2倍。</li>
          <li>不定期專屬優惠活動通知。</li>
        </ul>
        <p>想知道更多會員相關訊息? 請至<a href="" target="_blank" class="uline">購物須知</a></p>
        <p>注意事項:</p>
        <ul class="style-decimal">
          <li>H:Fans有效期為永久。</li>
          <li>紅利點數將於發卡後七日內匯入會員帳戶中、並可開始使用。</li>
          <li>該年度於台灣地區全省門市及百貨櫃點(不含Outlet)、台灣官方購物網站(不含第三方網站)消費累計金額滿NT$10,000，即可升級為H:VIP、並於下一筆消費開始生效。如該年度內未達到升級H:VIP會員卡之消費金額，則於次年度1月1日起將重新累計。本卡經升級取得H:VIP會員卡時回收並失效。</li>
          <li>H:CONNECT保留隨時變更使用規則之權利及任何爭議之最終決定權。</li>
        </ul>
        <p class="warning-color">提醒您：</p>
        <ul class="style-decimal warning-color">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達H:FANS升等門檻，將取消您的H:FANS會員升等資格。</li>
          <li>消費金額/紅利點數，將從成為H:FANS會員後，於下一筆新增訂單開始累積。</li>
          <li>若不同意，請至「My Page會員專區」的「會員終止」取消會員資格。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
        </ul>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol" /></i><span>我<b>不同意</b>加入H:Fans會員</span>
      </label>  
    </div>
  </div>

  <div class="popup-content-joinvip">
    <h2 class="tcenter">恭喜您符合H:VIP會員加入資格</h2>
    <div>
        <p>若您不同意加入H:VIP會員，請於下方勾選”不同意”，我們將不會將您升級H:VIP資格，謝謝！</p>
        <p class="warning-color">相關人員將於一個月內為您辦理發卡事項，請您留意收件。如對發卡進度有任何問題，歡迎您來電H:CONNECT：0800-698-800客服專線將由專人為您服務。</p>
        <p class="warning-color">H:VIP專屬優惠:</p>
        <ul class="style-decimal">
          <li>享有全省門市及百貨櫃點(不含Outlet)、台灣官方購物網站(不含第三方網站)全正價商品85折、折扣品95折優惠(售價為原價7折以下及特價之商品恕不適用)。</li>
          <li>消費回饋紅利點數抵現金。</li>
          <li>生日當月享消費紅利點數2倍。</li>
          <li>不定期專屬活動邀請及優惠活動通知。</li>
        </ul>
        <p>想知道更多會員相關訊息? 請至<a href="" target="_blank" class="uline">購物須知</a></p>
        <p>注意事項:</p>
        <ul class="style-decimal">
          <li>H:VIP有效期為自取得H:VIP資格日期起2年。於有效期內非紅利部分之消費累積滿NT$20,000，即可更新H:VIP資格</li>
          <li>紅利點數將於發卡後七日內匯入會員帳戶中、並可開始使用。</li>
          <li>紅利點數有效期為6個月，自紅利點數匯入帳戶日起算。如6個月期間內有新增消費，則自2015年1月1日起產生的所有紅利點數有效期限將自動於最後一筆消費日算起延長6個月。如自最後一筆消費日起6個月內皆未使用，則所有自2015年1月1日起產生的所有紅利點數將自動歸零。/li>
          <li>H:CONNECT保留隨時變更使用規則之權利及任何爭議之最終決定權。</li>
        </ul>
        <p class="warning-color">提醒您：</p>
        <ul class="style-decimal warning-color">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達H:VIP升等門檻，將取消您的H:VIP會員升等資格。</li>
          <li>消費金額/紅利點數，將從成為H:VIP會員後，於下一筆新增訂單開始累積。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
          <li>若不同意，請至「My Page會員專區」的「會員終止」取消會員資格。</li>
        </ul>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol" /></i><span>我<b>不同意</b>加入H:VIP會員</span>
      </label>  
    </div>

  </div>

  <div class="popup-content-upgradevip">
    <h2 class="tcenter">恭喜您符合升等成為H:VIP會員資格</h2>
    <div>
        <p>請您於消費兩周後攜帶H:FANS卡片至鄰近H:CONNECT專櫃或門市，由櫃上人員為您辦理升等及換卡。</p>
        <p>以上程序完成即可開始享H:VIP會員優惠。</p>
        <p class="warning-color">H:VIP會員優惠如下：</p>
        <ul class="style-decimal">
          <li>享有全省門市及百貨櫃點(不含Outlet)、台灣官方購物網站(不含第三方網站)全正價商品85折、折扣品95折優惠(售價為原價7折以下及特價之商品恕不適用)。</li>
          <li>消費回饋紅利點數抵現金。</li>
          <li>生日當月享消費紅利點數2倍。</li>
          <li>不定期專屬活動邀請及優惠活動通知。</li>
        </ul>
        <p>想知道更多會員相關訊息? 請至<a href="" target="_blank" class="uline">購物須知</a></p>
        <p>注意事項:</p>
        <ul class="style-decimal">
          <li>升等專櫃：全台H:CONNECT專櫃或門市(Outlet除外)。</li>
          <li>H:VIP升等須會員本人親持H:FANS卡片至全台H:CONNECT專櫃進行辦理。</li>
          <li>H:FANS升等為H:VIP後，原H:FANS卡片須由櫃上人員收回。</li>
        </ul>
        <p class="warning-color">提醒您：</p>
        <ul class="style-decimal warning-color">
          <li>若此筆交易申請退貨，且官方人員已受理，造成您的消費金額未達H:VIP升等門檻，將取消您的H:VIP會員升等資格。</li>
          <li>更多相關資訊已e-Mail至您的信箱。</li>
        </ul>
    </div>
    <div class="tcenter">
      <div class="btn-popup style-short"><a class="btn-ok btn-closepopup">確定</a></div>
    </div>
    <div class="tcenter pt1">
      <label class="module-radio">
        <input type="checkbox" name="sameassender" value="0"><i class="module-symbol" /></i><span>我<b>不同意</b>加入H:VIP會員</span>
      </label>  
    </div>
  </div>
  
</section>