<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-detail" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/jquery.touchSwipe" %>
<%= javascript_include_tag "vendors/accordion" %>
<%= javascript_include_tag "vendors/product-detail" %>
<% end %>

<!-- HEADER TEXT -->
<% content_for :specific_header_subtitle do %>
毛衣
<% end %>
<% @headerTitle = "16/28" %>
<section class="layout-product-detail">
  <div class="layout-product-detail-imagewrap">
    <img class="layout-product-detail-image" src="/assets/images/sample-p0.jpg" alt="長板混織背心長板混織背心">
    <img class="layout-product-detail-image" src="/assets/images/sample-p0-2.jpg" alt="長板混織背心長板混織背心">
    <img class="layout-product-detail-image" src="/assets/images/sample-p1.jpg" alt="長板混織背心長板混織背心">
  </div>
  <!--BUTTON BAR in the bottom of images-->
  <div class="layout-product-detail-bottom">
    <div class="btn-wrap">
      <div class="btn-bgcolor btn-buynow"><a><img src="/assets/images/icon-bag.svg" alt="icon-bag">立即購買</a></div>
      <div class="btn-bgcolor btn-addcart"><a><i class="fa fa-shopping-cart"></i>加入購物車</a></div>
    </div>
    <h1 class="layout-product-detail-name">長板混織背心長板混織背心</h1>
    <p class="product-price sale">
      <span class="origin-price">$19999</span>
      <span class="sp-price">$14999</span>
    </p>
    <div class="color-btn-wrap">
      <div class="btn-sq btn-sq-color choosed" style="background-color:#FFFFFF"></div>
      <div class="btn-sq btn-sq-color" style="background-color:#369"></div>
      <div class="btn-sq btn-sq-color" style="background-color:#69F"></div>
      <div class="btn-sq btn-sq-color" style="background-color:#F96"></div>
    </div>
    <div class="size-btn-wrap">    
      <div class="btn-sq btn-sq-size">S</div>
      <div class="btn-sq btn-sq-size">M</div>
      <div class="btn-sq btn-sq-size">L</div>
      <div class="btn-sq btn-sq-size choosed">XL</div>
    </div>
  </div>
  <!--END OF BUTTON BAR-->
  <div class="layout-accordion layout-product-info">
    <div class="layout-product-info-sku"><span>Y123456789</span>長板混織背心again</div>
    <%= render :partial => "../../partial/layout-accordion", :locals => { :list => productInfo(), :bgFull => false } %>
  </div>
    <div class="btn-sq btn-love liked"></div>
    <div class="btn-sq btn-info"></div>    
  <!-- <div class="btn-sq btn-more"></div> -->

</section>