<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-list" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/product" %>
<% end %>
<% content_for :specific_header_lastbtn do %>
  <span class="layout-header-openfilter" role="button">
    <i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i>
  </span>
<% end %>
<!-- HEADER TEXT -->
<% @headerTitle = "毛衣" %>
<%#= render :partial => "/partial/layout-filter-header" %>
<section class="layout-content style-fullsize section-product-list">

<ul class="product-list">
<% 11.times do %>
  <li class="product-list-item">
    <div class="product-list-item-img" style="background-image:url('/assets/images/sample-p0.jpg');">
      <a href="product-detail.html"></a>
      <div class="btn-sq btn-love"></div><!--add class .liked if it's liked-->
    </div>
    <p class="product-list-item-name"><a href="product-detail.html">長版混織背心長版混織背心長版混織背心長版混織背心長版混織背心</a></p>
    <p class="product-price sale">
      <span class="origin-price">$19999</span>
      <span class="sp-price">$14999</span>
    </p>
  </li>
<% end %>
</ul>

</section>

<section class="module-filter tag-filter">
  <ul class="module-filter-menu">
    <li class="module-filter-menu-btn tag-filter on"><span class="icon-wrap"><i class="fa fa-tag fa-rotate-270"></i></span>商品標籤</li>
    <li class="module-filter-menu-btn order-filter"><span class="icon-wrap"><i class="fa fa-long-arrow-down"></i><i class="fa fa-long-arrow-up"></i></span>商品排序</li>
  </ul>

  <ul class="module-filter-list order-list">
    <% 5.times do %>  
    <li class="module-filter-list-item">
    <label class="module-radio">
    <input type="radio" name="agree" value="0"><i class="module-symbol" /></i><span>價格高</span>
    </label>
    </li>
    <% end %>
  </ul>

  <ul class="module-filter-list tag-list">
    <% 10.times do %>  
    <li class="module-filter-list-item">
    <label class="module-radio style-multi">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>春夏新款</span>
    </label>
    </li>
    <% end %>
  </ul>
</section>