<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/product-category" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>


  <% @category_banner = [{
    image: "/assets/images/sample-banner2.jpg",
    name: "Outerwears",
    href: "product-list.html"
    },{
    image: "/assets/images/sample-banner1.jpg",
    name: "Shirts",
    href: "product-list.html"
    },{
    image: "/assets/images/sample-banner2.jpg",
    name: "Sweaters",
    href: "product-list.html"
    },{
    image: "/assets/images/sample-banner1.jpg",
    name: "Tank Tops",
    href: "product-list.html"
    },{
    image: "/assets/images/sample-banner2.jpg",
    name: "Pants",
    href: "product-list.html"
    }
  ] %>

<!-- HEADER TEXT -->
<% @headerTitle = "女裝" %>
<section class="layout-content style-fullsize">

<% @category_banner.each do |category_banner| %>
  <div class="product-category-banner" style="background-image:url('<%= category_banner[:image] %>');">
    <a href="<%= category_banner[:href] %>" >
      <span class="product-category-banner-name"><%= category_banner[:name] %></span>
    </a>
  </div>
<% end %>

</section>