<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/payment-new" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<%= javascript_include_tag "vendors/payment" %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "付款與寄送方式" %>

<form style="height:100%;">

  <section class="layout-cart-payment">
    <div class="layout-accordion">
        <ul class="accordion-list">

            <li class="accordion-item">
                <div class="accordion-item-title">
                    產品明細
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">

                    <ul class="module-cart-list style-smallimg">
                      <% 11.times do %>
                        <li class="module-cart-item">
                          <div class="module-cart-item-img" style="background-image:url('/assets/images/sample-p0.jpg');">
                          </div>
                          <div class="module-cart-item-content">
                            <p class="module-cart-item-name">長版混織背心長版混織背心長版混織背心</p>
                            <p class="module-cart-item-saleinfo">超值優惠 女裝全館八折</p>
                            <p class="module-cart-item-sn">Y123456789L</p>
                            <div class="module-cart-item-spec">
                              <p class="product-price">
                                <span class="origin-price">$19999</span>
                              </p>          
                              <div class="btn-cart-sq btn-cart-sq-size">S</div>
                              <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#CDF"></div>
                              <span class="module-cart-item-num">x 9</span>
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>

                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    使用COUPON
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="discount">
                        <input id="couponText" class="discount-input" type="text" placeholder="請輸入COUPON"/>

                        <div id="couponButton" class="module-btn style-red discount-use">使用</div>
                    </div>
                    <div class="coupon-padding">
                        COUPON xxx 已使用 -50<br/>COUPON xxx 已使用 -50<br/>COUPON xxx 已使用 -50<br/>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    使用點數
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="form-block">
                      <label class="module-form-label">會員等級</label>
                      <span>VIP</span>
                    </div>
                    <div class="form-block">
                      <label class="module-form-label">會員點數</label>
                      <span><span class="warning-color2">1500</span> 點</span>
                    </div>

                    <div class="form-block">
                      <label class="module-form-label">即將過期點數</label>  
                      <span><span class="warning-color">1500</span> 點 <span class="style-small"><span class="warning-color">2015/6/17</span>到期</span></span>
                    </div>
                    <div class="discount">
                        <input id="pointText" class="discount-input" type="text" placeholder="請輸入點數"/>

                        <div id="pointButton" class="module-btn style-red discount-use">使用</div>
                        <!-- <span class="warning-color">尚餘3214點</span> -->
                    </div>
                    <div class="member-exp">
                      <i class="hfans"></i>
                        <div class="member-exp-bar">
                          <div class="member-exp-bar-value" style="width:88%;">
                            <div class="member-exp-bar-value-tag">H:<span class="member-exp-num">88</span></div>
                          </div>
                        </div>
                      <i class="hvip"></i>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    寄件人資訊
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">
                    <div class="simple-form -contact">
                        <div class="title-label">
                            <label>寄件人</label>
                            <label>連絡電話</label>
                            <label>E-MAIL</label>
                            <label>地址</label>
                        </div>

                        <div class="content-label">
                            <label>DuDu Kevin</label>
                            <label>0987654321</label>
                            <label>kevin61225@yahoo.com.tw</label>
                            <label>TEST ADDRESS</label>
                        </div>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    收件人資訊
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content contact">

                    <div class="form-block receiver">
                        <label class="module-form-label" for="receiver"><i class="shape-star"></i>收件人</label>
                        <input type="text" name="receiver" id="receiver" class="module-form-input"
                                placeholder="請輸入姓名" />

                        <div>
                            <label class="module-radio">
                                <input type="checkbox" name="agree" value="0"><i class="module-symbol"/></i>
                                <span>同收件人</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="phone"><i class="shape-star"></i>聯絡電話</label>
                        <input type="text" name="phone" id="phone" class="module-form-input"
                                placeholder="請輸入連絡電話" />

                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="address"><i class="shape-star"></i>地址</label>


                        <select class="module-form-select select-style-half style-sub" name="general">
                            <option value="0">地址1</option>
                            <option value="1">地址2</option>
                        </select>

                        <select class="module-form-select select-style-half style-sub" name="general">
                            <option value="0">option</option>
                            <option value="1">option</option>
                        </select>
                        <input type="text" name="address" id="address" class="module-form-input style-full"
                               placeholder="請輸入地址"/>
                    </div>
                    <div class="form-block">
                        <label class="module-form-label" for="comments"><i class="shape-star"></i>備註</label>
                        <input type="text" name="comments" id="comments" class="module-form-input"
                               placeholder=""/>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    付款方式
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content">

                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="0"><i class="module-symbol"/></i><span>信用卡付款</span>
                        </label>
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>貨到付款</span>
                        </label>
                    </div>
                </div>
            </li>

            <li class="accordion-item">
                <div class="accordion-item-title">
                    發票選擇
                    <i role="img" class="fa fa-angle-down"></i>
                </div>
                <div class="accordion-item-content receipt">

                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="0"><i class="module-symbol"/></i><span>二聯式發票</span>
                        </label>
                    </div>
                    <div class="form-block">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>三聯式發票</span>
                        </label>
                    </div>

                    <div class="form-block">
                        <input type="text" name="serial-number" id="serial-number" class="module-form-input style-full"
                               placeholder="請輸入統一編號"/>
                    </div>
                    <div class="form-block">
                        <input type="text" name="receipt-title" id="receipt-title" class="module-form-input style-full"
                               placeholder="請輸入發票抬頭"/>
                    </div>
                    <div class="form-block" style="padding-top:0.5em;">
                        <label class="module-radio">
                            <input type="radio" name="payment" value="1"><i class="module-symbol"/></i>
                            <span>請替我將發票捐做公益用途</span>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="total-record">
        <div class="record-label">
            <label>商品小計</label>
            <label>COUPON抵扣</label>
            <label>點數抵扣</label>
            <label>運費</label>
            <label>合計訂單金額</label>
        </div>

        <div class="record-cash">
            <label class="prefix-dollarsign">3320</label>
            <label class="prefix-dollarsign warning-color">-0</label>
            <label class="prefix-dollarsign warning-color">-0</label>
            <label class="prefix-dollarsign">0</label>
            <label class="prefix-dollarsign">3320</label>
        </div>
    </div>
    <div class="payment-btn">
        <div id="back-to-cart" class="module-btn style-gray"><a href="product-cart.html">回到購物車</a></div>
        <div id="checkout" class="module-btn style-red"><a href="product-payment-complete.html">結帳</a></div>
    </div>

  </section>
</form>