<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "尺寸指南" %>


<section class="layout-content">
  <h2>《尺碼表 女裝》</h2> 
  <p>請直接在身上測量</p>
  <ul>
    <li>測量時請穿著合身內衣，並於胸部豐滿處測量</li>
    <li>在腰部最細的部位量度腰圍</li>
    <li>臀圍的寬度應圍繞臀部最豐滿處測量</li>
    <li>褲內側長度應已褲襠至地面的長度為準</li>
  </ul>

<table class="module-table table-style-b">
  <thead>
    <tr>
      <td>WOMEN</td><td>F</td><td>S</td><td>M</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>胸圍(公分)</td><td>88</td><td>88</td><td>96</td>
    </tr>
    <tr>
      <td>腰圍(公分)</td><td>69</td><td>69</td><td>76</td>
    </tr>
    <tr>
      <td>臀圍(公分)</td><td>90</td><td>90</td><td>98</td>
    </tr>
    <tr>
      <td>衣長(公分)</td><td>77</td><td>77</td><td>79</td>
    </tr>
  </tbody>
</table>
<table class="module-table table-style-b">
  <thead>
    <tr>
      <td>WOMEN</td><td>S</td><td>M</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>英吋</td><td>25/26/27</td><td>28/29</td>
    </tr>
  </tbody>
</table>

  <h2>《尺碼表 男裝》</h2> 
  <p>請直接在身上測量</p>
  <ul>
    <li>測量時請穿著合身內衣，並於胸部豐滿處測量</li>
    <li>在腰部最細的部位量度腰圍</li>
    <li>臀圍的寬度應圍繞臀部最豐滿處測量</li>
    <li>褲內側長度應已褲襠至地面的長度為準</li>
  </ul>

<table class="module-table table-style-b">
  <thead>
    <tr>
      <td>MEN</td><td>F</td><td>M</td><td>L</td><td>XL</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>胸圍(公分)</td><td>90</td><td>90</td><td>98</td><td>106</td>
    </tr>
    <tr>
      <td>腰圍(公分)</td><td>72</td><td>72</td><td>80</td><td>90</td>
    </tr>
    <tr>
      <td>臀圍(公分)</td><td>92</td><td>92</td><td>98</td><td>104</td>
    </tr>
    <tr>
      <td>衣長(公分)</td><td>80</td><td>80</td><td>82</td><td>84</td>
    </tr>
  </tbody>
</table>
<table class="module-table table-style-b">
  <thead>
    <tr>
      <td>MEN</td><td>M</td><td>L</td><td>XL</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>英吋</td><td>28</td><td>30</td><td>32/34</td>
    </tr>
  </tbody>
</table>
</section>