<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<% end %>
<% @headerTitle = "常見問題" %>

<div class="layout-accordion">
  <%= render :partial => "../../partial/layout-accordion", :locals => { :list => faq(), :bgFull => true } %>
</div>