<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<% end %>
<% @headerTitle = "隱私權保護" %>
<div class="layout-accordion privacy-list">
  <%= render :partial => "../../partial/layout-accordion", :locals => { :list => privacyRules(), :bgFull => true } %>
</div>