<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/accordion" %>
<% end %>
<% @headerTitle = "隱私權保護" %>

<div class="layout-accordion">
  <ul class="accordion-list status-full">

    <% 5.times do %>
    <li class="accordion-item">
      <div class="bar-content"><span class="rule-num">第十一條</span><span class="bar-text">會員資料提供與保護會員資料提供與保護會員資料提供與保護會員資料提供與保護</span><i role="img" class="fa fa-angle-down"></i></div>
      <div class="inner-content">
        <div class="inner-content-article"><%= zh_lorem_paragraphs(2) %></div>
      </div>
    </li>
    <% end %>

  </ul>
</div>