<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "購物須知" %>

<section class="layout-content">
  <h1><%= @headerTitle %></h1>

  <ul class="module-clause clause-level-1">
    <li class="module-clause-item">
      <h2 class="module-clause-title">線上購物說明</h2>
      <p>會員條款：在您進行線上購物服務前，請先詳細閱讀H:CONNECT會員條款。</p>
      <p>購物流程：選購商品→購物結帳→填寫資料與付款→訂購完成。</p>
      <p>到貨時間：H:CONNECT在確認訂單條件無誤後，將於二個工作天（不含週休及國定例假日）內，將商品寄出。</p>
      <p>訂單查詢：當您完成訂購程序後，您可以利用頁面主選單的「My Page專區」，點選「訂單記錄查詢」，查詢目前的訂單狀態，各訂單狀態說明如下：</p>
      <table class="module-table table-style-a">
        <thead>
          <tr>
            <td>訂單狀態</td>
            <td>定義</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>處理中</td>
            <td>正為您處理訂單中，我們將於二個工作天內將商品寄出。</td>
          </tr>
          <tr>
          <td>出貨中</td>
          <td>您的商品已出貨，三日內宅配公司將送達您指定的地址。</td>
          </tr>
          <tr>
            <td>已完成</td>
            <td>您的商品已送達，且已簽收。</td>
          </tr>
          <tr>
            <td>已取消</td>
            <td>您的訂單已取消。</td>
          </tr>
          <tr>
            <td>付款失敗</td>
            <td>您付款過程中，因斷線、資料錯誤、付款金額不正確、金流服務出錯…等狀況，導致付款認證傳回失敗，請 重新訂購商品，並重新檢視您付款資料的正確性。</td>
          </tr>
        </tbody>
      </table>
    </li>

    <li class="module-clause-item">
      <h2 class="module-clause-title">付款方式</h2>
      <p>目前提供「線上刷卡」與 「貨到付款」二種方式。</p>
      <ul class="clause-level-2">
        <li>
          <h3>【線上刷卡】</h3>
          <p>信用卡線上刷卡後，宅配到府。</p> 
          <p>備註 ： 當您在結帳頁面填寫資料時，請填寫正確資料，以利銀行做信用卡資料的審核。刷卡過程採用SSL加密，採用高標準的作業流程，進行刷卡時，您的卡號全程加密，相關卡號資訊也完全不會留存在H:CONNECT資料庫，確保您的交易安全。</p>
        </li>
        <li>
          <h3>【貨到付款】</h3>
          <p>貨到付款，宅配到府。</p> 
          <p>說明 ： 貨到付款除運費50元（外島運費200元）外，需加收30元（宅配貨到付款手續費）。</p>
        </li>
        <li>
          <h3>【發票】</h3>
          <p>發票將於出貨時開立，紙本發票將會隨貨一併附上，若發生發票開立錯誤之情形，請與客服中心告知錯誤，我們將會進行補發，造成 您的不便，煩請見諒。若欲辦理退貨處理，請務必附上發票以茲証明，如果訂單中只有部份商品辦理退貨，將會於退貨處理完成後，將原發票與折讓單寄回。「退款折讓單」以及詳細內容請與客服中心索取。 </p>
        </li>
<!--         <li>
          <p>ddd</p>
          <ul class="clause-level-3">
            <li>
              <p>ddd</p>
            </li>
          </ul>
        </li> -->
      </ul>
    </li>

    <li class="module-clause-item">
      <h2 class="module-clause-title">商品運送</h2>
      <h3>【出貨說明】</h3>
      <p>您的訂單正式成立後，我們將於二個工作天（不含週休及國定例假日）內將商品寄出。收到貨後請您請立即檢查，確認商品內容無誤。目前商品由統一速逹股份有限公司（黑貓宅急便）進行配送服務。</p>
      <h3>【運費計算】</h3>
      <p>一筆訂單總金額超過新台幣$1000元（含）免收取運費；未滿新台幣$1000元時，消費者需自付運費新台幣50元，（限台灣本島），外島運費為新台幣200元。</p>
    </li>

    <li class="module-clause-item">
      <h2 class="module-clause-title">會員權益</h2>
      <p>趕快加入H:CONNECT會員，享有專屬優惠！</p>

      <h4>H:Fans加入辦法：</h4>
      <p>於全省門市及百貨櫃點（不含Outlet） 、台灣官方購物網站（不含第三方網站）單筆消費滿NT$2,000即可成為H:Fans。</p>
      <h4>H:VIP加入辦法：</h4>
      <p>於全省門市及百貨櫃點 （不含Outlet）、台灣官方購物網站（不含第三方網站）單筆消費滿NT$10,000或H:Fans該年度累積消費滿NT$10,000即可成為H:VIP。</p>

      <h4>H:Fans條款與細則說明</h4>                                               
      <h3>H:Fans專屬優惠</h3>
      <ul class="clause-level-2">
        <li>消費回饋紅利點數抵現金。</li>
        <li>生日當月享消費紅利點數2倍。</li>
        <li>不定期專屬優惠活動通知。</li>
      </ul>
       
      <h3>紅利點數累積與折抵相關約定</h3>
      <ul class="clause-level-2">
        <li>全省門市及百貨櫃點 （不含Outlet）、台灣官方購物網站（不含第三方網站）消費每滿NT$100獲紅利點數5點，紅利點數於當筆消費日7天後匯入會員帳戶中、並可開始使用。</li>
        <li>紅利點數每1點可於全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）下一次消費時折抵NT$1，折抵上限為消費總額之50%。</li>
        <li>紅利點數計算將以優惠折扣及消費折抵後之實際交易金額為基準。</li>
        <li>紅利點數有效期為6個月，自紅利點數匯入會員帳戶日起算。如6個月期間內有新增消費，則所有紅利點數有效期限將自動於最後一筆消費日算起延長6個月，如自最後一筆消費日起6個月內皆未使用，則所有紅利點數將自動歸零。</li>
        <li>帳戶資訊及查詢紅利點數，可憑卡至My Page查詢。
      </li>
      </ul>

      <h3>商品退換時紅利點數之處理細則</h3>
      <ul class="clause-level-2">
        <li>換貨
          <ul class="clause-level-3">
            <li>更換等值商品：將直接安排換貨流程。</li>
            <li>更換大於原購買金額之商品：差額付款不得使用紅利點數折抵。</li>
            <li>更換小於原購買金額之商品：
              <ul class="clause-level-4">
                <li>如非使用紅利點數折抵，將以原付款方式退還差額，並於未匯入會員帳戶中之紅利點數先扣除退還該差額所產生之紅利點數。</li>
                <li>如使用紅利點數折抵，則優先退還原折抵之紅利點數，若紅利點數不足時再以原付款方式退還「剩餘差額」，並於未匯入會員帳戶中之紅利點數先扣除該「剩餘差額」所產生之紅利點數。</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>退貨
          <ul class="clause-level-3">
            <li>非使用紅利點數折抵商品：將以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
            <li>使用紅利點數折抵商品：將紅利點數與金額部分以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
          </ul>
        </li>
      </ul>

      <h3>相關權益</h3>
      <ul class="clause-level-2">
        <li>H:Fans有效期為永久。</li>
        <li>本會員制度僅適用於台灣地區全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）。</li>
        <li>H:Fans每人限申請一個帳號，不得轉讓或重複申請。</li>
        <li>紅利點數僅供H:Fans本人使用，請勿將您的帳號及個人資訊公開。</li>
        <li>該年度於台灣地區全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）消費累計金額滿NT$10,000，即可升級為H:VIP、並於下一筆消費開始生效。如該年度內未達到升級H:VIP會員卡之消費金額，則於次年度1月1日起將重新累計。本卡經升級取得H:VIP會員卡時回收並失效。</li>
        <li>如本公司系統發生異常情況，本公司有權暫停會員權益及優惠，直至異常狀況解除。</li>
        <li>如對紅利點數有疑問、顧客資料異動或未收到各項活動資訊，可至H:ELP留言，或撥打客服專線0800-698-800。</li>
        <li>本公司保留隨時變更使用規則之權利及任何爭議之最終決定權。最新使用規則請以門市及官方網站www.hconnect.com公告為準。</li>
      </ul>

      <h4>H:VIP條款與細則說明</h4>                                               
      <h3>H:VIP專屬優惠</h3>
      <ul class="clause-level-2">
        <li>享有全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）全正價商品85折、折扣品95折優惠惠 （售價為原價7折以下及特價之商品恕不適用）。</li>
        <li>消費回饋紅利點數抵現金。</li>
        <li>生日當月享消費紅利點數。</li>
        <li>不定期專屬活動邀請及優惠活動通知。</li>
      </ul>
       
      <h3>紅利點數累積與折抵相關約定</h3>
      <ul class="clause-level-2">
        <li>全省門市及百貨櫃點 （不含Outlet）、台灣官方購物網站（不含第三方網站）消費每滿NT$100獲紅利點數5點，紅利點數於當筆消費日7天後匯入會員帳戶中、並可開始使用。</li>
        <li>紅利點數每1點可於全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）下一次消費時折抵NT$1，折抵上限為消費總額之75%。</li>
        <li>紅利點數計算將以優惠折扣及消費折抵後之實際交易金額為基準。</li>
        <li>紅利點數有效期為6個月，自紅利點數匯入會員帳戶日起算。如6個月期間內有新增消費，則所有紅利點數有效期限將自動於最後一筆消費日算起延長6個月，如自最後一筆消費日起6個月內皆未使用，則所有紅利點數將自動歸零。</li>
        <li>帳戶資訊及查詢紅利點數，可憑卡至My Page查詢。</li>
      </ul>

      <h3>商品退換時紅利點數之處理細則</h3>
      <ul class="clause-level-2">
        <li>換貨
          <ul class="clause-level-3">
            <li>更換等值商品：將直接安排換貨流程。</li>
            <li>更換大於原購買金額之商品：差額付款不得使用紅利點數折抵。</li>
            <li>更換小於原購買金額之商品：
              <ul class="clause-level-4">
                <li>如非使用紅利點數折抵，將以原付款方式退還差額，並於未匯入會員帳戶中之紅利點數先扣除退還該差額所產生之紅利點數。</li>
                <li>如使用紅利點數折抵，則優先退還原折抵之紅利點數，若紅利點數不足時再以原付款方式退還「剩餘差額」，並於未匯入會員帳戶中之紅利點數先扣除該「剩餘差額」所產生之紅利點數。</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>退貨
          <ul class="clause-level-3">
            <li>非使用紅利點數折抵商品：將以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
            <li>使用紅利點數折抵商品：將紅利點數與金額部分以原付款方式退還，並取消未匯入會員帳戶中之紅利點數。</li>
          </ul>
        </li>
      </ul>

      <h3>相關權益</h3>
      <ul class="clause-level-2">
        <li>H:VIP自發卡日起有效期限為2年，於有效會員期限內於台灣地區全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）消費累計達NT$20,000以上，會員到期日將自動續卡2年，如未達到門檻將失去H:VIP會員資格，將收回原卡片並改發H:Fans集點卡。</li>
        <li>本會員制度僅適用於台灣地區全省門市及百貨櫃點（不含Outlet）、台灣官方購物網站（不含第三方網站）。</li>
        <li>H:VIP每人限申請一個帳號，不得轉讓或重複申請。</li>
        <li>紅利點數僅供H:VIP本人使用，請勿將您的帳號及個人資訊公開。</li>
        <li>如本公司系統發生異常情況，本公司有權暫停會員權益及優惠，直至異常狀況解除。</li>
        <li>如對紅利點數有疑問、顧客資料異動或未收到各項活動資訊，可至H:ELP留言，或撥打客服專線0800-698-800。</li>
        <li>本公司保留隨時變更使用規則之權利及任何爭議之最終決定權。最新使用規則請以門市及官方網站www.hconnect.com公告為準。</li>
      </ul>
    </li>

    <li class="module-clause-item">
      <h2 class="module-clause-title">交易安全 </h2>
      <p>H:CONNECT承諾基於您同意所 登記、授與H:CONNECT的個人資料，均受到隱密且安全的保護。</p>
      <h4>抽獎或任何宣傳活動</h4>
      <p>當您參加本網站內之抽獎或任何宣傳活動，您所提供之個人資料將作為核實您的參加資格，以及聯絡您的方法， H:CONNECT亦會將有關資料作為與你溝通有關合適的產品資訊及宣傳活動之用。</p>
      <h4>法律免責聲明</h4>
      <ul class="clause-level-2">
        <li>此網站中所載之一切資訊僅供參考之用。H:CONNECT並不對資訊的準確性、完整性和及時性作出保證，也不會對此網站之內容所造成或引起的任何損失或損壞承擔任何法律責任（包括侵權法下和合同法下的法律責任，以及其他法律責任）。</li>
        <li>儘管此網站中載有連接到第三方網站的連結，然而H:CONNECT並未曾參與此等其他網站的製作過程，也不對此等網站施以任何編輯管控或其他管控。你若存取或使用此等其他網站，就必須自己承擔可能出現的風險。H:CONNECT對此等網站的連結中所載之資訊的準確性和內容，均不承擔任何責任。連接到此網站的連結，以及此網站上所載之連接到其他網站的連結，均不構成H:CONNECT對第三方或其產品／服務之認可或推薦。</li>
        <li>H:CONNECT對可能發送到第三方或提供予第三方的任何資訊之安全性，均不作出保證，並且不為因透過此網站存取其他任何網站，或因透過此網站與此等網站進行資訊交換，而蒙受之任何損失或損壞，負任何責任。</li>
        <li>在下列情況下，H:CONNECT有權將您的個人資料給有權機關、或主張其權利受侵害並提出適當證明的第三人：
          <ul class="clause-level-3">
            <li>依法律之規定、或依司法、檢警調機關與其他有權機關合法之要求。</li>
            <li>為保障其他會員或第三人之合法權益。 </li>
            <li>為維護H:CONNECT網站系統的正常運作及安全。</li>
            <li>您違反本約定條款，而H:CONNECT依法行使權利者。 </li>
          </ul>
        </li>
        <li>為了幫助我們更了解您的喜好和購物行為，進而提供您更好的服務品質，系統會保留您上網瀏覽時，伺服器自行產生的相關記錄，包括您的連線IP位址、使用時間長短、使用的瀏覽器種類、瀏覽及點選哪些商品資料等。</li>
        <li>為了區別不同的使用者，系統會將cookies資訊寫入會員的硬碟中，其主要作用在儲存您在使用上偏好的特定資訊，方便您再次瀏覽H:CONNECT網站，cookies並不含任何可使第三者透過電話或電子郵件與您聯絡的資料。您可在瀏覽器上的設定功能選項中進行cookies的設定。</li>
        <li>為了因應市場變化以及政府法令，當我們必須修改使用個人資料的規定時，我們會在網頁上張貼公告通知相關事項。</li>
      </ul>
    </li>
  </ul>
</section>