<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "退換貨申請" %>

<section class="layout-content">
  <h1><%= @headerTitle %></h1>

  <ul class="module-clause clause-level-1">
    <li class="module-clause-item">
      <h2>【換貨】</h2>
      <ul class="clause-level-2">
        <li>H:CONNECT購物官網提供只退貨不換貨之服務。</li>
        <li>若您尺寸不合，您可持發票至全省H:CONNECT門市更換其他尺寸。</li>
        <li>若您收到不合適、不喜愛的商品，您亦可持發票至全省H:CONNECT門市更換其他商品，所更換價格依門市現場的售價為準。</li>
        <li>如果您所購買的是貼身商品(如內衣、內褲)，為保障顧客權益，基於個人衛生，恕無法提供退換貨服務。</li>
      </ul>
    </li>
    <li class="module-clause-item">
          <h2>【商品尺寸修改】</h2>
          <p>於網路商店購買的商品，可至門市修改您要的長度。</p>
    </li>
    <li class="module-clause-item">
          <h2>【取消訂單】</h2>
          <p>若您要取消訂單，請與客服人員聯絡。</p>
          <p class="warning-color">※請注意，付款方式一但選擇完成將無法變更，訂單成立後[寄件人]與[配送資料]等將無法修改，若您於訂單成立後欲修改配送地址或付款方式等，需於出貨前取消訂單。</p>
    </li>
    <li class="module-clause-item">
      <h2>【退貨】</h2>
      <p>※若您尺寸不合，您可持發票至全省H:CONNECT門市更換其他尺寸。 </p>
      <p>※若您收到不合適、不喜愛的商品，您亦可持發票至全省H:CONNECT門市更換其他商品，所更換價格依門市現場的售價為準。 </p>
      <ul class="clause-level-2">
        <li>若您因商品瑕疵要辦理退貨，請於收到貨當日起7天鑑賞期內（含國定與例假日）聯絡我們。 H:CONNECT僅接受每張訂單1次退貨之運費吸收，如已超過7天鑑賞期限，恕不接受退貨。</li>
        <li>請注意，您所退回的商品內容必須包括未被穿過、洗過、使用過之商品，並維持所有商品、贈品、附件、包裝、附隨文件或資料的完整性，並保留商品上的[吊卡]與[洗滌標]，否則， H:CONNECT有權力拒絕您的退貨退款要求。</li>
        <li>個人試穿後，若商品因人為因素產生異味或材質變形，或您所購買的是貼身商品(如內衣、內褲)，為保障顧客權益，基於個人衛生，恕無法提供退換貨服務。 </li>
        <li>退貨時，請您重新包裝您要退貨的商品。若您退貨之商品若有缺件或是損毀， H:CONNECT有權拒絕您的退貨退款要求。 </li>
        <li>如因個人因素退貨次數過多， H:CONNECT將視情形決定是否暫停出貨，敬請見諒。 </li>
      </ul>
    </li>
    <li class="module-clause-item">
      <h2>【退貨操作步驟說明】</h2>
      <p>※退貨發票相關處理方式說明 如退貨時間已過次月15日(已過申報期)，請一律使用「退款折讓單」方式取代發票退回。</p>
      <p>請洽客服中心提問索取「退款折讓單」以及詳細內容。 </p>
      <table class="module-table table-style-c">
        <tbody>
          <tr>
            <td>1</td>
            <td>請您連絡我們。註明收件人/收件地址/連絡人電話，我們會安排宅配公司於三個工作天內到您指定的地點取貨。</td>
          </tr>
          <tr>
            <td colspan="2"><i role="img" class="fa fa-angle-down"></i></td>
          </tr>
          <tr>
            <td>2</td>
            <td>請將欲退貨的商品，連同訂單明細、統一發票及完整原包裝一起寄回。請特別注意，若寄回的資料不全，將無法進行退貨。</td>
          </tr>
          <tr>
            <td colspan="2"><i role="img" class="fa fa-angle-down"></i></td>
          </tr>
          <tr>
            <td>3</td>
            <td>請您重新包裝您要退貨的商品，再交給本公司所安排的宅配人員回收。</td>
          </tr>
          <tr>
            <td colspan="2"><i role="img" class="fa fa-angle-down"></i></td>
          </tr>
          <tr>
            <td>4</td>
            <td>本公司確認退貨商品內容無誤後，即會進行退款處理。</td>
          </tr>
        </tbody>
      </table>
      <p class="warning-color">※如果只有部分商品需要退貨，請洽客服中心提問索取「退款折讓單」以及詳細內容。</p>
    </li>
    <li class="module-clause-item">
      <h2>【退款處理說明】</h2>
      <table class="module-table table-style-d">
        <tboby>
          <tr>
            <td>付款方式</td>
            <td>信用卡</td>
          </tr>
          <tr>
            <td>退款方式</td>
            <td>信用卡刷退</td>
          </tr>
          <tr>
            <td>退款工作天</td>
            <td>約7個工作天</td>
          </tr>
          <tr>
            <td>說明</td>
            <td>
              <p>請聯絡客服人員協助處理刷退事宜，若作業時間跨信用卡結帳日，費用將退於次月帳單次月25號。</p> 
              <p>刷退注意：</p> 
              <p>1. 若退貨後，訂單若未達免運標準，則需自行負擔退貨[物流費]50元，我們將於刷退時扣除。</p> 
              <p>2. 若您是購買[組合商品]，退貨後導致未達[組合商品]的優惠價，同單保留優惠商品需恢復原價，滿額贈品亦需退回。</p>
            </td>
          </tr>
        </tboby>
      </table>
      <table class="module-table table-style-d">
        <tboby>
          <tr>
            <td>付款方式</td>
            <td>貨到付款</td>
          </tr>
          <tr>
            <td>退款方式</td>
            <td>電匯退款</td>
          </tr>
          <tr>
            <td>退款工作天</td>
            <td>依公司規定程序辦理</td>
          </tr>
          <tr>
            <td>說明</td>
            <td>
              <p>退款注意：</p> 
              <p>1. 退貨後，訂單若未達免運標準，則需自行負擔退貨[物流費]50元與[貨到付款手續費]30元，我們將於退款時扣除。</p> 
              <p>2. 若您是購買[組合商品]，退貨後導致未達[組合商品]的優惠價，同單保留優惠商品需恢復原價，滿額贈品亦需退回。</p>
              <p>3. 請提供退款帳戶資料：</p>
              <p>帳號、戶名、銀行（如第一銀行）、銀行分行（如忠孝分行）</p>
            </td>
          </tr>
        </tboby>
      </table>

    </li>
    <li class="module-clause-item">
      <h2>【七日鑑賞期規定】</h2>
      <p>根據消費者保護法之規定，H:CONNECT提供您享有商品到貨的七日鑑賞期權益，是由消費者完成簽收取件的隔日開始算起至第7天止（如您的收件地址有管理員代收，則以代收的隔日起算，請留意送件通知），為七日鑑賞期限。鑑賞期間是提供您評估是否購買該商品，並非提供您試用該商品。</p>
    </li>
  </ul>
</section>