<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/guide" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "送貨說明" %>

<section class="layout-content">
  <h1><%= @headerTitle %></h1>
  <img src="../../assets/images/img_question4.jpg" alt="七天內到貨" width="100%"/>
  <p>當您交易成功，訂單將進入付款程序，H:CONNECT在確認訂單條件無誤後，將於兩個工作天內將商品寄出，三至四個工作天內配送達您指定的收件地址（皆不含週休及國定例假日）。</p>
  <p>為了保護商品的完整，H:CONNECT會妥善包裝您所訂購的商品，收到貨後請立即檢查，確認商品包裝完整無缺。</p>
  <p>目前H:CONNECT網路訂購商品由統一速達股份有限公司（黑貓宅急便）進行配送，服務僅限台灣本島各地各縣市、澎湖部分地區、金門部分地區（大金門、小金門）、小琉球、馬祖全部地區、綠島。</p><p>註：以下區域恕不提供宅急便包裹收送 </p>
  <p>宜蘭縣-釣魚台列嶼（全），高雄市-東沙（全）、南沙（全），澎湖縣-馬公（虎井島、桶盤島）、 
望安（全）、七美（全）、白沙（大倉嶼、員貝嶼、鳥嶼、吉貝嶼），金門縣-烈嶼（大膽島、二膽島）、烏坵（全）、台東縣-蘭嶼（全）</p>
</section>