/* NORMAL CART */
.layout-cart{
  margin-top: 0;
  margin-bottom: 0;
  // height: calc( 100% - #{$layout-heading-height} - #{$layout-tabbar-height});
  height: 100%;
}
.module-cart-list{
  @extend %listUnstyled;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0.5em;
  padding-left: 0.5em;
  // height: calc( 100% - #{$layout-heading-height} - #{$layout-tabbar-height} - #{$layout-cart-bottom-height} );
  height: calc( 100% - #{$layout-cart-bottom-height} );
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .module-cart-item{
    padding-bottom: 1em;
  }
  .module-cart-item-img{
    padding-right: 0.5em;
    margin-top: 0.3em;
    float: left;
    width: 6em;
    height: 10.7em;
    @include backgroundSize(cover);
    background-position: center top;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .fa-times{
    float: right;
    font-size: 1.5em;
    color: nth($color-gray, 4); 
    padding-left: 0.5em;
    &:active{
      color: nth($color-gray, 2);
    }
  }
  .module-cart-item-content{
    padding-left: 6.5em;
  }
  .module-cart-item-saleinfo{
    font-size: 0.8em;
    color: nth($color-pink, 3);
  }
  .module-cart-item-sn{
    font-size: 0.8em;
    color: nth($color-gray, 4); 
    padding-bottom: 4px;
  }
  .module-cart-amount-wrap{
    padding-bottom: 4px;
  }
  .module-cart-item-num{
    display: inline-block;
    text-align: center;
    width: 1.5em;
  }
  .module-cart-size-wrap{
    padding-bottom: 4px;
  }
  .module-cart-color-wrap{
    padding-bottom: 4px;   
    // vertical-align: top;
  }
  .product-price{
    text-align: right;
  }
  .btn-cart-sq{
    vertical-align: middle;
  }
}
.layout-cart-bottom{
  background-color: #eee;
  height: $layout-cart-bottom-height;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  @extend %clearFix;
  p{
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn-full{
  @extend %clearFix;
    margin-top: 0.5em;
  }
}
.layout-cart-bottom-num{
  font-size: 1.1em;
  span{
    padding-right: 0.5em;
  }
}
.layout-cart-bottom-price{
  font-size: 1.1em;
  float: right;
}
.module-cart-item-spec{
  @extend %clearFix;
}

.layout-cart-orderdetail{
  .module-cart-list{
    height: auto;
  }
  .btn-cart-sq-size {
      vertical-align: top;
  }
  .btn-cart-sq-color {
      vertical-align: top;
  }
  .layout-cart-bottom-summary{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #eee;
  }
}

.style-smallimg{
  .btn-cart-sq-size{
    vertical-align: top;
  }
  .btn-cart-sq-color{
    vertical-align: top;
  }
  .module-cart-item-img{
    width: 4em;
    height: 6em;
  }
  .product-price{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
  .module-cart-item-content{
    padding-left: 4.5em;
  }
  .btn-cart-sq{
    &:active{
      border-color: nth($color-gray, 4);
      color: nth($color-gray, 4);
    }
  }
}