.module-filter{
  position: absolute;
  top: $layout-heading-height;
  width: 100vw;
  min-height: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
  background-color: nth($color-table, 2);
}
.module-filter-menu{
  @extend %listUnstyled;
  @extend %clearFix;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid nth($color-gray, 6);
  li{
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    &.on{
      background-color: white;
    }
    &:first-child{
     border-right: 1px solid nth($color-gray, 6);
    }
  }
  .icon-wrap{
    display: block;
    font-size: 1.8em;
    vertical-align: top;
    padding-bottom: 0.2em;
  }
}
.module-filter-list{
  @extend %listUnstyled;
  @extend %clearFix;
  margin-top: 0;
  margin-bottom: 0;
  li{
    background-color: white;
    border-bottom: 1px solid nth($color-gray, 6);
    padding-top: 0.8em;
    padding-left: 0.8em;
    padding-bottom: 0.8em;
    .module-symbol{
      margin-top: 0.2em;
    }
    label{
      display: block;
    }
  }
}
.tag-filter{
  .tag-list{
    display: block;
  }
  .order-list{
    display: none;
  }
}
.order-filter{
  .tag-list{
    display: none;
  }
  .order-list{
    display: block;
  }
}
.module-filter{
  display: none;
}

/*FULL SITE SWITCH FOR FILTER*/
body.filting{
  .layout-header-filterheader{
    display: block;
  }
  .module-filter{
    display: block;
  }
  .section-product-list{
    display: none;
  }
}