.module-form-input{
  border: 0;
  border-bottom: 1px solid nth($color-gray, 4);
  height: 1.8em;
}

.module-form-select{
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid nth($color-gray, 4);
  border-color: nth($color-gray, 4);
  vertical-align: top;
  line-height: 2;
  height: 1.8em;
  &.error{
    border-color: nth($color-pink, 3);
  }
}

.module-form-textarea{
  border: 0;
  border-bottom: 1px solid nth($color-gray, 4);
}

.module-radio{
  position: relative;
  input{
    z-index: 3;
    position: absolute;
    margin-top: 0.2em;
    width: 1.1em;
    height: 1.1em;
    opacity: 0;
  }
  span{
    padding-left: 1.5em;
    padding-right: 1em;
  }
}

.module-symbol{
  @include border-radius(50%);
  position: absolute;
  display: inline-block;
  margin-top: 0.25em;
  border-color: nth($color-gray, 4);
  border-style: solid;
  background-color: white;
  border-width: 1px;
  width: 1.1em;
  height: 1.1em;
  z-index: 0;
  
  &::before {
    @include border-radius(50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    width: calc( 1.1em - 2px);
    height: 1.1em;
    height: calc( 1.1em - 2px);
    background-color: nth($color-pink, 3);
    @include gradient-directional($start-color: nth($color-pink, 1), $end-color: nth($color-pink, 3), $deg: 135deg);
  }
}

input:checked + .module-symbol{
  border-color: nth($color-pink, 3);
  &:before {
    content: '';
  }
}
.style-multi input + .module-symbol{
  @include border-radius(0);
  &:before {
    @include border-radius(0);
  }
}
input[type="checkbox"] + .module-symbol{
  @include border-radius(0);
  &:before{
    @include border-radius(0);
    background: url('/assets/images/tick.svg') center center no-repeat #e92567;
  }
}
.style-multi input:checked + .module-symbol{
  &:before {
    // content: url('/assets/images/tick.svg');
  }
}


input[type="checkbox"]:checked + .module-symbol{
  &:before {
    // content: url('/assets/images/tick2.svg');
  }
}



.form-block{
  position: relative;
  line-height: 2em;
  min-height: 2.8em;

  .module-form-label{
    display: inline-block;
    width: 35%;
    width: $module-form-label-width;
    vertical-align: top;
    &+span{
      display: inline-block;
      width: 60%;
      // width: calc(100% - 35% - 5px );
      width: calc(100% - 35% - 15px );
    }
  }
  .module-form-input{
    width: 60%;
    width: calc(100% - 8px -  #{$module-form-label-width});
    &.style-inline{
      width: 4em;
    }
  }
  .module-form-select{
    width: 60%;
    width: calc(100% - 8px -  #{$module-form-label-width});
    &.select-style-half{
      width: 30%;
      width: calc( (100% - 20px -  #{$module-form-label-width}) / 2 );
      &:nth-child(2){
        margin-right: 6px;
      }
    }
    &.select-style-third-one{
      width: 20%;
      width: calc( (100% - 30px -  #{$module-form-label-width}) / 3 );
      &:nth-child(2),&:nth-child(3){
        margin-right: 6px;
      }
    }
  }
  .module-form-textarea{
    width: 60%;
    width: calc(100% - 8px -  #{$module-form-label-width});
  }
  .form-style-half{
      display: inline-block;
      position: relative;
      width: 45%;
      width: calc( (100% - 20px -  #{$module-form-label-width}) / 2);
      &.no-label{
        width: 45%;
      }
    .module-form-input{
      width: 100%;
    }
    &:nth-child(2){
      margin-right: 6px;
    }
    .form-warning-text{
      padding-left: 0;
      text-indent: 0;
      .normal-color{
        color: black;
      }
    }
  }
  .style-sub{
    vertical-align: sub;
  }
  .form-warning-text{
    padding-left: $module-form-label-width;
    text-indent: 0.2em;
  }
}
.form-fullblock{
  position: relative;
  padding-top: 0.5em;
  .module-form-input{
    width: 100%;
  }
}
.form-warning-text{
  color: nth($color-pink, 3);
}
.form-block-verify{
  .module-form-input{
    width: 60%;
    width: calc(100% - 12px - 8em - #{$module-form-label-width});
    min-width: 2.5em;
  & +div{
      width: 8em;
      display: inline-block;
      text-align: right;
    img{
      vertical-align: middle;
    }
      i.fa{
        @include border-radius(50%);
        padding-top: 0.1em;
        margin-left: 0.5em;
        width: 1.6em;
        height: 1.6em;
        line-height: 1.6em;
        font-size: 1em;
        text-align: center;
        vertical-align: middle;
        color: white;
        background-color: nth($color-gray, 1);
        &:hover{
          background-color: black;
        }
      }
    }
  }
  &.error{
    &::after{
      top: 0.6em;
      margin-right: 11.5em;
    }
  }
}

.error{
  &.form-block{
    &::after{
      top: 0.6em;
    }
  }
  &.form-style-half{
    &::after{
      top: 0.6em;
      margin-right: 0.1em;
    }
  }
    &::after{
      content: '!';
      // display: inline-block;
      position: absolute;
      right: 0;
      top: 1.2em;
      margin-right: 0.5em;
      padding-top: 0.1em;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      font-size: 0.7em;
      background-color: nth($color-pink, 3);
      color: white;
      text-align: center;
      vertical-align: middle;
      font-weight: bolder;
      @include border-radius(3px);
    }
}
.style-after-radio{
  padding-left: 1.5em;
}
.hide-form{
  display: none;
}