.logob{
  vertical-align: bottom;
  margin-right: 0.5em;
}
.hfans{
  display: inline-block;
  background: url('/assets/images/icon-hfans.svg') left top no-repeat;
  @include backgroundSize(contain);
  width: 1.5em;
  height: 1.5em;
}
.hvip{
  display: inline-block;
  background: url('/assets/images/icon-hvip.svg') left top no-repeat;
  @include backgroundSize(contain);
  width: 1.5em;
  height: 1.95em;
}
.icon-pencil-o{
  display: inline-block;
  background: url('/assets/images/icon-pencil-o.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}
.icon-zoom-o{
  display: inline-block;
  background: url('/assets/images/icon-zoom-o.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}
.icon-eye-o{
  display: inline-block;
  background: url('/assets/images/icon-eye-o.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}
.icon-hpoint{
  display: inline-block;
  background: url('/assets/images/icon-hpoint.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}
.icon-payment-method{
  display: inline-block;
  background: url('/assets/images/icon-payment-method.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}
.icon-payment-invoice{
  display: inline-block;
  background: url('/assets/images/icon-payment-invoice.svg') center top no-repeat;
  @include backgroundSize(contain);
  width: 1em;
  height: 1em;
}

.order-status-wrap{
  .order-status-circle{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-bottom: 2em;
    width: 2.5em;
    height: 2.5em;
    border: 3px solid nth($color-table, 2);
    background-color: nth($color-green, 4);
    background-position: center;
    background-repeat: no-repeat;
    @include backgroundSize(80%);
    @include border-radius(50%);
    &:first-child{
      margin-left: 0;
      &::after{
        content: none;
      }
    }
    &::after{
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      margin-right: -4px;
      height: 3px;
      right: 2.5em;
      top: 50%;
      background-color: nth($color-table, 2);
    }
    &::before{
      font-size: 0.6em;
      line-height: 1;
      display: block;
      width: 150%;
      margin-top: 100%;
      padding-top: 0.5em;
      margin-left: -25%;
      text-align: center;
      color: #888888;
    }
    &.status-pending{
      background-image: url('/assets/images/icon-order-status-1.svg');
      &::before{
        content: '處理中';
      }
    }
    &.status-sending{
      background-image: url('/assets/images/icon-order-status-2.svg');
      &::before{
        content: '出貨中';
      }
    }
    &.status-done{
      background-image: url('/assets/images/tick.svg');
      &::before{
        content: '已完成';
      }
    }
  }
  /*STATUS*/
  &.is-pending{
    .status-sending,.status-done{
      background-color: nth($color-button, 2);
    }
    .irregular-status-text{
      display: none;
    }
  }
  &.is-sending{
    .status-done{
      background-color: nth($color-button, 2);
    }
    .irregular-status-text{
      display: none;
    }
  }
  &.is-done{
    .irregular-status-text{
      display: none;
    }
  }
  &.is-irregular{
    .order-status-circle{
      display: none;
    }
  }
}