.member-exp{
    width: 100%;
    margin-top: 2em;
    .hfans{
      display: inline-block;
    }
   .member-exp-bar{
    position: relative;
    display: inline-block;
    background-color: #666;
    margin-left: -4px;
    margin-bottom: 0.75em;
    width: calc(100% - 3em - 4px);
    height: 2px;
  }
  .member-exp-bar-value{
    position: relative;
    background-color: white;
    height: 100%;

    &::after{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -4px;
      width: 2px;
      height: 10px;
      background-color: white;
    }
  }
  .member-exp-bar-value-tag{
    display: inline-block;
    position: absolute;
    margin-right: -12px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    right: 0;
    height: 1.4em;
    line-height: 1.4em;
    margin-top: -2.2em;
    background-color: white;
    color: black;
    font-weight: bolder;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right:0;
      top:100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 12px 0 0;
      border-color: #666666 transparent transparent transparent;
    }
  }
  .hvip{
    display: inline-block;
    margin-left: -4px;
    z-index: 2;
  }
  .member-exp-num{
    &::after{
      content: '%';
      font-size: 0.4em;
    }
  } 
}
.section-mypoint,.layout-popup-wrap,.accordion-item{
  .member-exp-bar{
    background-color: white;
    border: 1px solid #666666;
    height: 4px;
    margin-left: -6px;
    margin-bottom: 0.7em;
  }
  .member-exp-bar-value{
    background-color: #666666;
    &::after{
      background-color: #666666;
    }
  }
  .member-exp-bar-value-tag{
    color: white;
    background-color: black;
  }
  .hvip{
    margin-left: -5px;
  }
}