.layout-popup-wrap{
  position: fixed;
  z-index: 999;
  top: 15%;
  left:5vw;
  width: 90vw;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  background-color: white;
  @media only screen and (max-height : 500px) {
    padding-bottom: 1em;
  }
  h2{
    margin-top: 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid nth($color-button, 2);
    @media only screen and (max-height : 500px) {
      padding-bottom: 0.2em;
      margin-bottom: 0.2em;
    }
  }
  &.style-nocolor{
    background-color: transparent;
    color: white;
    text-align: center;
    pointer-events: none;
  }
  &.style-absolute{
    position: absolute;
    top: 5%;
    margin-bottom: 10%;

  }
  .form-block{
    min-height: 2em;
  }
}
.layout-popup-background{
  position: fixed;
  z-index: 998;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
}
.style-indexpopup{
  background-image: url('/assets/images/icon-cross.svg');
  background-repeat: no-repeat;
  background-position: right top;
}