.mypagelist-product-item{/*wish list*/
  background-color: gray;
  width: calc(100% / 3);
  height: calc(100vw / 9 * 4);
  float: left;
  // border:1px solid black;
  @include backgroundSize(cover);
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.product-price{
  text-align: center;
  .sp-price{
    color: nth($color-pink, 3);
    padding-left: 0.5em;
    display: none;
  }
  &.sale{
    .origin-price{
      text-decoration: line-through;
    }
    .sp-price{
      display: inline;
    }
  }
}
.style-color-sale{
  color: nth($color-pink, 4);
}