.module-table {

  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  color: nth($color-table, 4);

  &.table-style-a {
    thead {
      background-color: nth($color-table, 3);
      text-align: center;
      color: white;
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: nth($color-table, 1);
        }
      }
      td {
        text-align: left;
        &:first-child {
          text-align: center;
          min-width: 6em;
        }
      }
    }
  }

  &.table-style-b {
    thead {
      background-color: nth($color-table, 4);
      text-align: center;
      color: white;
    }
    tbody {
      td {
        width: 25%;
        text-align: center;
        
        &:nth-child(1){
          background-color: nth($color-table, 4);
          color: white;
        }
      }
    }
  }

  &.table-style-c {
    tbody {
      td {
        min-height: 3em;
        &:nth-child(1){
          width: 3em;
          background-color: nth($color-table, 4);
          color: white;
          font-size: 1.2em;
          text-align: center;
        }
      }
      tr:nth-child(even){
        td{
          background-color: transparent;
          border: 0;
          color: nth($color-table, 2);
          text-align: center;
        }
      }
    }
  }
  &.table-style-d {
    tbody {
      tr:nth-child(odd){
        background-color: nth($color-table, 1);
      }
      td {
        &:nth-child(1){
          background-color: nth($color-table, 3);
          color: white;
          text-align: center;
          min-width: 8em;
        }
      }
    }
  }

  td {
    border: 1px solid nth($color-table, 2);
    padding-top: 0.4em;
    padding-right: 1em;
    padding-bottom: 0.4em;
    padding-left: 1em;
  }

}
