@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* line 2, ../sass/vendors/_extend.scss */
.layout-menu .layout-menu-socially-list ul, .layout-menu-country-list ul, .layout-tabbar .layout-tabbar-list, .layout-menu .layout-menu-list ul {
  padding-left: 0;
  list-style: none;
}

/* line 10, ../sass/vendors/_extend.scss */
.layout-menu .layout-menu-socially-list ul > li, .layout-menu-country-list ul > li, .layout-tabbar .layout-tabbar-list > li {
  display: inline-block;
}

/* line 17, ../sass/vendors/_extend.scss */
.layout-menu .layout-menu-search:before, .layout-menu .layout-menu-search:after {
  content: " ";
  display: table;
}
/* line 22, ../sass/vendors/_extend.scss */
.layout-menu .layout-menu-search:after {
  clear: both;
}

/* line 28, ../sass/vendors/_extend.scss */
body {
  font-family: 'Open Sans', Helvetica, Chinese;
}

@font-face {
  font-family: 'numfont';
  src: url("font/dincond-regular-webfont.eot");
  src: url("font/dincond-regular-webfont.eot") format("embedded-opentype"), url("font/dincond-regular-webfont.woff") format("woff"), url("font/dincond-regular-webfont.ttf") format("truetype"), url("font/dincond-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 20, ../sass/vendors/_fonts.scss */
.product-price, .layout-cart-bottom-price, .layout-cart-bottom-num span, .layout-cart-bottom-summary dd, .layout-cart-bottom-itemcount span, .style-numfont {
  font-family: 'numfont';
  letter-spacing: 2px;
  font-size: 1.1em;
}

/* line 1, ../sass/vendors/_basic.scss */
html {
  height: 100%;
}

/* line 4, ../sass/vendors/_basic.scss */
body {
  position: relative;
  height: 100%;
  font-size: 16px;
}

/* line 11, ../sass/vendors/_basic.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../sass/vendors/_basic.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/vendors/_basic.scss */
a {
  color: #030406;
  text-decoration: none;
}

/* line 27, ../sass/vendors/_basic.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/vendors/_basic.scss */
.clearfix:after {
  clear: both;
}

/* line 36, ../sass/vendors/_basic.scss */
.pull-right {
  float: right;
}

/* line 39, ../sass/vendors/_basic.scss */
.pull-left {
  float: left;
}

/* line 2, ../sass/layouts/_view.scss */
.layout-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 7, ../sass/layouts/_view.scss */
.layout-menu-open .layout-container {
  position: relative;
}

/* line 13, ../sass/layouts/_view.scss */
.layout-view {
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 25, ../sass/layouts/_view.scss */
.layout-menu-open .layout-view {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}

/* line 1, ../sass/layouts/_menu.scss */
.layout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  max-height: 100vh;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: white;
  background-color: #2b2b2b;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 16, ../sass/layouts/_menu.scss */
.layout-menu-open .layout-menu {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 20, ../sass/layouts/_menu.scss */
.layout-menu a {
  color: white;
}
/* line 25, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-search {
  border-bottom: 2px solid #313131;
  width: 100%;
  height: 45px;
}
/* line 31, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-search .layout-menu-search-form {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 45px;
}
/* line 38, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-search .layout-menu-search-input {
  border: none;
  background-color: transparent;
  width: calc(100% - 36px);
  height: 100%;
}
/* line 46, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-search .layout-menu-search-button {
  float: right;
  margin-right: -5px;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 35px;
  height: 100%;
}
/* line 58, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-right: 0.5em;
  padding-left: 0.5em;
  max-height: calc(100% - 45px - 8.25em);
  border-bottom: 2px solid #313131;
}
/* line 67, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-list ul.layout-menu-sublist {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
/* line 73, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-list .layout-menu-list-item {
  line-height: 2em;
  letter-spacing: 3px;
  font-size: 1.2em;
}
/* line 78, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-list .layout-menu-list-subitem {
  font-size: 0.88em;
  letter-spacing: 2px;
}
/* line 81, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-list .layout-menu-list-subitem a {
  color: #A3A3A3;
}
/* line 86, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-socially-list {
  padding-top: 0.2em;
  padding-right: 0.25em;
  padding-bottom: 0.2em;
  padding-left: 0.25em;
  font-size: 2em;
  border-bottom: 2px solid #313131;
}
/* line 93, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-socially-list ul {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 101, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-socially-list .layout-menu-socially-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 103, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-socially-list .layout-menu-socially-item a {
  color: #A3A3A3;
}
/* line 105, ../sass/layouts/_menu.scss */
.layout-menu .layout-menu-socially-list .layout-menu-socially-item a:hover {
  color: white;
}

/* line 114, ../sass/layouts/_menu.scss */
.layout-menu-country-list {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 117, ../sass/layouts/_menu.scss */
.layout-menu-country-list p {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: nowrap;
}
/* line 123, ../sass/layouts/_menu.scss */
.layout-menu-country-list a {
  display: block;
}
/* line 126, ../sass/layouts/_menu.scss */
.layout-menu-country-list img {
  width: 25px;
}
/* line 129, ../sass/layouts/_menu.scss */
.layout-menu-country-list ul {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 139, ../sass/layouts/_menu.scss */
.layout-menu-country-list .layout-menu-country-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 1, ../sass/layouts/_header.scss */
.layout-header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #030406;
  color: white;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 13, ../sass/layouts/_header.scss */
.layout-menu-open .layout-header {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
/* line 17, ../sass/layouts/_header.scss */
.layout-header a {
  color: white;
}
/* line 22, ../sass/layouts/_header.scss */
.layout-header .layout-header-user {
  z-index: 1;
  position: relative;
  float: right;
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
}
/* line 32, ../sass/layouts/_header.scss */
.layout-header .layout-header-bars {
  float: left;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 45px;
}
/* line 41, ../sass/layouts/_header.scss */
.layout-header .layout-header-bars .layout-header-bar {
  position: absolute;
  top: 50%;
  right: 11px;
  left: 11px;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  width: 14px;
  height: 2px;
  -webkit-transition-property: right, left, width, -webkit-transform;
  transition-property: right, left, width, -webkit-transform;
  -webkit-transition-duration: 0.2s, 0.2s, 0.2s, 0.3s;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 55, ../sass/layouts/_header.scss */
.layout-header .layout-header-bars .layout-header-bar:first-child {
  margin-top: -7px;
}
/* line 58, ../sass/layouts/_header.scss */
.layout-header .layout-header-bars .layout-header-bar:last-child {
  margin-top: 3px;
}
/* line 65, ../sass/layouts/_header.scss */
.layout-menu-open .layout-header .layout-header-bars .layout-header-bar {
  margin-top: -1px;
  width: 0px;
  height: 0px;
}
/* line 68, ../sass/layouts/_header.scss */
.layout-menu-open .layout-header .layout-header-bars .layout-header-bar:first-child {
  right: 9px;
  width: 17px;
  height: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 74, ../sass/layouts/_header.scss */
.layout-menu-open .layout-header .layout-header-bars .layout-header-bar:last-child {
  left: 9px;
  width: 17px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 85, ../sass/layouts/_header.scss */
.layout-header .layout-header-goback, .layout-header .layout-header-goahead {
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  width: 30px;
  height: 45px;
}
/* line 95, ../sass/layouts/_header.scss */
.layout-header .layout-header-goahead {
  float: right;
}
/* line 101, ../sass/layouts/_header.scss */
.layout-header .layout-header-title {
  z-index: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.35em;
  letter-spacing: 0.2em;
  text-align: center;
}
/* line 112, ../sass/layouts/_header.scss */
.layout-header .layout-header-title .layout-header-logo {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  max-width: 9.59em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 45px;
}
/* line 119, ../sass/layouts/_header.scss */
.layout-header .layout-header-title .layout-header-logo #header-logo {
  width: 100%;
  height: 100%;
}

/*PRODUCT LIST PAGE*/
/* line 126, ../sass/layouts/_header.scss */
.layout-header-openfilter {
  float: right;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: 45px;
  height: 45px;
}

/*PRODUCT DETAIL PAGE*/
/* line 136, ../sass/layouts/_header.scss */
.layout-header-subtitle {
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
}

/*FILTER HEADER*/
/* line 145, ../sass/layouts/_header.scss */
.layout-header-filterheader {
  display: none;
}

/* line 148, ../sass/layouts/_header.scss */
.layout-header-endfilter {
  float: right;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: 4em;
  height: 45px;
}

/* line 157, ../sass/layouts/_header.scss */
.layout-header-clearfilter {
  float: left;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: 4em;
  height: 45px;
}

/* line 1, ../sass/layouts/_tabbar.scss */
.layout-tabbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #181818;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 9, ../sass/layouts/_tabbar.scss */
.layout-menu-open .layout-tabbar {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
/* line 13, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 21, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 23, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link {
  display: block;
  height: 55px;
  padding-top: 0.6em;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  color: #A3A3A3;
}
/* line 31, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link > * {
  display: block;
}
/* line 35, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link .empty-icon:before {
  content: ".";
  color: #181818;
}
/* line 40, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link .logo {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 35px;
}
/* line 47, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link .layout-tabbar-list-name {
  margin-top: 0.5em;
  color: white;
  font-size: 0.75em;
}
/* line 52, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link .fa-shopping-cart {
  position: relative;
}
/* line 54, ../sass/layouts/_tabbar.scss */
.layout-tabbar .layout-tabbar-list-item .layout-tabbar-list-link .fa-shopping-cart::after {
  content: attr(data-cartnum);
  display: block;
  position: absolute;
  padding-top: 0;
  padding-right: 2px;
  padding-bottom: 0;
  padding-left: 2px;
  top: 0;
  right: 0;
  font-size: 13px;
  min-width: 15px;
  line-height: 15px;
  vertical-align: center;
  color: white;
  background-color: #e92567;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/*# sourceMappingURL=global.css.map */
