<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>

<% end %>
<% content_for :icon_blacklogo do %>
<i>
  <svg role="img" version="1.1" class="logob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="1.46em" height="1.6em" viewBox="0 0 100 108" style="enable-background:new 0 0 100 108;" xml:space="preserve">
    <g id="logo-group">
      <polygon id="c" style="fill:#000000;" points="62.8,92.3 62.8,108 99.7,92.3  "/>
      <rect id="bg" width="100" height="92.3" />
      <polygon id="H" style="fill:#FFFFFF;" points="49.1,40.1 36.4,40.1 36.4,25.5 22.7,25.5 22.7,66.8 36.4,66.8 36.4,52.2 49.1,52.2 
        49.1,66.8 62.8,66.8 62.8,25.5 49.1,25.5 " />
      <path id="dot-b" style="fill:#FFFFFF;" d="M77.2,67L77.2,67c-4.1,0-7.3-3.3-7.3-7.3l0,0c0-4,3.3-7.3,7.3-7.3l0,0
        c4,0,7.3,3.3,7.3,7.3l0,0C84.6,63.7,81.3,67,77.2,67z" />
      <path id="dot-t" style="fill:#FFFFFF;" d="M77.3,39.9L77.3,39.9c-4.1,0-7.3-3.3-7.3-7.3l0,0c0-4,3.3-7.3,7.3-7.3l0,0
        c4,0,7.3,3.3,7.3,7.3l0,0C84.6,36.7,81.3,39.9,77.3,39.9z" />
    </g>
  </svg>
</i>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "關於H:" %>

<section class="layout-content">

<h2 class="heading-icon">品牌簡介</h2>
<p>
隨著韓流風潮與強而有力的視覺效果在全球不斷地擴展蔓延，也加速了大眾對韓國時尚產品的追崇和喜愛。</p>
<p>這波風潮受到了偶像藝人、樂團、和超級明星如After School、Girls’ Generation、Psy等人的推波助瀾。</p>
<p class="mb1">隨著韓國文化的輸出並在亞洲、歐洲、甚至美洲市場上獲得廣泛的推崇和喜愛，對於K-Pop時尚的要求也同樣日益劇增。</p>

<p>作為韓國的領先快速時尚品牌，H:CONNECT在韓國留下其舉足輕重的足跡，</p>
<p>設計團隊跑遍世界各個時尚中心，尋找最新趨勢，並結合韓流偶像引領了最新時尚，</p>
<p>包括U-IE、少女時代、SHINee、f(x)以及寶兒在內的許多韓國明星們都喜愛並穿著H:CONNECT的產品。</p>
<p class="mb1">2014年8月5日，H:CONNECT更宣布由韓國人氣新星徐叡志(서예지 Seo Yea Ji)，出任品牌全球代言人。</p>

<p>H:CONNECT為投身韓國流行風潮的人們提供了最先端的時尚資訊，自韓國拓展至台灣、中國、及新加坡，目前在韓已突破90家門市，</p>
<p class="mb1">台灣全省也已逾20家百貨專櫃及店點，未來，H:CONNECT將持續憑藉合理的價格、新穎的設計、以及與韓國流行文化的強烈連結，為喜愛潮流時尚的男女帶來與韓國同步零時差的韓流風尚。</p>
<h2 class="heading-icon">品牌概念</h2>

<p>H:CONNECT 為投身韓國流行風潮的人們提供了最先端的時尚資訊，</p>
<p>憑藉合理的價格、新穎的設計、以及與韓國流行文化的強烈連結，H:CONNECT在中國、臺灣和亞洲其他各國迅速擴張，</p>
<p>成功地將足跡遍至韓國江南時尚街區、台北101，以及中國指標性的成都IFS國際金融中心等地。</p>
<p>未來，H:CONNECT致力於亞洲日益擴大的快速時尚市場，以合理的價格為追求時尚潮流的客戶提供流行的服飾。</p>
</section>