<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/form" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "聯絡我們" %>

<section class="layout-content">
<p>若對於本公司有任何問題，歡迎留下您的訊息，請填妥你的聯絡資訊，我們會儘快回覆您，或撥打我們的客服專線。</p>
<form>
  <div class="form-block error">
    <label class="module-form-label" for="name">*姓名</label>
    <input type="text" name="name" class="module-form-input" placeholder="請填寫真實姓名" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block error">
    <label class="module-form-label" for="email">*E-MAIL</label>
    <input type="text" name="email" class="module-form-input" placeholder="" />
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block">
    <label class="module-form-label style-sub" for="category">*主旨</label>
    <select class="module-form-select style-sub" name="category">
      <option value="0">H:訂單相關問題</option>
      <option value="1">H:結帳相關問題</option>
      <option value="2">H:送貨相關問題</option>
      <option value="3">H:退貨相關問題</option>
      <option value="4">H:網站系統操作問題</option>
      <option value="5">H:Fans/VIP會員相關問題</option>
      <option value="6">H:商品資訊詢問</option>
      <option value="7">H:櫃點相關問題</option>
      <option value="8">其他問題</option>
    </select>
  </div>
  <div class="form-block error">
    <label class="module-form-label" for="msg">*留言</label>
    <textarea name="msg" class="module-form-textarea" placeholder=""></textarea>
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div class="form-block form-block-verify error">
    <label class="module-form-label" for="verify">*驗證碼</label>
    <input type="text" name="verify" class="module-form-input" placeholder="" />
    <div class="verify-block">
    <img src="../../assets/images/sample-verify.jpg" alt="驗證碼"/>
    <i class="fa fa-refresh"></i></div>
    <!-- <p class="form-warning-text">錯誤訊息</p> -->
  </div>
  <div>
    <label class="module-radio">
    <input type="checkbox" name="agree" value="0"><i class="module-symbol" /></i><span>同意<a href="personal_information.html" class="uline">個人資料使用聲明</a></span>
    </label>
  </div>

  <div class="btn-full"><a href="#">確認送出</a></div>
  <p class="appendix-text">客服專線：<span class="warning-color">0800-698-800</span></p>
</form>
</section>