<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>
  <%= javascript_include_tag "vendors/gps" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "門市查詢" %>

<section class="layout-content">
<h2>門市位置搜尋</h2>
<p>請輸入位置，我們將會為你顯示最近的商店。</p>
<div id="btn-search-store" class="btn-full mb1"><a>搜尋附近門市</a></div>
<form>
  <div class="form-block">
    <label class="module-form-label style-sub" for="category">地區</label>
    <select class="module-form-select style-sub" name="category">
      <option value="0">請選擇地區</option>
      <option value="1">基隆</option>
      <option value="2">台北</option>
      <option value="3">桃園</option>
      <option value="4">新竹</option>
      <option value="5">台中</option>
      <option value="6">嘉義</option>
      <option value="7">台南</option>
      <option value="8">高雄</option>
      <option value="9">花蓮</option>
    </select>
  </div>
  <div class="form-block">
    <label class="module-form-label style-sub" for="category">分店</label>
    <select class="module-form-select style-sub" name="category">
      <option value="0">請選擇分店</option>
      <option value="1">XX分店</option>
      <option value="2">OO分店</option>
    </select>
  </div>
  <div class="btn-full"><a href="store_detail.html">搜尋門市</a></div>
</form>
</section>