<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script>
    var storeLat = 25.0356839;
    var storeLng = 121.56681;
  </script>
  <%= javascript_include_tag "vendors/store-map" %>
<% end %>

<!-- HEADER TEXT -->
<% @headerTitle = "門市查詢" %>
<section class="layout-content pb0">
  <h2 class="heading-icon">信義威秀旗艦店</h2>
</section>
<div id="store-map"> loading...</div>
<section class="layout-content">
  <p>營業時間：11:00 - 23:00</p>
  <p>電話：<a tel="+886227238951">(02)2723-8951</a></p>
  <p>地址：<a href="https://www.google.com.tw/maps/place/@25.0356839,121.56681,17z/data=!3m1!4b1!4m2!3m1!1s0x3442abb0bd26651b:0xdbcac58a3fe3803a">110 台北市信義區松壽路18號</a></p>
</section>