<header role="heading" class="layout-header layout-header-filterheader">
  <h1 class="layout-header-title">
    篩選
  </h1>

  <span class="layout-header-endfilter" role="button">
    完成
  </span>

  <span class="layout-header-clearfilter" role="button">
    清除
  </span>
</header>