<div class="layout-menu">
  <div class="layout-menu-search">
    <form class="layout-menu-search-form" role="form" action="">
      <input class="layout-menu-search-input" type="text" name="keyword">
      <button class="layout-menu-search-button" type="submit">
        <i role="img" class="fa fa-search"></i>
      </button>
    </form>
  </div>

  <nav class="layout-menu-list contentHolder">
    <ul>
      <% menuData().each do |menu| %>
        <li class="layout-menu-list-item <%= 'have-sub-item' if menu[:subItem] %>">
          <% if menu[:subItem] %>
            <span class="trigger"><%= menu[:title] %></span>
            <i role="img" class="fa fa-angle-down"></i>
            <ul class="layout-menu-sublist">
              <% menu[:subItem].each do |submenu| %>
                <li class="layout-menu-list-subitem">
                  <a href="<%= submenu[:href] %>">
                    <span><%= submenu[:title] %></span>
                  </a>
                </li>
              <% end %>
            </ul>
          <% else %>
            <a href="<%= menu[:href] %>">
              <span><%= menu[:title] %></span>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="layout-menu-socially-list">
    <ul>
      <% sociallyItem().each do |item| %>
        <li class="layout-menu-socially-item">
          <a href="<%= item[:href] %>">
            <i role="img" class="fa <%= item[:type] %>"></i>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="layout-menu-country-list">
    <p>Other countries</p>
    <ul>
      <li class="layout-menu-country-item"><a href="#"><img src="/assets/images/btn-menu-kr.png" alt=""></a></li>
      <li class="layout-menu-country-item"><a href="#"><img src="/assets/images/btn-menu-cn.png" alt=""></a></li>
      <li class="layout-menu-country-item"><a href="#"><img src="/assets/images/btn-menu-global.png" alt=""></a></li>
    </ul>
  </div>
</div>