<ul class="accordion-list <%= 'status-full' if bgFull %>">
  <% list.each do |item| %>
    <li class="accordion-item">
      <div class="bar-content accordion-item-title">
        <% if(item[:dot]) %>
          <span class="<%= item[:dot] == 'Q' ? 'icon-q' : 'rule-num accordion-item-dot' %>"><%= item[:dot] %></span>
        <% end %>
        <span class="bar-text accordion-item-name"><%= item[:name] %></span>
        <i role="img" class="fa fa-angle-down"></i>
      </div>
      <div class="inner-content accordion-item-content">
        <div class="inner-content-article accordion-item-article"><%= item[:content] %></div>
      </div>
    </li>
  <% end %>
</ul>