<header role="heading" class="layout-header">
  <h1 class="layout-header-title">
    <% if request.path === '/' %>
      <a class="layout-header-logo" href="#">
        <svg version="1.1" id="header-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="110px" height="45px" viewBox="0 0 110 45" enable-background="new 0 0 110 45" xml:space="preserve">
          <g>
            <polygon fill="#FFFFFF" points="110,14.6 99,14.6 99,16.6 103.1,16.6 103.1,30.4 105.4,30.4 105.4,16.6 110,16.6   "/>
            <polygon fill="#FFFFFF" points="9.1,21.4 2.4,21.4 2.4,14.6 0,14.6 0,30.4 2.4,30.4 2.4,23.6 9.1,23.6 9.1,30.4 11.5,30.4 
              11.5,14.6 9.1,14.6  "/>
            <path fill="#FFFFFF" d="M40.3,14c-3.8,0-5.6,3-5.6,5.9V25c0,3,1.7,5.9,5.6,5.9c3.8,0,5.6-3,5.6-5.9v-5.1C45.9,17,44.2,14,40.3,14z
               M43.5,24.8c0,1.9-1,3.8-3.2,3.8c-2.2,0-3.2-1.9-3.2-3.8v-4.7c0-1.9,1-3.8,3.2-3.8c2.2,0,3.2,1.9,3.2,3.8V24.8z"/>
            <path fill="#FFFFFF" d="M92.4,16.3c2.3,0,3.1,1.9,3.2,3.7H98c0-3-1.7-5.9-5.6-5.9c-3.8,0-5.6,3-5.6,5.9v5.1c0,3,1.7,5.9,5.6,5.9
              c3.8,0,5.6-3,5.6-5.9h-2.4c-0.1,1.7-0.9,3.7-3.2,3.7c-2.2,0-3.2-1.9-3.2-3.8v-4.9C89.2,18.1,90.2,16.3,92.4,16.3z"/>
            <path fill="#FFFFFF" d="M26.4,16.3c2.3,0,3.1,1.9,3.2,3.6H32c0-3-1.7-5.9-5.6-5.9c-3.8,0-5.6,3-5.6,5.9V25c0,3,1.7,5.9,5.6,5.9
              c3.8,0,5.6-3,5.6-5.9h-2.4c-0.1,1.7-0.9,3.7-3.2,3.7c-2.2,0-3.2-1.9-3.2-3.8v-4.8C23.2,18.1,24.2,16.3,26.4,16.3z"/>
            <polygon fill="#FFFFFF" points="67.6,26 60.6,14.6 58.5,14.6 58.5,26 51.5,14.6 49.2,14.6 49.2,30.4 51.5,30.4 51.5,19 58.5,30.4 
              60.6,30.4 60.6,19 67.6,30.4 67.6,30.4 70,30.4 70,14.6 67.6,14.6   "/>
            <polygon fill="#FFFFFF" points="74,14.6 74,30.4 84.4,30.4 84.4,28.4 76.3,28.4 76.3,23.6 83.3,23.6 83.3,21.4 76.3,21.4 
              76.3,16.6 84.4,16.6 84.4,14.6   "/>
            <ellipse fill="#FFFFFF" cx="16.2" cy="18" rx="1.3" ry="1.3"/>
            <ellipse fill="#FFFFFF" cx="16.2" cy="26.9" rx="1.3" ry="1.3"/>
          </g>
        </svg>
      </a>
    <% else %>
      <a class="layout-header-logo" href="#">
        <%= @headerTitle %>
      </a>
    <% end %>
  </h1>
<%= yield :specific_header_lastbtn %>
  <a class="layout-header-user" role="button" href="/views/member/login" target="_blank">
    <i role="img" class="fa fa-user"></i>
  </a>
  <span class="layout-header-goahead" role="button">
    <i role="img" class="fa fa-angle-right"></i>
  </span>
  <div class="layout-header-bars" role="button">
    <i class="layout-header-bar"></i>
    <i class="layout-header-bar"></i>
    <i class="layout-header-bar"></i>
  </div>
  <span class="layout-header-goback" role="button">
    <i role="img" class="fa fa-angle-left"></i>
  </span>
  <span class="layout-header-subtitle">
    <%= yield :specific_header_subtitle %>
  </span>
</header>
<%= render :partial => "/partial/layout-filter-header" %>