<div class="layout-tabbar">
  <ul class="layout-tabbar-list">
    <% tabBar().each do |item| %>
      <li role="button" class="layout-tabbar-list-item">
        <a class="layout-tabbar-list-link" href="<%= item[:href] %>">
          <i role="img" class="fa fa-lg <%= item[:type] ? item[:type] : 'empty-icon' %>"></i>
          <% if !item[:type] %>
            <!-- <svg role="img" class="logo" viewBox="0 0 100 108">
              <use xlink:href="assets/images/logo.svg#logo"></use>
            </svg> -->
            <svg role="img" version="1.1" class="logo" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="100px" height="108px" viewBox="0 0 100 108" style="enable-background:new 0 0 100 108;" xml:space="preserve">
            <g id="logo-group">
              <polygon id="c" style="fill:#595757;" points="62.8,92.3 62.8,108 99.7,92.3  "/>
              <rect id="bg" width="100" height="92.3"/>
              <polygon id="H" style="fill:#FFFFFF;" points="49.1,40.1 36.4,40.1 36.4,25.5 22.7,25.5 22.7,66.8 36.4,66.8 36.4,52.2 49.1,52.2 
                49.1,66.8 62.8,66.8 62.8,25.5 49.1,25.5   "/>
              <path id="dot-b" style="fill:#FFFFFF;" d="M77.2,67L77.2,67c-4.1,0-7.3-3.3-7.3-7.3l0,0c0-4,3.3-7.3,7.3-7.3l0,0
                c4,0,7.3,3.3,7.3,7.3l0,0C84.6,63.7,81.3,67,77.2,67z"/>
              <path id="dot-t" style="fill:#FFFFFF;" d="M77.3,39.9L77.3,39.9c-4.1,0-7.3-3.3-7.3-7.3l0,0c0-4,3.3-7.3,7.3-7.3l0,0
                c4,0,7.3,3.3,7.3,7.3l0,0C84.6,36.7,81.3,39.9,77.3,39.9z"/>
            </g>
            </svg>
          <% end %>
          <span class="layout-tabbar-list-name"><%= item[:title] %></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>