<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
<% end %>
<% content_for :specific_javascript do %>
<% end %>
<% @headerTitle = "我的帳戶" %>
<% @exp = "1" %>
<section class="layout-content style-fullsize section-mypage">
  <div class="mypage-content-col-left">
    <h1 class="member-label" title="H:VIP">Leonardo di ser Piero da Vinci</h1>
    <div class="member-exp">
      <i class="hfans"></i>
        <div class="member-exp-bar">
          <div class="member-exp-bar-value" style="width:<%= @exp %>%;">
            <div class="member-exp-bar-value-tag">H:<span class="member-exp-num"><%= @exp %></span></div>
          </div>
        </div>
      <i class="hvip"></i>
    </div>
    <dl class="module-dl">
      <dt>會員點數</dt>
      <dd><span class="num-point">1500</span>點</dd>
      <dt>即將過期點數</dt>
      <dd><span class="num-point warning-color">1500</span>點</dd>
      <dd><span class="warning-color">2015/6/17</span> 到期</dd>
      <dt>上次登入時間</dt>
      <dd>2015/6/17</dd>
    </dl>
  </div>
  <div class="mypage-content-col-right">
    <% @fancy = [{
      name: "資料修改",
      icon: "icon-pencil-o",
      href: "mypage-edit.html",
    }, {
      name: "訂單查詢",
      icon: "icon-zoom-o",
      href: "mypage-order-list.html",
    }, {
      name: "我的收藏",
      icon: "fa fa-heart fa-lg",
      href: "mypage-wishlist.html",
    }, {
      name: "瀏覽紀錄",
      icon: "icon-eye-o",
      href: "mypage-history.html",
    }, {
      name: "我的點數",
      icon: "icon-hpoint",
      href: "mypage-point.html",
    }, {
      name: "會員條款",
      icon: "fa fa-user fa-lg",
      href: "/views/about/personal_information.html",
    }] %>

    <% @fancy.each do |fancy| %>
      <div class="btn-fancy">
        <a href="<%= fancy[:href] %>">
          <i class="<%= fancy[:icon] %>"></i>
          <span><%= fancy[:name] %></span>
        </a>
      </div>
    <% end %>
  </div>
</section>