<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "units/payment" %>
<% end %>
<% content_for :specific_javascript do %>
<% end %>
<% @headerTitle = " 訂購資訊" %>
<!-- <section class="layout-content style-upper">
</section> -->
<h2 class="style-fullgray mg0">訂單編號：01234567890</h2>
<section class="layout-cart-orderdetail style-upper">
  <ul class="module-cart-list style-smallimg">
    <% 3.times do %>
      <li class="module-cart-item">
        <div class="module-cart-item-img" style="background-image:url('/assets/images/sample-p0.jpg');">
        </div>
        <div class="module-cart-item-content">
          <p class="module-cart-item-name">長版混織背心長版混織背心長版混織背心</p>
          <p class="module-cart-item-saleinfo">超值優惠 女裝全館八折</p>
          <p class="module-cart-item-sn">Y123456789L</p>
          <div class="module-cart-item-spec">
            <p class="product-price">
              <span class="origin-price">$19999</span>
            </p>          
            <div class="btn-cart-sq btn-cart-sq-size">S</div>
            <div class="btn-cart-sq btn-cart-sq-color" style="background-color:#CDF"></div>
            <span class="module-cart-item-num">x 9</span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="layout-cart-bottom-summary">
    <dl class="module-dl">
      <dt>小計</dt><dd>$999999</dd>
      <dt>點數折抵</dt><dd class="style-color-sale">$-999999</dd>
      <dt>COUPON折抵</dt><dd class="style-color-sale">$-999999</dd>
      <dt>運費</dt><dd>$999999</dd>
      <dt>合計訂單金額</dt><dd>$1234567890</dd>
      <!-- <p class="layout-cart-bottom-itemcount">共16項</p> -->
    </dl>
  </div>
</section>
<section class="layout-content style-upper">
    <div class="form-block form-order-status pt1">
      <span class="module-form-label">訂單狀態</span>
      <span class="order-status-wrap is-sending">
        <span class="order-status-circle status-pending"></span>
        <span class="order-status-circle status-sending"></span>
        <span class="order-status-circle status-done"></span>
        <span class="irregular-status-text">已取消</span>
      </span>
    </div>
</section>
<h2 class="style-fullgray">付款方式</h2>
<section class="layout-content section-orderinfo style-upper">
    <div class="form-block">
      <span class="module-form-label">信用卡付款</span>
    </div>
</section>
<h2 class="style-fullgray">收件人資訊</h2>
<section class="layout-content section-orderinfo style-upper">

  <div class="form-block">
    <span class="module-form-label">收件人</span>
    <span>黃小明</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">連絡電話</span>
    <span>02-25959595</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">E-MAIL</span>
    <span>user@domain.com</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">收件地址</span>
    <span>103台北市大同區重慶北路三段252巷16號1樓</span>
  </div>

</section>
<h2 class="style-fullgray">發票資訊</h2>
<section class="layout-content section-orderinfo">

  <div class="form-block">
    <span class="module-form-label">三聯式發票</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">統一編號</span>
    <span>12345678</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">發票抬頭</span>
    <span>多瑪太平洋</span>
  </div>
  <div class="btn-full"><a href="mypage-order-list.html">返回訂單查詢</a></div>
</section>
