<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
<% end %>
<% content_for :specific_javascript do %>
<style>
(function() {
  $("body").addClass("on");
});
</style>
<% end %>
<% @headerTitle = "我的收藏" %>

<section class="layout-content style-fullmylist">
<% 20.times do %>
  <div class="mypagelist-product-item" style="background-image:url('/assets/images/sample-p0.jpg');"><a href="/views/product/product-detail.html?origin=wishlist"></a></div>
<% end %>
</section>