<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
<% end %>
<% content_for :specific_javascript do %>
<% end %>
<% @headerTitle = "我的點數" %>
<% @exp = "38" %>
<section class="layout-content style-upper">
  <p class="warning-color">
    提醒您：非H:Fans/H:VIP會員，則無法累積消費金額/紅利點數。
  </p>
  <p class="warning-color">
    如何成為H:Fans/H:VIP會員? 請參考常見問題-會員加入辦法
  </p>
</section>
<h2 class="style-fullgray">我的點數</h2>
<section class="layout-content style-upper">
    <div class="form-block">
      <label class="module-form-label">會員等級</label>
      <span>VIP</span>
    </div>
    
    <div class="form-block">
      <label class="module-form-label">會員點數</label>
      <span><span class="warning-color2">1500</span>　點</span>
    </div>

    <div class="form-block">
      <label class="module-form-label">即將過期點數</label>  
      <span><span class="warning-color">1500</span>　點</span>
      <p class="form-warning-text">2015/6/17<span class="normal-color"> 到期</span></p>
    </div>
</section>
<h2 class="style-fullgray">購物里程碑</h2>
<section class="layout-content section-mypoint">
  <p>
    提醒您：非H:Fans/H:VIP會員，則無法累積消費金額/紅利點數。
  </p>
    <div class="member-exp">
      <i class="hfans"></i>
        <div class="member-exp-bar">
          <div class="member-exp-bar-value" style="width:<%= @exp %>%;">
            <div class="member-exp-bar-value-tag">H:<span class="member-exp-num"><%= @exp %></span></div>
          </div>
        </div>
      <i class="hvip"></i>
    </div>
</section>