<% content_for :specific_stylesheet do %>
  <%= stylesheet_link_tag "units/mypage" %>
  <%= stylesheet_link_tag "units/payment" %>
<% end %>
<% content_for :specific_javascript do %>
<script>
  $(".style-upper:last-child").removeClass("style-upper");
</script>
<% end %>
<% @headerTitle = " 訂購查詢" %>
<!-- <section class="layout-content style-upper">
</section> -->

<% 5.times do %>
<h2 class="style-fullgray mg0">訂單編號：01234567890</h2>
<section class="layout-content section-orderinfo style-upper pt1">
  <div class="form-block">
    <span class="module-form-label">訂單時間</span>
    <span>2016/12/21</span>
  </div>
  
  <div class="form-block">
    <span class="module-form-label">訂單金額</span>
    <span>$999999999</span>
  </div>
</section>
<section class="layout-content style-upper">
    <div class="form-block form-order-status">
      <span class="module-form-label">訂單狀態</span>
      <span class="order-status-wrap is-sending">
        <span class="order-status-circle status-pending"></span>
        <span class="order-status-circle status-sending"></span>
        <span class="order-status-circle status-done"></span>
        <span class="irregular-status-text">已取消</span>
      </span>
    </div>
    <p class="style-alignright"><a href="mypage-order-detail.html">查看明細<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></p>
</section>
<% end %>