.layout-header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: $layout-heading-height;
  line-height: $layout-heading-height;
  background-color: nth($color-gray, 1);
  color: white;
  font-size: 16px;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  .layout-menu-open & {
    @include translateX($layout-menu-width);
  }
  
  a {
    color: white;
  }

  // 會員按鈕
  .layout-header-user {
    z-index: 1;
    position: relative;
    float: right;
    display: inline-block;
    text-align: center;
    @include square($layout-heading-height);
  }

  // 漢堡按鈕
  .layout-header-bars {
    float: left;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    @include square($layout-heading-height);

    // 漢堡條紋
    .layout-header-bar {
      position: absolute;
      top: 50%;
      right: 11px;
      left: 11px;
      margin-top: -2px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      background-color: white;
      @include size(14px, 2px);
      @include transition-property(right, left, width, -webkit-transform);
      @include transition-duration(0.2s, 0.2s, 0.2s, 0.3s);
      @include transition-timing-function(ease-in);
      &:first-child {
        margin-top: -7px;
      }
      &:last-child {
        margin-top: 3px;
      }
    }

    // 開啟選單時，漢堡的狀態
    .layout-menu-open & {
      .layout-header-bar {
        margin-top: -1px;
        @include square(0px);
        &:first-child {
          right: 9px;
          @include size(17px, 2px);
          @include rotate(45deg);
          @include transform-origin(50% 0);
        }
        &:last-child {
          left: 9px;
          @include size(17px, 2px);
          @include rotate(-45deg);
          @include transform-origin(50% 0);
        }
      }
    }
  }

  // 上一頁
  .layout-header-goback {
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    @include size($layout-heading-height / 1.5, $layout-heading-height);
  }

  // 下一頁
  .layout-header-goahead {
    float: right;
    @extend .layout-header-goback;
  }

  // 主標題
  .layout-header-title {
    z-index: 0;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.35em;
    letter-spacing: 0.2em;
    text-align: center;
    .layout-header-logo {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      max-width: 9.59em;//1.37*7
      @include text-overflow();
      @include size(200px, $layout-heading-height);
      #header-logo {
        @include size(100%, 100%);
      }
    }
  }
}
/*PRODUCT LIST PAGE*/
.layout-header-openfilter{
    float: right;
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    @include size($layout-heading-height, $layout-heading-height);
}
/*PRODUCT DETAIL PAGE*/
.layout-header-subtitle{
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    //@include size($layout-heading-height / 1.5, $layout-heading-height);
}
/*FILTER HEADER*/
.layout-header-filterheader{
  display: none;
}
.layout-header-endfilter {
  float: right;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  @include size(4em, $layout-heading-height);
}
.layout-header-clearfilter {
  float: left;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  @include size(4em, $layout-heading-height);
}