.layout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $layout-menu-width;
  max-height: 100vh;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: white;
  background-color: nth($color-gray, 2);
  @include transition-transform(0.3s ease-in-out);
  @include translateX(-100%);

  // 開啟主選單時的狀態
  .layout-menu-open & {
    @include translateX(0);
  }
  
  a {
    color: white;
  }

  // 搜尋區塊
  .layout-menu-search {
    border-bottom: 2px solid nth($color-gray, 3);
    @extend %clearFix;
    @include size(100%, $layout-heading-height);

    // 搜尋表單框
    .layout-menu-search-form {
      padding-top: 5px;
      padding-bottom: 5px;
      @include size(100%, $layout-heading-height);
    }

    // 搜尋輸入框
    .layout-menu-search-input {
      border: none;
      // background-color: nth($color-gray, 3);
      background-color: transparent;
      @include size(calc(100% - 36px), 100%);
    }

    // 搜尋按鈕
    .layout-menu-search-button {
      float: right;
      margin-right: -5px;
      padding: 0;
      border: none;
      background-color: transparent;
      text-align: center;
      @include size(35px, 100%);
    }
  }

  // 主選單
  .layout-menu-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-height: calc(100% - #{$layout-heading-height} - 8.25em);
    border-bottom: 2px solid nth($color-gray, 3);
    ul {
      @extend %listUnstyled;
      &.layout-menu-sublist {
        overflow:hidden;
        max-height: 0;
        @include transition(max-height 0.3s);
      }
    }
    .layout-menu-list-item {
      line-height: 2em;
      letter-spacing: 3px;
      font-size: 1.2em;
    }
    .layout-menu-list-subitem {
      font-size: 0.88em;
      letter-spacing: 2px;
      a {
        color: nth($color-gray, 4);
      }
    }
  }
  .layout-menu-socially-list {
    padding-top: 0.2em;
    padding-right: 0.25em;
    padding-bottom: 0.2em;
    padding-left: 0.25em;
    font-size: 2em;
    border-bottom: 2px solid nth($color-gray, 3);
    ul {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      @extend %listInline;
      @include flexbox();
    }
    .layout-menu-socially-item {
      @include flex(1);
      a {
        color: nth($color-gray, 4);
        &:hover {
          color: white;
        }
      }
    }
  }
}


.layout-menu-country-list{
  padding-left: 0.5em;
  padding-right: 0.5em;
  p{
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    white-space: nowrap;
  }
  a{
    display: block;
  }
  img{
    width: 25px;
  }
    ul {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;

      text-align: center;
      @extend %listInline;
      @include flexbox();
    }
    .layout-menu-country-item {
      @include flex(1);
    }
}










