.layout-tabbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: nth($color-gray, 5);
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  .layout-menu-open & {
    @include translateX($layout-menu-width);
  }

  .layout-tabbar-list {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    @extend %listInline;
    @include flexbox();
  }

  .layout-tabbar-list-item {
    @include flex(1);
    .layout-tabbar-list-link {
      display: block;
      height: $layout-tabbar-height;
      padding-top: 0.6em;
      padding-right: 0.5em;
      padding-bottom: 0.3em;
      padding-left: 0.5em;
      color: nth($color-gray, 4);
      & > * {
        display: block;
      }
      .empty-icon {
        &:before {
          content: ".";
          color: nth($color-gray, 5);
        }
      }
      .logo {
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -16px;
        @include size(32px, 35px);
      }
      .layout-tabbar-list-name {
        margin-top: 0.5em;
        color: white;
        font-size: 0.75em;
      }
      .fa-shopping-cart{
        position: relative;
        &::after{
          content: attr(data-cartnum);
          display: block;
          position: absolute;
          padding-top: 0;
          padding-right: 2px;
          padding-bottom: 0;
          padding-left: 2px;
          top: 0;
          right: 0;
          font-size: 13px;
          min-width: 15px;
          line-height: 15px;
          vertical-align: center;
          color: white;
          background-color: nth($color-pink, 3);
          @include border-radius(9px);
        }
      }
    }
  }
  
}