// 主容器
.layout-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  // 主選單開啟時狀態
  .layout-menu-open & {
    position: relative;
  }
}

// 主內容區塊
.layout-view {
  padding-top: $layout-heading-height;
  padding-bottom: $layout-tabbar-height;
  background-color: white;
  @include transition-transform(0.3s ease-in-out);
  @include translateX(0);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;  

  // 主選單開啟時狀態
  .layout-menu-open & {
    @include translateX($layout-menu-width);
  }
}