@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/form";
@import "../module/button";

.personal-info{
  ul{
    list-style-type: decimal;
  }
}
#store-map{
  width: 100vw;
  height: 35vh;
  background-color: nth($color-table, 2);
}