@import "../initial";
@import "../module/icon";
@import "../module/popup";
@import "../module/form";
//BAR OF 暢銷商品 我的收藏 我的點數 訂單查詢
.index-topmenu{
  width: 100%;
  color: black;
  background: url('/assets/images/bg-banner-long.jpg') left top no-repeat #dbdbdb;
  border-bottom: 1px solid #b0b0b0;
  .layout-topmenu-list {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    @extend %listInline;
    @include flexbox();
  }
  .layout-topmenu-list-item {
    @include flex(1);
    .layout-topmenu-list-link {
      display: block;
      height: 3.5em;
      padding-top: 0.6em;
      padding-right: 0.5em;
      padding-bottom: 0.3em;
      padding-left: 0.5em;
      & > * {
        display: block;
        margin: 0 auto;
      }
      .layout-topmenu-list-name {
        margin-top: 0.5em;
        font-size: 0.75em;
      }
    }
  }
}

.full-bannerbox{
  width: 100%;
  height: 46vw;
  border-bottom: 1px solid #dddddd;
  background-repeat: no-repeat;
  background-position: center top;
  @include backgroundSize(cover);
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  &:first-child{
    border-top: 1px solid #dddddd;
  }
  &:last-child{
    border-bottom: 0;
  }
}
.half-bannerbox-wrap{
  @extend %clearFix;
  width: 100%;
  height: 46vw;
  .half-bannerbox{
    float: left;
    width: 50%;
    height: 46vw;
    border-bottom: 1px solid #dddddd;
    background-repeat: no-repeat;
    background-position: center bottom;
    @include backgroundSize(cover);
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    &:first-child{
      border-right: 1px solid #dddddd;
    }
  }
}
.swiper-slide{
  background-repeat: no-repeat;
  background-position: center top;
  @include backgroundSize(cover);
}

#select-country{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  width: 100vw;
  // height: 100vh;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}
.select-country-inner{
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid white;
  background-image: url('/assets/images/bg-selectcountry-m.png');
  background-repeat: no-repeat;
  background-position: center top;
  @include backgroundSize(cover);
  @media only screen and (orientation: landscape) {
    background-position: center 33%;
  }
}
.select-country-title{
  text-align: center;
  padding-top: 1em;
  img{
    width: 55%;
    max-width: 475px;
    @media only screen and (orientation: landscape) {
      max-width: 40%;
    }
  }
  // &>img{
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding-bottom: 1em;
  // }
  // &>a{
  //   img{
  //     max-width: 80%;
  //     @media only screen and (orientation: landscape) {
  //       max-width: 50%;
  //     }
  //   }
  // }
}
.select-country-bottom{
  position: absolute;
  bottom: 1em;
  left: 2em;
  right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  white-space: nowrap;
  @media only screen and (max-width : 480px) {
    left: 0.5em;
    right: 0.5em;
  }  
  &>img{
    width: 180px;
    max-width: 80%;
    display: inline-block;
    padding-bottom: 1em;
  }
  .module-radio{
    font-size: 12px;
    display: block;
    padding-top: 1em;
    font-weight: 500;
    input,.module-symbol{
      margin-top: 0.1em;
    }
    .module-symbol{
      border-color: black; 
    }
    input:checked + .module-symbol {
      border-color: #e92567;
    }
    span{
      vertical-align: super;
    }
  }
}

.select-country-btnbox{
  a{
    display: inline-block;
    width: 48px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 5px;
    margin-left: 5px;
    @media only screen and (max-width : 480px) {
      margin-right: 0;
      margin-left: 0;
    }
    @media only screen and (max-width : 350px) {
    }
    img{
      height: 35px;
      @media only screen and (max-width : 350px) {
      }
    }
  }
}