@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/form";
@import "../module/button";
@import "../module/popup";

.forgot-pw{
  float: right;
  &::before{
    content: '!';
    display: inline-block;
    margin-right: 0.5em;
    padding-top: 0.1em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    font-size: 0.7em;
    background-color: nth($color-button, 1);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    @include border-radius(3px);
  }
}

.form-signup{
  .form-block:nth-child(even){
    // background-color: nth($color-table, 1);
  }
}

#mm,#ss{
  color: nth($color-pink, 3);
}
.btn-timeout{
  display: none;
}