@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/form";
@import "../module/button";
@import "../module/dl";
@import "../module/product";
@import "../module/member-exp-bar";
@import "../module/order";

.section-mypage {
  position: relative;
  // min-height: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
  background-image: url('/assets/images/bg-mypage-s.jpg'); 
  background-repeat: no-repeat;
  @include backgroundSize(cover);
  @include flexbox();
  &:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    @include gradient-vertical(transparent, rgba(0,0,0,0.6),0%,50%);
  }
  .mypage-content-col-left {
    z-index: 1;
    position: relative;
    padding-right: 1em;
    padding-left: 0.5em;
    color: white;
    width: calc( 100% - 8em);
    min-width: 13em;
    max-height: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
    padding-bottom: 1em;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    @include flexdirection(column);
    @include flexbox();
    .module-dl{
      @media only screen and (max-width : 350px) {
        font-size: 0.9em;
      }
    }
    .form-block {
      line-height: 1.6em;
      min-height: 2em;
    }
    .normal-color{
      color: white;
    }
    .text-small{
      font-size: 0.9em;
      line-height: 1;
      padding-left: 6.8em;
    }
    .num-point{
      display: inline-block;
      margin-right: 0.3em;
      font-size: 1.2em;
      font-style: italic;
    }
    .member-label {
      position: relative;
      width: 100%;
      border-bottom: 1px solid white;
      text-align: right;
      @media only screen and (max-height : 500px) {
        // @include text-overflow();
        // height: 1.6em;
        line-height: 1.2;
        font-size: 0.9em;
      }
      &:before {
        content: attr(title);
        position: absolute;
        top: -1.4em;
        left: 0;
        display: inline-block;
        height: 1.4em;
        line-height: 1.4em;
        color: transparent;
        border: 1px solid white;
      }
      &:after {
        content: attr(title);
        position: absolute;
        top: -1.6em;
        left: 0.2em;
        display: inline-block;
        height: 1.4em;
        line-height: 1.4em;
        color: black;
        background-color: white;
      }
    }
  }
  .mypage-content-col-right {
    z-index: 1;
    position: relative;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
    @include flexdirection(column);
    @include flex(6em);
    @include flexbox();
    .btn-fancy {
      position: relative;
      margin-bottom: 0.5em;
      @include flexbox();
      @include flexdirection(column);
      @include flex(1);
      // min-height: 2.8em;
      min-height: 3em;
      @media only screen and (max-height : 500px) {
        font-size: 0.8em;
      }
      &:last-child {
        margin-bottom: 0;
      }
      a{
        display: block;
        position: absolute;
        height: 2.7em;
        top: 50%;
        margin-top: -1.3em;
        right: 0;
        left: 0;
      }
      i {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 1em;
        &.fa{
          margin-top: 0.2em;
          font-size: 1.2em;
        }
      }
    }
  }
}
.style-fullgray{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-color: nth($color-table, 2);
  font-size: 1em;
  &.mg0{
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}