@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/button";
@import "../module/product";
@import "../module/form";
@import "../module/dl";
@import "../module/popup";
@import "../module/cart";
@import "../module/member-exp-bar";


/* PATMENT PAGE CART */
$product-payment-bottom-height:  25em !default;
$product-payment-bottom-height-i4:  20em !default;
$product-payment-bottom-height-status-more:  10em !default;
.layout-cart-payment{
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .module-cart-list{
    height: calc( 100% - #{$product-payment-bottom-height});
    min-height: 1px;
    -webkit-overflow-scrolling: touch;
    @include transition(height .25s ease);
    @media only screen and (max-height : 500px) {
      height: calc( 100% - #{$product-payment-bottom-height-i4});
    }
  }

  .layout-cart-bottom{
    position: relative;
    height: $product-payment-bottom-height;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid #ccc;
    padding-top: 0;
    min-height: 1px;
    @include transition(height .25s ease);
    @media only screen and (max-height : 500px) {
      height: $product-payment-bottom-height-i4;
    }
  }
  /*STATUS*/
  &.is-more{
    .module-cart-list{
      height: calc( 100% - #{$product-payment-bottom-height-status-more});
    }
    .layout-cart-bottom{
      height: $product-payment-bottom-height-status-more;
    }
    .layout-cart-btn-wrap{
      display: none;
    }
    .btn-full{
      display: none;
    }
  }
}
.btn-cart-payment-more{
  height: 1.2em;
  width: 4em;
  line-height: 1.2em;
  margin-top: -0.6em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: nth($color-pink, 3);
  @include border-radius(0.6em);
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  overflow: hidden;
  span{
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}
.layout-cart-bottom-itemcount{
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background-color: nth($color-pink, 3);
  color: white;
  padding-left: 0.4em;
  @include border-radius(4px);
  padding-right: 0.4em;
}
.module-dl{
  float: right;
  dt{
    width: 66%;
    text-align: right;
  }
  dd{
  width: 33%;
  }
}
.layout-cart-bottom-summary{
  @extend %clearFix;
  min-height: 6.8em;
  @media only screen and (max-height : 500px) {
    line-height: 1.2;
    font-size: 0.9em;
  }
}
.layout-cart-btn-wrap{
  text-align: center;
  margin-top: 0.5em;
  clear: both;
  @media only screen and (max-height : 500px) {
    margin-top: 0;
  }
  .btn-fancy{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-top: 4px;
    padding-left: 0.5em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;
    @media only screen and (max-height : 500px) {
      line-height: 1.4;
      font-size: 0.8em;
    }
    i{
      display: block;
      margin-top: 4px;
      margin-right: auto;
      margin-bottom: 4px;
      margin-left: auto;
      @media only screen and (max-height : 500px) {
        display: none;
      }
    }
  }
}
.btn-fancy-sendto{
  .btn-fancy-userinfo{
    line-height: 1;
    text-overflow: inherit;
    height: 2.3em;
    white-space: pre-wrap;
    @media only screen and (max-height : 500px) {
    @include text-overflow();
    min-height: 1.4em;
    line-height: 1.4em;
    height: auto;
    }
  }
}
.btn-fancy-userinfo{
  @include text-overflow();
  width: 100%;
  min-width: 1px;
  min-height: 2em;
  line-height: 2em;
  border-top: 1px solid #b6b6b6;
  padding-top: 0.3em;
  font-size: 0.8em;
  @media only screen and (max-height : 500px) {
    min-height: 1.4em;
    line-height: 1.4em;
  }
}