@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/button";
@import "../module/product";
@import "../module/form";
@import "../module/dl";
@import "../module/accordion";
@import "../module/popup";
@import "../module/cart";
@import "../module/member-exp-bar";


/* PATMENT PAGE CART */

.shape-star::before{
  content: '*';
  margin-left: -1em;
  display: inline-block;
  width: 1em;
  color: #e92567;
  font-style: normal;
  text-align: center;
}

.layout-cart-payment{
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .module-cart-list{
    height: auto;
    list-style: none;
  }
}
.layout-accordion ul{
  padding-left: 0;
  margin-left: 0;
}
.accordion-item-content{
  padding-left: 1.5em;
  padding-right: 1em;
}
.layout-accordion .accordion-item.on .accordion-item-content{
  max-height: 999vh;
}
.discount-use + span.warning-color{
  display: block;
  font-size: 13px;
  padding-bottom: 1em;
}
.member-exp{
  margin-top: 1em;
  padding-bottom: 1em;
}
.form-block{
  min-height: 2em;
}
.accordion-item-content>.form-block:first-child{
  padding-top: 1em;
}
.accordion-item-content>.form-block:last-child{
  padding-bottom: 1em;
}
.form-block .module-form-input{
  background-color: transparent;
}
.form-block .module-form-input.style-full{
  width: 100%;
}


//MOVE FROM ROOTS PAYMENT.CSS


// .layout-view {

//   .product-payment {
//     padding: 0.9375em;

//     .layout-accordion {
//       .font-gray {
//         color: #828282;
//       }

//       .accordion-item {

//         .accordion-item-title {
//           // font-size: 1em;

//           i.fa {
//             color: #004404;
//           }
//         }

//         .accordion-item-content {
//           width: auto;
//           background-color: transparent;
//           margin: 0 1em;
//           .commodity-information {
//             border-top: 1px solid #dddddd;
//             padding-top: 1em;

//             .commodity-data {
//               display: flex;
//               padding-bottom: 0.8em;

//               .commodity-img {
//                 width: 33%;
//                 max-width: 10em;
//                 margin-right: 0.5em;

//                 img {
//                   width: 100%;
//                 }
//               }

//               .data {
//                 display: inline-block;
//                 width: 67%;
//                 font-size: 16px;
//                 > * {
//                   margin: 0 0 0.375em 0;
//                   font-size: 0.8em;
//                   // font-size: 0.625em;
//                 }
//               }
//             }

//             .commodity-sumary {
//               padding: 0.5em 0;
//               display: flex;
//               align-items: center;
//               border-top: 1px solid #dddddd;

//               .label {
//                 font-size: 0.625em;
//                 margin-right: 0.5em;
//               }

//               .number {
//                 margin-right: 1.625em;
//               }

//               .btn-color-action {
//                 border: 4px solid #004404;
//               }

//               .price {
//                 display: flex;
//                 justify-content: flex-end;
//                 flex: 1;
//                 margin-right: 0.625em;
//               }

//               .original-price {
//                 color: #828282;
//                 margin-right: 0.7em;
//               }

//             }
//           }

//           .discount {
//             padding: 0 1.25em 1em 1.25em;

//             .discount-input, .discount-use {
//               font-size: 0.9em;
//               display: inline;
//               padding: 0.375em 0.75em;
//             }

//             .discount-input {
//               width: 70%;
//               margin-right: 0.5em;
//             }

//             .discount-use {
//               width: 30%;
//             }

//             > span {
//               display: block;
//               font-size: 0.8em;
//               // font-size: 0.375em;
//               // padding-left: 1.35em;
//               padding-left: 1em;
//               padding-top: 0.75em;
//             }
//           }
//         }

//         .commodity-information:first-child {
//           border-top: 0 none #dddddd;
//           padding-top: 0;
//         }

//       }
//     }

//     .form-block {
//       margin: 1em 0 0.5em;

//       .module-form-select {
//         margin-bottom: 0.5em;
//       }
//     }
    
//     .form-block.receiver {
//       margin-top: 0;
//     }

//     .accordion-item-content.contact {
//       padding-bottom: 0.5em;
//     }

//     .accordion-item-content.receipt > .form-block:nth-child(1){
//       margin-top: 0;
//     }
//   }

//   .style-red {
//     background-color: #8e1437;
//   }
// }

.simple-form {
  display: flex;
  justify-content: flex-start;
  margin: 1.25em 0 1.25em 0;
  line-height: 1.5em;

  &.-indent {
    margin-left: 1em;
  }

  > .title-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0.75em;
  }

  > .content-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  > .title-label > label,
  > .content-label > label {
    font-size: 0.75em;
    color: #000;
  }
}


.total-record {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1.4em 2em 0;
  line-height: 1.5em;

  .record-label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1.5em;
  }

  .record-cash {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.payment-btn {
  // display: flex;
  // justify-content: center;
  padding-bottom: 2.5em;
  // margin: 0 2em;
  // font-size: 0.75em;
  text-align: center;
  .module-btn {
    display: inline-block;
    margin-left: 0.125em;
    margin-right: 0.125em;
    width: 7.5em;
    // height: 2.5em;
    // margin: 0 0.3em;
    margin-top: 0;
    margin-bottom: 5em;
    margin-left: 0.125em;
    margin-right: 0.125em;
    // padding: 0.5em;
  }
}

//FIX ROOTS PAYMENT.CSS

.module-btn.style-red{
  background-color: #e92567;
}

.coupon-padding{
  padding-bottom: 1em;
  font-size: 13px;
  color: #e92567;
}