@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/button";
@import "../module/filter";
@import "../module/form";
@import "../module/product";

/* PRODUCT LIST */
.product-list{
  @extend %listUnstyled;
  @extend %clearFix;
  background-color: nth($color-table, 2);
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0.25em;
  padding-left: 0.25em;
}
.product-list-item{
  // float: left;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-top: 0.5em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  &:nth-child(even){
    margin-left: -5px;
  }
}
.product-list-item-img{
  position: relative;
  height: 65vw;
  @include backgroundSize(cover);
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.product-list-item-name{
  text-align: center;
}
