@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/button";
@import "../module/filter";
@import "../module/table";
@import "../module/accordion";
@import "../module/dl";
@import "../module/popup";
@import "../module/product";

/* PRODUCT DETAIL */
.layout-product-detail{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;  

  &.focusing{
    .layout-product-detail-bottom{
      position: relative;
      bottom: 0;
      background-color: white;
    }
    .btn-love{
      position: fixed;
      top: calc(0.5em + #{$layout-heading-height} );
    }
    .btn-info{
      position: fixed;
      top: calc(3em + 4px + #{$layout-heading-height} );/*0.5+2.5em +4px*/
      @media only screen and (max-height : 500px) {
        top: calc(2.5em + 4px + #{$layout-heading-height} );/*0.5+2.5em +4px*/
      }
    }
  }

  .btn-sq{
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    @media only screen and (max-height : 500px) {
      width: 2em;
      height: 2em;
      line-height: 2em;
    }
  }
  .btn-info{
    top: 3.5em;
    top: calc(3em + 4px);/*0.5+2.5em +4px*/
    @media only screen and (max-height : 500px) {
      top: calc(2.5em + 4px);/*0.5+2.5em +4px*/
    }
  }
  .btn-more{
    top: 6.5em;
    top: calc(5.5em + 8px);/*0.5+2.5em +4px +2.5em +4px*/
    @media only screen and (max-height : 500px) {
      top: calc(4.5em + 4px);/*0.5+2.5em +4px*/
    }
  }
}
.btn-love,.btn-info{
    @media only screen and (max-height : 500px) {
      right: auto;
      left: 0.5em;
    }
}
.layout-product-detail-image{
  display: block;
  width: 100%;
}
.layout-product-detail-bottom{
  width: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0;
  padding-bottom: 0.5em;
  background-color:rgba(255,255,255,0.8);
  .btn-wrap{
    @extend %clearFix;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    .btn-bgcolor{
      width: 48%;
      width: calc( 50% - 0.5em);
      float: left;
      margin-right: 0.25em;
      margin-left: 0.25em;
    }
  }
  .layout-product-detail-name{
    display: inline-block;
    width: 55vw;
    font-size: 1em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0.5em;
    height: 1.6em;
    overflow: hidden;
  }
  .product-price{
    display: inline-block;
    text-align: right;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 40vw;
    vertical-align: top;
  }
  .btn-sq-color{
    border: 4px solid #ddd;
    &.choosed{
      border-color: black;
    }
  }
  .btn-sq-size{
    background-color: white;
    color: #999;
    &.choosed{
      background-color: black;
      border: 4px solid white;
      line-height: 2em;
      @media only screen and (max-height : 500px) {
        line-height: 1.5em;
      } 
    }
  }
}

$color-maxnum: 8 !default;
.color-btn-wrap{
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5em;
  left: 0.5em;
  height: 2.5em; 
  width:  calc(100vw - 3em);
  @media only screen and (max-height : 500px) {
    height: 2em;
  } 
  .btn-sq{
    display: inline-block;
    position: absolute;
    opacity: 1;
    @include transition(left .25s ease);
  }
  @for $i from 1 through $color-maxnum {
  .btn-sq:nth-child(#{$i}) {
      left:  2.75em * ( $i - 1); 
      @media only screen and (max-height : 500px) {
        left:  2.25em * ( $i - 1); 
      } 
    }
  }

  &.close{
    .btn-sq{
      position: absolute;
      top: 0;
      left: 0;
      &.choosed{
        z-index: 2;
      }
    }
  }
}
$size-maxnum: 8 !default;
.size-btn-wrap{
  position: absolute;
  bottom: 100%;
  right: 0.5em;
  padding-bottom: 0.5em;
  .btn-sq{
    position: absolute;
    margin-top: 4px;  
    right: 0;
    opacity: 1;
    @include transition(bottom .25s ease);
  }
  @for $i from 1 through $size-maxnum {
  .btn-sq:nth-child(#{$i}) {
      bottom:  2.75em * ( $i - 1) + 0.5em;
      @media only screen and (max-height : 500px) {
        bottom:  2.25em * ( $i - 1) + 0.5em;
      }
    }
  }
  &.close{
    .btn-sq{
      bottom: 0.5em;
      &.choosed{
        z-index: 2;
      }
    }
  }
}

.layout-product-info-sku{
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1.8em;
  font-size: 1.1em;
  line-height: 1.8;
  background-color: nth($color-table, 1);
  text-align: left;
  span{
    padding-left: 0.5em;
    float: right;
  }
}
