@import "../initial";
@import "../module/clause";
@import "../module/icon";
@import "../module/button";
@import "../module/filter";
@import "../module/form";
@import "../module/accordion";
@import "../module/dl";
@import "../module/popup";
@import "../module/product";

/* PRODUCT DETAIL */
.layout-product-detail{
  position: relative;
  width: 100%;
  height: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
  .layout-accordion{
    display: none;
    position: absolute;
    top: calc( 100vh - #{$layout-heading-height} - #{$layout-tabbar-height});
    padding-bottom: $layout-tabbar-height;
  }
  &.info-open{
    .layout-accordion{
      display: block;
    }
  }
  &.focusing{
    .layout-product-detail-bottom{
      display: none;
    }
    .layout-product-detail-img{
      // overflow: scroll;
      // overflow-y: auto;
      // -webkit-overflow-scrolling: touch;
      .layout-product-detail-bottom{
        display: block;
      }
    }
  }

  .btn-sq{
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
  }
  .btn-info{
    top: 3.5em;
    top: calc(3em + 4px);/*0.5+2.5em +4px*/
  }
  .btn-more{
    top: 6.5em;
    top: calc(5.5em + 8px);/*0.5+2.5em +4px +2.5em +4px*/
  }

}

.layout-product-detail-img{
  width: 100%;
  height: 100%;
  //overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &>img{
    display: block;
    width: 100%;
  }
  .layout-product-detail-bottom{
    position: relative;
    display: none;
  }
}
.layout-product-detail-bottom{
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5em;
  .btn-wrap{
    @extend %clearFix;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    .btn-bgcolor{
      width: 48%;
      width: calc( 50% - 0.5em);
      float: left;
      margin-right: 0.25em;
      margin-left: 0.25em;
    }
  }
  .layout-product-detail-name{
    display: inline-block;
    width: 55vw;
    font-size: 1em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0.5em;
  }
  .product-price{
    display: inline-block;
    text-align: right;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 40vw;
    vertical-align: top;
  }
  .btn-sq-color{
    border: 4px solid #ddd;
    &.choosed{
      border-color: black;
    }
  }
  .btn-sq-size{
    background-color: white;
    color: #999;
    &.choosed{
      background-color: black;
      border: 4px solid white;
      line-height: 2em; 
    }
  }
}

.color-btn-wrap{
  position: absolute;
  bottom: 100%;
  margin-bottom: 0.5em;
  left: 0.5em;
  height: 2.5em; 
  width:  calc(100vw - 3em);
  .btn-sq{
    display: inline-block;
    opacity: 1;
  }
  &.close{
    .btn-sq{
      position: absolute;
      top: 0;
      left: 0;
      &.choosed{
        z-index: 2;
      }
    }
  }
}

.size-btn-wrap{
  position: absolute;
  bottom: 100%;
  right: 0.5em;
  padding-bottom: 0.5em;
  .btn-sq{
    margin-top: 4px;  
    opacity: 1;
  }
  &.close{
    .btn-sq{
      position: absolute;
      bottom: 0.5em;
      right: 0;
      &.choosed{
        z-index: 2;
      }
    }
  }
}

.layout-product-info-sku{
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1.8em;
  font-size: 1.1em;
  line-height: 1.8;
  background-color: nth($color-table, 1);
  text-align: left;
  span{
    padding-left: 0.5em;
    float: right;
  }
}