#img-wrap{
  position: relative;
  width: 320px;
  height: 480px;
  margin: 0 auto;
  background: url("/test/01.jpg") 0 0 no-repeat;
}
.bgimg{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right top;
  -webkit-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

#img-wrap.is-style1{
  .bgimg{
    // -webkit-transition-property: none;
    // -moz-transition-property: none;
    // -o-transition-property: none;
    // transition-property: none;
    background-position: left top;
    left: 0;
    right: auto;
  }
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 100%;
  }
  .bgimg:nth-child(4){
    width: 100%;
  }
  .bgimg:nth-child(3){
    width: 100%;
  }
  .bgimg:nth-child(2){
    width: 100%;
  }
  .bgimg:nth-child(1){
    width: 100%;
  }
}

.is-style2{
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 0;
  }
  .bgimg:nth-child(4){
    width: 100%;
  }
  .bgimg:nth-child(3){
    width: 100%;
  }
  .bgimg:nth-child(2){
    width: 100%;
  }
  .bgimg:nth-child(1){
    width: 100%;
  }
}
.is-style3{
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 0;
  }
  .bgimg:nth-child(4){
    width: 0;
  }
  .bgimg:nth-child(3){
    width: 100%;
  }
  .bgimg:nth-child(2){
    width: 100%;
  }
  .bgimg:nth-child(1){
    width: 100%;
  }
}
.is-style4{
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 0;
  }
  .bgimg:nth-child(4){
    width: 0;
  }
  .bgimg:nth-child(3){
    width: 0;
  }
  .bgimg:nth-child(2){
    width: 100%;
  }
  .bgimg:nth-child(1){
    width: 100%;
  }
}
.is-style5{
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 0;
  }
  .bgimg:nth-child(4){
    width: 0;
  }
  .bgimg:nth-child(3){
    width: 0;
  }
  .bgimg:nth-child(2){
    width: 0;
  }
  .bgimg:nth-child(1){
    width: 100%;
  }
}
.is-style6{
  .bgimg:nth-child(6){
    width: 0;
  }
  .bgimg:nth-child(5){
    width: 0;
  }
  .bgimg:nth-child(4){
    width: 0;
  }
  .bgimg:nth-child(3){
    width: 0;
  }
  .bgimg:nth-child(2){
    width: 0;
  }
  .bgimg:nth-child(1){
    width: 0;
  }
}