#img-wrap{
  position: relative;
  width: 320px;
  height: 480px;
  margin: 0 auto;
  background: url("/test/06.jpg") 0 0 no-repeat;
}
#img-wrap img{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.67s ease-in-out;
  -moz-transition: opacity 0.67s ease-in-out;
  -o-transition: opacity 0.67s ease-in-out;
  transition: opacity 0.67s ease-in-out;
}

#img-wrap.is-style1{
  img:nth-child(6){
    opacity: 1;
  }
  img:nth-child(5){
    opacity: 0;
  }
  img:nth-child(4){
    opacity: 0;
  }
  img:nth-child(3){
    opacity: 0;
  }
  img:nth-child(2){
    opacity: 0;
  }
  img:nth-child(1){
    opacity: 1;
  }
}

.is-style2{
  img:nth-child(6){
    opacity: 0;
  }
  img:nth-child(5){
    opacity: 1;
  }
  img:nth-child(4){
    opacity: 1;
  }
  img:nth-child(3){
    opacity: 0;
  }
  img:nth-child(2){
    opacity: 0;
  }
  img:nth-child(1){
    opacity: 0;
  }
}
.is-style3{
  img:nth-child(6){
    opacity: 0;
  }
  img:nth-child(5){
    opacity: 0;
  }
  img:nth-child(4){
    opacity: 1;
  }
  img:nth-child(3){
    opacity: 1;
  }
  img:nth-child(2){
    opacity: 0;
  }
  img:nth-child(1){
    opacity: 0;
  }
}
.is-style4{
  img:nth-child(6){
    opacity: 0;
  }
  img:nth-child(5){
    opacity: 0;
  }
  img:nth-child(4){
    opacity: 0;
  }
  img:nth-child(3){
    opacity: 1;
  }
  img:nth-child(2){
    opacity: 1;
  }
  img:nth-child(1){
    opacity: 0;
  }
}
.is-style5{
  img:nth-child(6){
    opacity: 0;
  }
  img:nth-child(5){
    opacity: 0;
  }
  img:nth-child(4){
    opacity: 0;
  }
  img:nth-child(3){
    opacity: 0;
  }
  img:nth-child(2){
    opacity: 1;
  }
  img:nth-child(1){
    opacity: 1;
  }
}
.is-style6{
  img:nth-child(6){
    opacity: 0;
  }
  img:nth-child(5){
    opacity: 0;
  }
  img:nth-child(4){
    opacity: 0;
  }
  img:nth-child(3){
    opacity: 0;
  }
  img:nth-child(2){
    opacity: 0;
  }
  img:nth-child(1){
    opacity: 1;
  }
}